﻿@model IEnumerable<Data.BANGGIAVESINH>

@{
    ViewBag.Title = "Danh mục Bảng giá vệ sinh";
}

<!--Show danh sách-->
<table class="table table-hover table-striped table-bordered table-width-medium" id="tbl-lst-sms">
    <tr class="title">
        <th colspan="3">
            <h5><img src="~/Content/Images/lr_title_icon.png" />Danh mục Bảng giá vệ sinh</h5>
        </th>
        <th style="text-align:right" colspan="3">
            @if (!User.IsInRole("ReadOnly"))
            {
                <h5 data-toggle="modal" data-target="#modalThemmoi">+Thêm mới</h5>
            }
        </th>
    </tr>
    <tr>
        <th class="centertext bluetext" >Tên BGVS</th>
        <th class="centertext bluetext">Tiền vệ sinh</th>
        <th class="centertext bluetext">Thuế</th>
        <th class="centertext bluetext">Tổng cộng</th>
        <th class="centertext bluetext" colspan="2">Chức năng</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>           
            <td>
                @if (!User.IsInRole("ReadOnly"))
                {
                    <input readonly type="text" value="@item.TENBGVS" id="txttenbgvs_@item.IDBGVS" name="txttenbgvs_@item.IDBGVS" class="form-control" onblur="save_ten(this,'@item.IDBGVS')" />
                }
                else
                {
                    @item.TENBGVS
                }
            </td>
            <td>@item.TIENVS</td>
            <td>@item.THUE</td>
            <td>                
                <input value="@item.THANHTIENVS" id="txtthanhtienvs_@item.IDBGVS" name="txtthanhtienvs_@item.IDBGVS" class="form-control centertext" readonly/>
            </td>
            
            @if (!User.IsInRole("ReadOnly"))
            {
                <td class="centertext">
                    <button style="color: #428bca" class="btn btn-default btn-button" onclick="openModal(@item.IDBGVS)" data-toggle="modal" data-target="#modalCapnhat">Cập nhật</button>
                </td>
                <td class="centertext">                
                    @*<button class="btn btn-default btn-button">@Html.ActionLink("Xóa", "XoaBGVS", new { id = item.IDBGVS }, new { @onclick = "return confirm('Bạn có chắc chắn muốn xóa?')"})</button>*@
                    <button style="color: #428bca" class="btn btn-default btn-button" value="@item.IDBGVS" onclick="xoaBGVS('@item.IDBGVS')">Xóa</button>
                </td>
            }
            
            
        </tr>
    }
</table>
<!-- Modal Them moi-->
<div id="modalThemmoi" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm mới Bảng giá vệ sinh</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="tbl-lst-sms">
                    <tr>
                        <td class="centertext bluetext">Tên Bảng giá vệ sinh</td>
                        <td><input placeholder="Nhập tên BGVS" id="tenbgvs" name="tenbgvs" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="centertext bluetext">Tổng tiền vệ sinh</td>
                        <td><input placeholder="Nhập tổng tiền vệ sinh" id="thanhtienvs" name="thanhtienvs" class="form-control" /></td>
                    </tr>
                </table>  
            </div>
            <div class="modal-footer">
                <button onclick="themBGVS()" type="button" class="btn btn-primary" data-dismiss="modal">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cap nhat-->
<div id="modalCapnhat" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cập nhật Bảng giá vệ sinh</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="tbl-lst-sms">
                    <tr>
                        <td class="centertext bluetext">Tên Bảng giá vệ sinh</td>
                        <td>
                            <input placeholder="Nhập tên BGVS" id="cntenbgvs" name="cntenbgvs" class="form-control" />
                            <input class="form-control" id="cnidbgvs" name="cnidbgvs" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td class="centertext bluetext">Tổng tiền vệ sinh</td>
                        <td><input placeholder="Nhập tổng tiền vs" id="cnthanhtienvs" name="cnthanhtienvs" class="form-control" /></td>
                    </tr>
                </table> 
            </div>
            <div class="modal-footer">
                <button onclick="capnhatBGVS()" type="button" class="btn btn-primary" data-dismiss="modal">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script>    
    function openModal(idbgvs)
    {
        $("#cnidbgvs").val(idbgvs);
        $("#cntenbgvs").val(document.getElementById("txttenbgvs_"+idbgvs).value);
        $("#cnthanhtienvs").val(document.getElementById("txtthanhtienvs_"+idbgvs).value);
    }
    function capnhatBGVS()
    {
        var idbgvs = $("#cnidbgvs").val();
        var tenbgvs = $("#cntenbgvs").val();
        var thanhtienvs = $("#cnthanhtienvs").val();
        bootbox.confirm({
            title: "Cập nhật thông tin",
            size: "small",
            message: "Việc thay đổi dữ liệu này sẽ ảnh hưởng trực tiếp đến toàn bộ dữ liệu khách hàng liên quan. Bạn có chắc chắn muốn lưu??",
            callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                if (result) {
                    if (tenbgvs != "" && thanhtienvs != "") {
                        $.ajax({
                            url: '@Url.Action("UpdateBGVS","BGVS")',
                            type: "POST",
                            data: 'idbgvs=' + idbgvs + '&thanhtienvs=' + thanhtienvs + '&tenbgvs=' + tenbgvs,
                            success: function (data) {
                                $.sweetModal({
                                    content: 'Cập nhật thành công!',
                                    icon: $.sweetModal.ICON_SUCCESS
                                });
                                window.location.reload();
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                $.sweetModal({
                                    content: 'Xảy ra lỗi trong quá trình thực hiện!',
                                    icon: $.sweetModal.ICON_ERROR
                                });
                            }
                        });
                    }
                }
            }
        });
    }
    function themBGVS() {
        if (tenbgvs.value != "" && thanhtienvs.value != "") {
            $.ajax({
                url: '@Url.Action("ThemBGVS","BGVS")',
                type: "POST",
                data: 'tenbgvs=' + tenbgvs.value + '&thanhtienvs=' + thanhtienvs.value,
                success: function (data) {
                    $.sweetModal({
                        content: 'Thêm mới thành công!',
                        icon: $.sweetModal.ICON_SUCCESS
                    });
                    window.location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $.sweetModal({
                        content: 'Xảy ra lỗi trong quá trình thực hiện!',
                        icon: $.sweetModal.ICON_ERROR
                    });
                }
            });
        }
    }
    function xoaBGVS(idbgvs) {
        bootbox.confirm({
            title: "Xác nhận xóa?",
            size: "small",
            message: "Bạn có chắc chắn muốn xóa mức giá này?",
            callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                if (result) {
                    $.ajax({
                        url: '@Url.Action("XoaBGVS","BGVS")',
                        type: "POST",
                        data: 'id=' + idbgvs,
                        success: function (data) {
                            $.sweetModal({
                                content: 'Xóa thành công!',
                                icon: $.sweetModal.ICON_SUCCESS
                            });
                            window.location.reload();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $.sweetModal({
                                content: 'Xảy ra lỗi trong quá trình thực hiện!',
                                icon: $.sweetModal.ICON_ERROR
                            });
                        }
                    });
                }
            }
        });
    }
</script>



