﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--meta name="viewport" content="width=device-width, initial-scale=1.0"-->
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jqueryui")
    <script src="~/Scripts/jquery.form.js"></script>
    <link href="~/Content/nhiSite.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content">
        <div class="row">
            <div class="col-12">
                <div class="body-header">
                    <p> @Html.ActionLink("Quản lý Khách hàng", "Index", "Home")</p>
                </div>
                <div class="menu">
                    <ul>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                QL khách hàng <img src="~/Content/Images/arrow-down.png" />
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Danh sách khách hàng", "Index", "Khachhang")</li>
                                @if (!User.IsInRole("ReadOnly"))
                                {
                                    <li>@Html.ActionLink("Import dữ liệu", "Import", "ImportExcel")</li>
                                    <li>@Html.ActionLink("Kết chuyển dữ liệu", "Index", "Ketchuyen")</li>
                                    <li>@Html.ActionLink("Chuyển sổ ghi khách hàng", "Index", "Chuyenkhachhang")</li>
                                }

                            </ul>
                        </li>
                        <!--Chức năng hóa đơn chưa sử dụng-->
                        @*@if (!User.IsInRole("ReadOnly"))
                            {
                                 <li class="dropdown">@Html.ActionLink("Hóa đơn", "Index", "Hoadon")</li>
                            }*@

                        @if (!User.IsInRole("ReadOnly"))
                        {
                    <!--Chức năng hóa đơn chưa sử dụng-->
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    Giao hóa đơn <img src="~/Content/Images/arrow-down.png" />
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Nhập giao hóa đơn", "Index", "Giaohoadon")</li>
                                    <li>@Html.ActionLink("Xóa chỉnh hóa đơn", "Xoachinhhoadon", "Giaohoadon")</li>
                                </ul>
                            </li>



                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    Hóa đơn điện tử<img src="~/Content/Images/arrow-down.png" />
                                </a>
                                <ul class="dropdown-menu">
                                    @*<li>@Html.ActionLink("Danh sách hóa đơn điện tử", "Index", "HDDT")</li>*@
                                    <li>@Html.ActionLink("Phát hành hóa đơn điện tử", "PhatHanh", "HDDT")</li>
                                    <li>@Html.ActionLink("Hủy hóa đơn điện tử", "Huy", "HDDT")</li>
                                    <li>@Html.ActionLink("Phát hành hóa đơn tùy chỉnh", "PhatHanhHoaDonConLai", "HDDT")</li>
                                    <li>@Html.ActionLink("In phiếu biên nhận", "PhieuBienNhan", "HDDT")</li>
                                    <li>@Html.ActionLink("Lập bảng kê hóa đơn điện tử", "BangKeHoaDon", "HDDT")</li>
                                    <li>@Html.ActionLink("Cấu hình tham số HDDT", "CauHinhHDDT", "HDDT")</li>
                                </ul>
                            </li>

                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                   role="button" aria-haspopup="true" aria-expanded="false">
                                    QL danh mục <img src="~/Content/Images/arrow-down.png" />
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Hình thức thanh toán", "Index", "HTTT")</li>
                                    <li>@Html.ActionLink("Đặc điểm", "Index", "Dacdiem")</li>
                                    <li>@Html.ActionLink("Sổ ghi", "Index", "Soghi")</li>
                                    <li>@Html.ActionLink("Đường", "Index", "Duong")</li>
                                    <li>@Html.ActionLink("Khu vực", "Index", "Khuvuc")</li>
                                    <li>@Html.ActionLink("Bảng giá vệ sinh", "Index", "BGVS")</li>
                                </ul>
                            </li>
                        }
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                QL tài khoản <img src="~/Content/Images/arrow-down.png" />
                            </a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("Administrator"))
                                {
                                    <li>@Html.ActionLink("Thêm tài khoản", "Index", "Account")</li>
                                    <li>@Html.ActionLink("Quản lý người dùng", "Quyen", "Account")</li>
                                }
                                <li>@Html.ActionLink("Cập nhật tài khoản", "Nguoidung", "Account")</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                Báo cáo <img src="~/Content/Images/arrow-down.png" />
                            </a>
                            <ul class="dropdown-menu">
                                <!--Chức năng hóa đơn chưa sử dụng-->
                                @*<li class="dropdown">
                                        <a href="" class="dropdown-toggle fly" data-toggle="dropdown"
                                           role="button" aria-haspopup="true"
                                           aria-expanded="false">Hóa đơn tồn đầu kỳ </a>
                                        <ul>
                                            <li>@Html.ActionLink("Bảng kê HĐ tồn đầu kỳ", "BangkeTondauky", "Report")</li>
                                            <li>@Html.ActionLink("Tổng hợp HĐ tồn đầu kỳ", "TonghopTondauky", "Report")</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-toggle fly" data-toggle="dropdown"
                                           role="button" aria-haspopup="true"
                                           aria-expanded="false">Hóa đơn phát sinh</a>
                                        <ul>
                                            <li>@Html.ActionLink("Bảng kê HĐ phát sinh", "BangkePhatsinh", "Report")</li>
                                            <li>@Html.ActionLink("Tổng hợp HĐ phát sinh", "TonghopPhatsinh", "Report")</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-toggle fly" data-toggle="dropdown"
                                           role="button" aria-haspopup="true"
                                           aria-expanded="false">Hóa đơn tồn cuối kỳ</a>
                                        <ul>
                                            <li>@Html.ActionLink("Bảng kê HĐ tồn cuối kỳ", "BangkeToncuoiky", "Report")</li>
                                            <li>@Html.ActionLink("Tổng hợp HĐ tồn cuối kỳ", "TonghopToncuoiky", "Report")</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-toggle fly" data-toggle="dropdown"
                                           role="button" aria-haspopup="true"
                                           aria-expanded="false">Hóa đơn thu được hiện tại</a>
                                        <ul>
                                            <li>@Html.ActionLink("Bảng kê HĐ thu được hiện tại", "BangkeThuhientai", "Report")</li>
                                            <li>@Html.ActionLink("Tổng hợp HĐ thu được hiện tại", "TonghopThuhientai", "Report")</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="" class="dropdown-toggle fly" data-toggle="dropdown"
                                           role="button" aria-haspopup="true"
                                           aria-expanded="false">Hóa đơn thu được tháng trước</a>
                                        <ul>
                                            <li>@Html.ActionLink("Bảng kê HĐ thu được tháng trước", "BangkeThuthangtruoc", "Report")</li>
                                            <li>@Html.ActionLink("Tổng hợp HĐ thu được tháng trước", "TonghopThuthangtruoc", "Report")</li>
                                        </ul>
                                    </li>*@
                                <li>@Html.ActionLink("Tiền vệ sinh từng đường", "Index", "Report")</li>
                                <li>@Html.ActionLink("Tiền vệ sinh từng khu vực", "Khuvuc", "Report")</li>
                                <li>@Html.ActionLink("Kê thu tiền vệ sinh tháng", "Thang", "Report")</li>
                                <!--Chức năng Hóa đơn chưa sử dụng-->
                                @*<li>@Html.ActionLink("Giao nhận phiếu thu VS", "Giaohoadon", "Report")</li>
                                    <li>@Html.ActionLink("Tổng hợp giao nhận VS", "ChitietGiaohoadon", "Report")</li>*@
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>

                            @if (Request.IsAuthenticated)
                            {
                                @Html.ActionLink(User.Identity.Name + " - Đăng xuất", "LogOut", "Home")
                            }
                            else
                            {
                                @Html.ActionLink("Đăng nhập", "LogIn", "Home")
                            }

                        </li>
                    </ul>

                </div>

                @RenderBody()
                @*<hr />*@
            </div>
        </div>
    </div>
    <div class="nhi-fade">
        <div class="nhi-spinner"></div>
    </div>
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootbox")
    @Scripts.Render("~/bundles/sweetmodal")
    
    <script>
        $(function () {
            $(".jqueryui-marker-datepicker").datepicker({
                dateFormat: "dd-mm-yy",
                changeYear: true,
                firstDay: 1,
                showWeek: true,
                constrainInput: true,
                dayNames: ["Chủ nhật", "Thứ hai", "Thứ ba", "Thứ tư", "Thứ năm", "Thứ sáu", "Thứ bảy"],
                dayNamesMin: ["CN", "T2", "T3", "T4", "T5", "T6", "T7"],
                monthNames: ["T.Một", "T.Hai", "T.Ba", "T.Tư", "T.Năm", "T.Sáu", "T.Bảy", "T.Tám", "T.Chín", "T.Mười", "T.Mười Một", "T.Mười Hai"],
                weekHeader: "Tuần"
                //showOn: "button"
            }).css("display", "inline-block");
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
<footer>
    <div>
        <p>
            Bản quyền &copy; 2015.VNPT Cà Mau<br />
            Xây dựng và phát triển bởi Trung tâm Công nghệ thông tin<br />
            Địa chỉ: 03, Lưu tấn Tài, Phường 5, Tp.Cà Mau, Tỉnh Cà Mau | Tel: 0290.3815888  | Fax: 0290.3825666 | Email: cntt.cmu@vnpt.vn
        </p>
    </div>
</footer>
</html>
