﻿@model PagedList.IPagedList<Data.DUONG>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Danh mục Đường";
}
@using (Html.BeginForm("Duong", "Duong", FormMethod.Get))
{
    <div style="float: right" class="form-group input-group col-md-5">
        <input type="hidden" value="@ViewBag.khuvuc" id="khuvuc" name="khuvuc" />      
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Nhập tên đường" })
        <span class="input-group-btn"><input type="submit" value="Tìm Kiếm" class="btn btn-primary" /></span>
    </div>
}
<!--Dãy trang-->
<div class="page-count" style="display:inline-block; vertical-align:middle;">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
</div>
<div class="pagination" style="display:inline-block; vertical-align:middle;">
   @Html.PagedListPager(Model, page => Url.Action("Duong", new { ViewBag.khuvuc, page, currentFilter = ViewBag.CurrentFilter }))
</div>
<!--Show danh sách-->
<table class="table table-hover table-striped table-bordered table-width-medium" id="tbl-lst-sms">
    <tr class="title">
        <th colspan="2">
            <h5><img src="~/Content/Images/lr_title_icon.png" />Danh mục đường @ViewBag.tenkhuvuc</h5>
        </th>
        <th style="text-align:right" colspan="3">
            @if (!User.IsInRole("ReadOnly"))
            {
                <h5 data-toggle="modal" data-target="#myModal">+Thêm mới</h5>
            }
        </th>
    </tr>
    <tr>
        <th class="centertext bluetext">ID đường</th>
        <th class="centertext bluetext">Tên đường</th>
        <th class="centertext bluetext">Chức năng</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="centertext">@item.IDDUONG</td>
            <td>
                @if (!User.IsInRole("ReadOnly"))
                {
                    <input type="text" value="@item.TENDUONG" id="txttenduong" name="txttenduong" class="form-control" onkeypress="update(this,'@item.IDDUONG', event)" />
                }
                else
                {
                    @item.TENDUONG
                }
            </td>
            <td class="centertext">
                @if (!User.IsInRole("ReadOnly"))
                {
                    <button style="color: #428bca" class="btn btn-default btn-button" value="@item.IDDUONG" onclick="xoaDuong('@item.IDDUONG')">Xóa</button>
                    @*@Html.ActionLink("Xóa", "XoaDuong", new { id = item.IDDUONG }, new { @onclick = "return confirm('Bạn có chắc chắn muốn xóa?')" })*@
                }
            </td>
        </tr>
    }
</table>
<!--Dãy trang-->
<div class="page-count" style="display:inline-block; vertical-align:middle;">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
</div>
<div class="pagination" style="display:inline-block; vertical-align:middle;">
    @Html.PagedListPager(Model, page => Url.Action("Duong", new { ViewBag.khuvuc, page, currentFilter = ViewBag.CurrentFilter }))
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm mới @ViewBag.Title</h4>
            </div>
            <div class="modal-body"> 
                <table class="table table-bordered" id="tbl-lst-sms">
                    <tr>
                        <td class="centertext bluetext">Tên đường</td>
                        <td><input placeholder="Nhập tên đường" id="tenduong" name="tenduong" class="form-control" /></td>
                    </tr> 
                </table>                 
                @*<input placeholder="Nhập tên đường" id="tenduong" name="tenduong" class="form-control" /><hr />*@
            </div>
            <div class="modal-footer">
                <button onclick="themDuong()" type="button" class="btn btn-primary" data-dismiss="modal">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script>
    function update(editableObj, idduong, event) {

        var key = event.keyCode || event.which;
        if (key == 13) {
            bootbox.confirm({
                title: "Cập nhật thông tin",
                size: "small",
                message: "Bạn có chắc chắn muốn đổi tên Đường này?",
                callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                    if (result) {
                        $.ajax({
                            url: '@Url.Action("UpdateDuong","Duong")',
                            type: "POST",
                            data: 'idduong=' + idduong + '&tenduong=' + editableObj.value,
                            success: function (data) {
                                $.sweetModal({
                                    content: 'Cập nhật thành công!',
                                    icon: $.sweetModal.ICON_SUCCESS
                                });
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                $.sweetModal({
                                    content: 'Xảy ra lỗi trong quá trình thực hiện!',
                                    icon: $.sweetModal.ICON_ERROR
                                });
                            }
                        });
                    }
                }
            });
        }
    }
    function themDuong() {
        if (tenduong.value != "") {
            $.ajax({
                url: '@Url.Action("ThemDuong","Duong")',
                type: "POST",
                data: 'makhuvuc=' + "@ViewBag.khuvuc" + '&tenduong=' + tenduong.value,
                success: function (data) {
                    $.sweetModal({
                        content: 'Thêm mới thành công!',
                        icon: $.sweetModal.ICON_SUCCESS
                    });
                    window.location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $.sweetModal({
                        content: 'Xảy ra lỗi trong quá trình thực hiện!',
                        icon: $.sweetModal.ICON_ERROR
                    });
                }
            });
        }
    }
    function xoaDuong(idduong) {
        bootbox.confirm({
            title: "Xác nhận xóa?",
            size: "small",
            message: "Bạn có chắc chắn muốn xóa Đường này?",
            callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                if (result) {
                    $.ajax({
                        url: '@Url.Action("XoaDuong","Duong")',
                        type: "POST",
                        data: 'id=' + idduong,
                        success: function (data) {
                            $.sweetModal({
                                content: 'Xóa thành công!',
                                icon: $.sweetModal.ICON_SUCCESS
                            });
                            window.location.reload();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $.sweetModal({
                                content: 'Xảy ra lỗi trong quá trình thực hiện!',
                                icon: $.sweetModal.ICON_ERROR
                            });
                        }
                    });
                }
            }
        });
    }
</script>



