﻿@model IEnumerable<Data.KHUVUC>
@{
    ViewBag.Title = "Danh sách đường";
}

@using (Html.BeginForm("Duong", "Duong", FormMethod.Get))
{
    <table class="table table-hover table-striped table-bordered table-width-medium" id="tbl-lst-sms">
        <tr class="title">
            <th colspan="3">
                <h5><img src="~/Content/Images/lr_title_icon.png" />Danh sách đường</h5>
            </th>
        </tr>
        <tr>
            <td colspan="3">
                <select class="form-control" id="khuvuc" name="khuvuc">
                    <option>Chọn khu vực</option>
                    @foreach (var item in Model)
                    {
                        <option value='@item.MAKHUVUC'>@item.TENKHUVUC</option>
                    }
                </select>                
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><input type="submit" value="Xem danh sách đường" class="btn btn-primary" /></td>
        </tr>
    </table>
}


