﻿@model IEnumerable<Data.CHUKY_KHUVUC>

@{
    ViewBag.Title = "Chuyển sổ ghi hàng loạt khách hàng";
}

    <div class="title">
        <h5><img src="~/Content/Images/lr_title_icon.png" />Chọn Chu kỳ - Khu vực - Đường - Sổ ghi cần chuyển đến</h5>
    </div>
    <table class="table table-index table-hover table-bordered table-width-medium" id="tbl-lst-sms">
        <tr class="coloredtr">
            <td colspan="3" class="centertext">
                <span class="greentext">CHỌN THỜI GIAN</span>
            </td>
        </tr>
        <tr>
            <td><span class="bluetext">Nhập Năm</span> @*@Html.DropDownList("nam", (SelectList)ViewBag.NamList, "Chọn năm", new { @class = "form-control" })*@
                @{
                    string currentYear = DateTime.Now.Year.ToString();
                }
                <input id="nam" name="nam" class="form-control" value="@currentYear" placeholder="Nhập năm" />
            </td>
            <td style="border-right: none">
                <span class="bluetext">Chọn tháng</span>
                <select class="form-control" id="chuky" name="chuky">
                    <option value="0">Chọn tháng</option>
                </select>
            </td>
            <td style="border-left: none"></td>
        </tr>
        <tr class="coloredtr">
            <td colspan="3" class="centertext">
                <span class="greentext">CHUYỂN TỪ SỔ GHI</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="bluetext">Chọn khu vực</span>
                <select class="form-control" id="khuvuc_chuyen" name="khuvuc_chuyen">
                    <option value="0">Chọn khu vực</option>
                </select>
            </td>
            <td>
                <span class="bluetext">Chọn đường</span>
                <select class="form-control" id="duong_chuyen" name="duong_chuyen">
                    <option value="0">Chọn đường</option>
                </select>
            </td>
            <td>
                <span class="bluetext">Chọn sổ ghi</span>
                <select class="form-control" id="soghi_chuyen" name="soghi_chuyen">
                    <option value="0">Chọn sổ ghi</option>
                </select>
            </td>    
        </tr>
        <tr class="coloredtr">
            <td colspan="3" class="centertext">
                <span class="greentext">NHẬP KHOẢNG KHÁCH HÀNG SẼ CHUYỂN</span>
            </td>
        </tr>
        <tr>
            <td>
                <b><span class="required">Từ danh số (*)</span></b>
                <input class="form-control" placeholder="Nhập từ danh số" id="tuds" maxlength="6" />
            </td>
            <td style="border-right:none">
                <span class="bluetext">Đến danh số</span>
                <input class="form-control" placeholder="Nhập đến danh số" id="dends" maxlength="6" />
            </td>
            <td style="border-left:none"></td>
        </tr>
        <tr class="coloredtr">
            <td colspan="3" class="centertext">
                <span class="greentext">CHUYỂN ĐẾN SỔ GHI</span>
            </td>
        </tr>
        <tr>            
            <td>
                <span class="bluetext">Chọn khu vực</span>
                <select class="form-control" id="khuvuc_den" name="khuvuc_den">
                    <option value="0">Chọn khu vực</option>
                </select>
            </td>
            <td>
                <span class="bluetext">Chọn đường</span>
                <select class="form-control" id="duong_den" name="duong_den">
                    <option value="0">Chọn đường</option>
                </select>
            </td>
            <td>
                <span class="bluetext">Chọn sổ ghi</span>
                <select class="form-control" id="soghi_den" name="soghi_den">
                    <option value="0">Chọn sổ ghi</option>
                </select>
            </td>           
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><button class="btn btn-primary" id="btnchuyen" onclick="Chuyenkhachhang()">Chuyển khách hàng đến sổ ghi khác</button></td>
        </tr>       
    </table>

    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function getChuky(nam) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("getChukybyNam","Chuyenkhachhang")',
                    dataType: "json",
                    data: { nam: nam },
                    success: function (data) {
                        $("#chuky").html("");
                        $("#khuvuc").html("");
                        $("#duong").html("");
                        $("#soghi").html("");
                        $("#chuky").append('<option value="0">Chọn tháng</option>');
                        $("#khuvuc").append('<option value="0">Chọn khu vực</option>');
                        $("#duong").append('<option value="0">Chọn đường</option>');
                        $("#soghi").append('<option value="0">Chọn sổ ghi</option>');
                        $.each(data, function (i, data2) {
                            $("#chuky").append('<option value= "' + data2.CHUKY + '">' + data2.TENCHUKY + '</option>');
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }
                });
            }
            var nam = $("#nam").val().toString();
            getChuky(nam);

            $("#nam").keyup(function () {
                var nam = $("#nam").val().toString();
                getChuky(nam);
            });
            $("#chuky").change(function () {
                var chuky = $("#chuky").val().toString();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("getKhuvuc","Chuyenkhachhang")',
                    dataType: "json",
                    data: { chuky: chuky },
                    success: function (data) {
                        $("#khuvuc_chuyen").html("");
                        $("#duong_chuyen").html("");
                        $("#soghi_chuyen").html("");
                        $("#khuvuc_chuyen").append('<option value="0">Chọn khu vực</option>');
                        $("#duong_chuyen").append('<option value="0">Chọn đường</option>');
                        $("#soghi_chuyen").append('<option value="0">Chọn sổ ghi</option>');
                        $("#khuvuc_den").html("");
                        $("#duong_den").html("");
                        $("#soghi_den").html("");
                        $("#khuvuc_den").append('<option value="0">Chọn khu vực</option>');
                        $("#duong_den").append('<option value="0">Chọn đường</option>');
                        $("#soghi_den").append('<option value="0">Chọn sổ ghi</option>');
                        $.each(data, function (i, data2) {
                            $("#khuvuc_chuyen").append('<option value= "' + data2.MAKHUVUC + '">' + data2.TENKHUVUC + '</option>');
                            $("#khuvuc_den").append('<option value= "' + data2.MAKHUVUC + '">' + data2.TENKHUVUC + '</option>');
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {}
                });
            });
            $("#khuvuc_chuyen").change(function () {
                var khuvuc = $("#khuvuc_chuyen").val().toString();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("getDuong", "Chuyenkhachhang")',
                    dataType: "json",
                    data: { khuvuc: khuvuc },
                    success: function (data) {
                        $("#duong_chuyen").html("");
                        $("#soghi_chuyen").html("");
                        $("#duong_chuyen").append('<option value="0">Chọn đường</option>');
                        $("#soghi_chuyen").append('<option value="0">Chọn sổ ghi</option>');
                        $.each(data, function (i, data2) {
                            $("#duong_chuyen").append('<option value= "' + data2.IDDUONG + '">' + data2.TENDUONG + '</option>');
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {}
                });
            });
            $("#duong_chuyen").change(function () {
                var duong = $("#duong_chuyen").val().toString();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("getSoghi", "Chuyenkhachhang")',
                    dataType: "json",
                    data: { duong: duong },
                    success: function (data) {
                        $("#soghi_chuyen").html("");
                        //$("#soghi").append('<option value="0">Chọn sổ ghi</option>');
                        $.each(data, function (i, data2) {
                            $("#soghi_chuyen").append('<option value= "' + data2.MASOGHI + '">' + data2.TENSOGHI + '</option>');
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {}
                });
            });
            $("#khuvuc_den").change(function () {
                var khuvuc = $("#khuvuc_den").val().toString();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("getDuong", "Chuyenkhachhang")',
                    dataType: "json",
                    data: { khuvuc: khuvuc },
                    success: function (data) {
                        $("#duong_den").html("");
                        $("#soghi_den").html("");
                        $("#duong_den").append('<option value="0">Chọn đường</option>');
                        $("#soghi_den").append('<option value="0">Chọn sổ ghi</option>');
                        $.each(data, function (i, data2) {
                            $("#duong_den").append('<option value= "' + data2.IDDUONG + '">' + data2.TENDUONG + '</option>');
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) { }
                });
            });
            $("#duong_den").change(function () {
                var duong = $("#duong_den").val().toString();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("getSoghi", "Chuyenkhachhang")',
                    dataType: "json",
                    data: { duong: duong },
                    success: function (data) {
                        $("#soghi_den").html("");
                        //$("#soghi").append('<option value="0">Chọn sổ ghi</option>');
                        $.each(data, function (i, data2) {
                            $("#soghi_den").append('<option value= "' + data2.MASOGHI + '">' + data2.TENSOGHI + '</option>');
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) { }
                });
            });
        });
        function Chuyenkhachhang() {
            //var cf = confirm('Bạn có chắc chắn muốn chuyển các khách hàng có mã số này qua sổ ghi khác?');
            var tuds = $("#tuds").val();
            var dends = $("#dends").val();
            var chuky = $("#chuky").val().toString();
            var khuvuc_den = $("#khuvuc_den").val().toString();
            var duong_den = $("#duong_den").val();
            var soghi_den = $("#soghi_den").val().toString();
            var khuvuc_chuyen = $("#khuvuc_chuyen").val().toString();
            var duong_chuyen = $("#duong_chuyen").val();
            var soghi_chuyen = $("#soghi_chuyen").val().toString();

            bootbox.confirm({
                title: "Chuyển sổ ghi khách hàng",
                size: "small",
                message: "Bạn có chắc chắn muốn chuyển sổ ghi khách hàng này?",
                callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                    if (result) {
                        if (tuds != "") {
                            ajaxindicatorstart('Đang chuyển sổ ghi khách hàng.. Vui lòng đợi..');
                            $.ajax({
                                url: '@Url.Action("Chuyenkhachhang","Chuyenkhachhang")',
                                type: "POST",
                                data: 'tuds=' + tuds + '&dends=' + dends + '&chuky=' + chuky + '&khuvuc_chuyen=' + khuvuc_chuyen + '&duong_chuyen=' + duong_chuyen + '&soghi_chuyen=' + soghi_chuyen + '&khuvuc_den=' + khuvuc_den + '&duong_den=' + duong_den + '&soghi_den=' + soghi_den 
                            }).done(function (data) {
                                ajaxindicatorstop();
                                $.sweetModal({
                                    content: 'Chuyển khách hàng thành công!',
                                    icon: $.sweetModal.ICON_SUCCESS
                                });

                            }).fail(function (data) {
                                ajaxindicatorstop();
                                $.sweetModal({
                                    content: 'Bạn không thể chuyển sổ ghi khách hàng này!',
                                    icon: $.sweetModal.ICON_ERROR
                                });

                            });
                        }
                        else {
                            $.sweetModal({
                                content: 'Bạn chưa nhập danh số bắt đầu!',
                                icon: $.sweetModal.ICON_ERROR
                            });
                        }
                    }
                }
            });


            @*if (tuds != "" && cf == true) {
                ajaxindicatorstart('Đang chuyển sổ ghi khách hàng.. Vui lòng đợi..');
                $.ajax({
                    url: '@Url.Action("Chuyenkhachhang","Chuyenkhachhang")',
                    type: "POST",
                    data: 'tuds=' + tuds + '&dends=' + dends + '&chuky=' + chuky + '&khuvuc_chuyen=' + khuvuc_chuyen + '&duong_chuyen=' + duong_chuyen + '&soghi_chuyen=' + soghi_chuyen + '&khuvuc_den=' + khuvuc_den + '&duong_den=' + duong_den + '&soghi_den=' +soghi_den,
                    success: function (data) {
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                    }
                }).done(function (data) {
                    ajaxindicatorstop();
                    $.sweetModal({
                        content: 'Chuyển khách hàng thành công!',
                        icon: $.sweetModal.ICON_SUCCESS
                    });

                }).fail(function (data) {
                    ajaxindicatorstop();
                    $.sweetModal({
                        content: 'Bạn không thể chuyển sổ ghi khách hàng này!',
                        icon: $.sweetModal.ICON_SUCCESS
                    });

                });
            }
            else {
                $.sweetModal({
                    content: 'Bạn chưa nhập danh số bắt đầu!',
                    icon: $.sweetModal.ICON_ERROR
                });
            }*@
        };
        function ajaxindicatorstart(text) {
            if (jQuery('body').find('#resultLoading').attr('id') != 'resultLoading') {
                jQuery('body').append('<div id="resultLoading" style="display:none"><div><img src="../Content/Images/ajax-loader.gif"><div>' + text + '</div></div><div class="bg"></div></div>');
            }

            jQuery('#resultLoading').css({
                'width': '100%',
                'height': '100%',
                'position': 'fixed',
                'z-index': '10000000',
                'top': '0',
                'left': '0',
                'right': '0',
                'bottom': '0',
                'margin': 'auto'
            });

            jQuery('#resultLoading .bg').css({
                'background': '#000000',
                'opacity': '0.7',
                'width': '100%',
                'height': '100%',
                'position': 'absolute',
                'top': '0'
            });

            jQuery('#resultLoading>div:first').css({
                'width': '250px',
                'height': '75px',
                'text-align': 'center',
                'position': 'fixed',
                'top': '0',
                'left': '0',
                'right': '0',
                'bottom': '0',
                'margin': 'auto',
                'font-size': '16px',
                'z-index': '10',
                'color': '#ffffff'

            });

            jQuery('#resultLoading .bg').height('100%');
            jQuery('#resultLoading').fadeIn(300);
            jQuery('body').css('cursor', 'wait');
        };
        function ajaxindicatorstop() {
            jQuery('#resultLoading .bg').height('100%');
            jQuery('#resultLoading').fadeOut(300);
            jQuery('body').css('cursor', 'default');
        };


    </script>




