﻿@model PagedList.IPagedList<Data.ViewModels.Hoadon>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    var c = ViewBag.chuky.ToString().Substring(4) + "/" + ViewBag.chuky.ToString().Substring(0,4);
    ViewBag.Title = "Danh sách hóa đơn " + c;
    var chuky = ViewBag.chuky.ToString();
    var khuvuc = ViewBag.khuvuc.ToString();
    var duong = ViewBag.duong.ToString();
    var soghi = ViewBag.soghi.ToString();
    var tthoadon = ViewBag.tthoadon.ToString();
    var loaihoadon = ViewBag.loaihoadon.ToString();
    string CurrentURL = Request.Url.AbsoluteUri;
    string n = "";
    if (CurrentURL.Contains("TM"))
    {
        n = "(Tiền mặt)";
    }
    else if (CurrentURL.Contains("CK"))
    {
        n = "(Chuyển khoản)";
    }
}
<!--Nhảy trang, Hiển thị--> 
@using (Html.BeginForm("Hoadon", "Hoadon", FormMethod.Get))
{
    <!--Hidden-->
    <input value="@ViewBag.chuky" id="chuky" name="chuky" type="hidden" />
    <input value="@ViewBag.khuvuc" id="khuvuc" name="khuvuc" type="hidden" />
    <input value="@ViewBag.duong" id="duong" name="duong" type="hidden" />
    <input value="@ViewBag.soghi" id="soghi" name="soghi" type="hidden" />
    <input value="@ViewBag.tthoadon" id="tthoadon" name="tthoadon" type="hidden" />
    <input value="@ViewBag.loaihoadon" id="loaihoadon" name="loaihoadon" type="hidden" />
    <input value="@ViewBag.httt" id="httt" name="httt" type="hidden" />
    <input value="@ViewBag.currentFilter" id="currenrFilter" name="currentFilter" type="hidden" />

    <!--Nhảy trang-->
    <div class="col-md-4 input-group form-group">
        @Html.TextBox("page", null, new { @class = "form-control", @placeholder = "Nhập số trang" })
        <span class="input-group-btn"><input type="submit" value="Đến trang" class="btn btn-primary" /></span>
    </div>
    <!--Hiển thị-->
    <div class="col-md-4 input-group form-group">
        <select id="pagesize" name="pagesize" class="form-control">
            @for (int i = 10; i <= 100; i = i + 20)
            {
                if (i == ViewBag.pagesize)
                {
                <option selected>@i</option>    }
                else
                {
                <option>@i</option>    }
            }
        </select>
        <span class="input-group-btn"><input type="submit" value="Hiển thị" class="btn btn-primary" /></span>
    </div>
}

<!--Tìm kiếm-->
@using (Html.BeginForm("Hoadon", "Hoadon", FormMethod.Get))
{
    <!--Hidden-->
    <input value="@ViewBag.chuky" id="chuky" name="chuky" type="hidden" />
    <input value="@ViewBag.duong" id="duong" name="duong" type="hidden" />
    <input value="@ViewBag.khuvuc" id="khuvuc" name="khuvuc" type="hidden" />
    <input value="@ViewBag.soghi" id="soghi" name="soghi" type="hidden" />
    <input value="@ViewBag.tthoadon" id="tthoadon" name="tthoadon" type="hidden" />
    <input value="@ViewBag.loaihoadon" id="loaihoadon" name="loaihoadon" type="hidden" />
    <input value="@ViewBag.httt" id="httt" name="httt" type="hidden" />
    <!--Textbox-->
    <div class="col-md-4 input-group form-group">
         @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Từ khóa" })
        <span class="input-group-btn"><input type="submit" value="Tìm kiếm" class="btn btn-primary" /></span>
    </div>
}

<!--Dãy trang-->
<div class="page-count" style="display:inline-block; vertical-align:middle;">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
</div>
<div class="pagination" style="display:inline-block; vertical-align:middle;">
    @Html.PagedListPager(Model, page => Url.Action("Hoadon", new { ViewBag.chuky, ViewBag.khuvuc, ViewBag.duong, ViewBag.soghi, ViewBag.tthoadon, ViewBag.loaihoadon, ViewBag.httt, page, pagesize = ViewBag.pagesize, currentFilter = ViewBag.CurrentFilter }))
</div>


<!--Show danh sách-->
<table class="table table-hover table-bordered table-striped" id="tbl-lst-sms">
    <tr class="title">
        <th colspan="10">
            <h5><img src="~/Content/Images/lr_title_icon.png" />Danh sách hóa đơn @ViewBag.chuky.ToString().Substring(4) / @ViewBag.chuky.ToString().Substring(0, 4) @n </h5>
        </th>            
        @if (CurrentURL.Contains("TM") || CurrentURL.Contains("CK"))
        {
            <th style="text-align: center">
                <h5>@Html.ActionLink("Toàn bộ", "Hoadon", new { ViewBag.chuky, ViewBag.khuvuc, ViewBag.duong, ViewBag.soghi, ViewBag.tthoadon, ViewBag.loaihoadon }, new { @style = "text-decoration: none; color: white" })</h5>
            </th>
        }
        else
        {
            <th style="text-align: center">
                <h5 style="color: blue">Toàn bộ</h5>
            </th>
        }
        @if (CurrentURL.Contains("CK") || !CurrentURL.Contains("httt") || CurrentURL.Contains("httt=&"))
        {
            <th style="text-align: center">
                <h5>@Html.ActionLink("Tiền mặt", "Hoadon", new { ViewBag.chuky, ViewBag.khuvuc, ViewBag.duong, ViewBag.soghi, ViewBag.tthoadon, ViewBag.loaihoadon, httt = "TM" }, new { @style = "text-decoration: none; color: white" })</h5>
            </th>
        }
        else
        {
            <th style="text-align: center">
                <h5 style="color: blue">Tiền mặt</h5>
            </th>
        }
        @if (CurrentURL.Contains("TM") || !CurrentURL.Contains("httt") || CurrentURL.Contains("httt=&"))
        {
            <th style="text-align: center">
                <h5>@Html.ActionLink("Chuyển khoản", "Hoadon", new { ViewBag.chuky, ViewBag.khuvuc, ViewBag.duong, ViewBag.soghi, ViewBag.tthoadon, ViewBag.loaihoadon, httt = "CK" }, new { @style = "text-decoration: none; color: white" })</h5>
            </th>
        }
        else
        {
            <th style="text-align: center">
                <h5 style="color: blue">Chuyển khoản</h5>
            </th>
        }
    </tr>
    <tr>
        <th colspan="13">      
            @Html.ActionLink("Export danh sách hóa đơn", "Export", new { chuky, khuvuc, duong, soghi, tthoadon, loaihoadon }, new { @class = "btn btn-default btn-button", @style = "color: #428bca" })
            @if (!User.IsInRole("ReadOnly"))
            {
                <span class="btn btn-default btn-button" style="color: #428bca" data-toggle="modal" data-target="#nhapthanhtoan">Nhập hóa đơn thanh toán</span>
                <span class="btn btn-default btn-button" data-toggle="modal" data-target="#nhapton" style="color: #428bca">Nhập hóa đơn tồn</span>
                <span class="btn btn-default btn-button" style="color: #428bca" onclick="Thanhtoan('@ViewBag.chuky', '@ViewBag.khuvuc', '@ViewBag.duong', '@ViewBag.soghi', '@ViewBag.tthoadon', '@ViewBag.loaihoadon', '@ViewBag.httt')">Chấm thanh toán tất cả</span>
                <span class ="btn btn-default btn-button" style="color: #428bca" onclick="Ton('@ViewBag.chuky', '@ViewBag.khuvuc', '@ViewBag.duong', '@ViewBag.soghi', '@ViewBag.tthoadon', '@ViewBag.loaihoadon', '@ViewBag.httt')">Chấm tồn tất cả</span>
            }
        </th>  
    </tr>
    <tr>
        <th>Tháng</th>
        <th>Mã số</th>
        <th>Mã số CĐ</th>
        <th>Họ tên</th>
        <th>Số nhà</th>
        <th>Mã số thuế</th>
        <th>STK</th>
        <th>Tiền VS</th>
        <th>Thuế</th>
        <th>Tổng tiền</th>
        <th>Sổ ghi</th>
        <th>Trạng thái</th>
        <th>Ghi chú</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CHUKYNO.ToString().Substring(4)/@item.CHUKYNO.ToString().Substring(0, 4)</td>
            <td>@item.DANHSO</td>
            <td>@item.MASOCD</td>
            <td>@item.HOTEN</td>
            <td>@item.SONHA</td>
            <td>@item.MASOTHUE</td>
            <td>@item.SOTK</td>
            <td>@item.TIENVS</td>
            <td>@item.THUE</td>
            <td>@item.THANHTIENVS</td>
            <td>@item.TENSOGHI</td>            
            @if (item.TRANGTHAI == "CHUAXULY" || item.TRANGTHAI == null)
            {
                <td>Chưa xử lý</td>
            }
            else if (item.TRANGTHAI == "TTOAN" /*|| item.TRANGTHAI == null*/)
            {
                <td>Thanh toán</td>
            }
            else if (item.TRANGTHAI == "TON" /*|| item.TRANGTHAI == null*/)
            {
                <td>Tồn</td>
            }
            <td>@item.GHICHU</td>
        </tr>
    }
</table>
    
<!--Modal hóa đơn nhập thanh toán-->
<div id="nhapthanhtoan" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nhập hóa đơn thanh toán</h4>
            </div>
            <div class="modal-body">
                <p>
                    <input value="" id="dsmscd" name="dsmscd" class="form-control" placeholder="Nhập danh số hoặc mã số cố định" />
                </p>
                <div id="dshd"></div>
            </div>
            <div class="modal-footer">
                <input id="btnthanhtoan" name="btnthanhtoan" value="Chấm thanh toán" class="btn btn-primary" onclick="Chamthanhtoan()" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!--Modal hóa đơn nhập tồn-->
<div id="nhapton" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nhập hóa đơn tồn</h4>
            </div>
            <div class="modal-body">
                <p>
                    <input value="" id="dsmscd2" name="dsmscd2" class="form-control" placeholder="Nhập danh số hoặc mã số cố định" />
                </p>
                <div id="dshd2"></div>
            </div>
            <div class="modal-footer">
                <input id="btnton" name="btnton" value="Chấm tồn" class="btn btn-primary" onclick="Chamton()" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<!--Script-->


<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script>
    function Thanhtoan(chuky, khuvuc, duong, soghi, tthoadon, loaihoadon, httt) {
        var cf = confirm("Bạn có chắc chắn muốn chấm thanh toán tất cả?");
        if (cf) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Thanhtoantatca","Hoadon")',
                //dataType: "json",
                data: { chuky: chuky, khuvuc: khuvuc, duong: duong, soghi: soghi, tthoadon: tthoadon, loaihoadon: loaihoadon, httt: httt },
                success: function (data) {
                    alert("Chấm thanh toán tất cả thành công.");
                    window.location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
    };
    function Ton(chuky, khuvuc, duong, soghi, tthoadon, loaihoadon, httt) {
        var cf = confirm("Bạn có chắc chắn muốn chấm tồn tất cả?");
        if (cf) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Tontatca","Hoadon")',
                //dataType: "json",
                data: { chuky: chuky, khuvuc: khuvuc, duong: duong, soghi: soghi, tthoadon: tthoadon, loaihoadon: loaihoadon, httt: httt },
                success: function (data) {
                    alert("Chấm tồn tất cả thành công.");
                    window.location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
    };


    $("#dsmscd").on("keydown", function (event) {
        if (event.which == 13) {
            var dsmscd = $("#dsmscd").val();
            var chuky = "@ViewBag.chuky";
            $.ajax({
                type: "POST",
                url: '@Url.Action("getHoadon","Hoadon")',
                dataType: "json",
                data: { dsmscd: dsmscd, chuky: chuky },
                success: function (data) {
                    $("#dshd").html("");
                    if (data.length != 0) {
                        $("#dshd").html("");
                        var str = "";
                        str += "<table id='bh' table class='table table-hover table-striped' id='tbl-lst-sms'>";
                        str += "<thead><th></th><th>Tháng</th><th>Danh số</th><th>MSCĐ</th><th>Họ tên</th><th>Số nhà</th><th>Tổng tiền</th></thead>";
                        str += "<tbody>";
                        for (i = 0; i < data.length; i++) {

                            str += "<tr>";
                            str += "<td><input name='chk[]' type='checkbox' value='" + data[i].CHUKYNO + "' checked='checked'/></td>";
                            str += "<td>" + data[i].CHUKYNO.toString().substring(6, 4) + "/" + data[i].CHUKYNO.toString().substring(0, 4) + "</td>";
                            str += "<td>" + data[i].DANHSO + "</td>";
                            str += "<td>" + data[i].MASOCD + "</td>";
                            str += "<td>" + data[i].HOTEN + "</td>";
                            str += "<td>" + data[i].SONHA + "</td>";
                            str += "<td>" + data[i].THANHTIENVS + "</td>";
                            str += "</tr>";
                        }
                        str += "</tbody>";
                        str += "</table>";
                        $('#dshd').html(str);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
    });

    function Chamthanhtoan() {
        var cf = confirm("Bạn có chắc chắn muốn chấm thanh toán cho những hóa đơn này?");
        var checked = [];
        var dsmscd = $("#dsmscd").val();
        var chukyht = "@ViewBag.chuky";
        if (cf) {
            $("input[name='chk[]']:checked").each(function () {
                checked.push(($(this).val()));
            });

            $.ajax({
                type: "POST",
                traditional: true,
                url: '@Url.Action("Chamhoadon","Hoadon")',
                data: { "dsmscd": dsmscd, "chuky": checked, "trangthai": "TTOAN", "chukyht": chukyht },
                cache: false,
                success: function (data) {
                    alert("Chấm thanh toán thành công");
                    $("#dsmscd").val("");
                    $("#dshd").html("");
                    window.location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //alert(xhr.status);
                    alert("Không thể lưu");
                }
            });
        }
    }

    $("#dsmscd2").on("keydown", function (event) {
        if (event.which == 13) {
            var dsmscd2 = $("#dsmscd2").val();
            var chuky = "@ViewBag.chuky";
            $.ajax({
                type: "POST",
                url: '@Url.Action("getHoadon","Hoadon")',
                dataType: "json",
                data: { dsmscd: dsmscd2, chuky: chuky },
                success: function (data) {
                    $("#dshd2").html("");
                    if (data.length != 0) {
                        $("#dshd2").html("");
                        var str = "";
                        str += "<table id='bh' table class='table table-hover table-striped' id='tbl-lst-sms'>";
                        str += "<thead><th></th><th>Tháng</th><th>Danh số</th><th>MSCĐ</th><th>Họ tên</th><th>Số nhà</th><th>Tổng tiền</th></thead>";
                        str += "<tbody>";
                        for (i = 0; i < data.length; i++) {

                            str += "<tr>";
                            str += "<td><input name='chk2[]' type='checkbox' value='" + data[i].CHUKYNO + "' checked='checked'/></td>";
                            str += "<td>" + data[i].CHUKYNO.toString().substring(6, 4) + "/" + data[i].CHUKYNO.toString().substring(0, 4) + "</td>";
                            str += "<td>" + data[i].DANHSO + "</td>";
                            str += "<td>" + data[i].MASOCD + "</td>";
                            str += "<td>" + data[i].HOTEN + "</td>";
                            str += "<td>" + data[i].SONHA + "</td>";
                            str += "<td>" + data[i].THANHTIENVS + "</td>";
                            str += "</tr>";
                        }
                        str += "</tbody>";
                        str += "</table>";
                        $('#dshd2').html(str);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
    });

    function Chamton() {
        var cf = confirm("Bạn có chắc chắn muốn chấm tồn cho những hóa đơn này?");
        var checked = [];
        var dsmscd2 = $("#dsmscd2").val();
        var chukyht = "@ViewBag.chuky";
        if (cf) {
            $("input[name='chk2[]']:checked").each(function () {
                checked.push(($(this).val()));
            });

            $.ajax({
                type: "POST",
                traditional: true,
                url: '@Url.Action("Chamhoadon","Hoadon")',
                data: { "dsmscd": dsmscd2, "chuky": checked, "trangthai": "TON", "chukyht": chukyht },
                cache: false,
                success: function (data) {
                    alert("Chấm tồn thành công");
                    $("#dsmscd2").val("");
                    $("#dshd2").html("");
                    window.location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //alert(xhr.status);
                    alert("Không thể lưu");
                }
            });
        }
    }

</script>


