﻿@model IEnumerable<Data.GetHTTT_Result>

@{    
    ViewBag.Title = "Danh mục Hình thức thanh toán";
}

<!--Show danh sách-->
<table class="table table-hover table-striped table-bordered table-width-medium" id="tbl-lst-sms">
    <tr class="title">
        <th colspan="2">
            <h5><img src="~/Content/Images/lr_title_icon.png" />Danh mục hình thức thanh toán</h5>
        </th>
        <th style="text-align:right" colspan="3">
            @if (!User.IsInRole("ReadOnly"))
            {
                <h5 data-toggle="modal" data-target="#myModal">+Thêm mới</h5>
            }
        </th>
    </tr>   
    <tr>
        <th>Mã HTTT</th>
        <th>Tên HTTT</th>
        <th>Chức năng</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="centertext">@item.MAHTTT</td>
            <td>
            @if (!User.IsInRole("ReadOnly"))
            {
                <input type="text" value="@item.TENHTTT" id="txttenhttt" name="txttenhttt" class="form-control" onkeypress="update(this,'@item.MAHTTT', event)"/>
            }
            else
            {
                @item.TENHTTT
            }                
            </td>
            <td class="centertext">
                @if (!User.IsInRole("ReadOnly"))
                {
                    @*<button class="btn btn-danger">@Html.ActionLink("Xóa", "XoaHTTT", new { id = item.MAHTTT }, new { @onclick = "return confirm('Bạn có chắc chắn muốn xóa?')", @style = "text-decoration: none; color: white" })</button>*@
                    <button style="color: #428bca" class="btn btn-default btn-button" value="@item.MAHTTT" onclick="xoaHTTT('@item.MAHTTT')">Xóa</button>
                }
            </td>
        </tr>
    }
</table>
   
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm mới @ViewBag.Title</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="tbl-lst-sms">
                    <tr>
                        <td class="centertext bluetext">Mã HTTT</td>
                        <td><input placeholder="Nhập mã HTTT" id="mahttt" name="manhttt" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="centertext bluetext">Tên HTTT</td>
                        <td><input placeholder="Nhập tên HTTT" id="tenhttt" name="tenhttt" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="required">(*) Mã Hình thức thanh toán sẽ không thể thay đổi</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button onclick="themHTTT()" type="button" class="btn btn-primary" data-dismiss="modal">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script>
function update(editableObj, mahttt, event) {
    var key = event.keyCode || event.which;
    if (key == 13) {
        bootbox.confirm({
            title: "Cập nhật thông tin",
            size: "small",
            message: "Bạn có chắc chắn muốn đổi tên Hình thức thanh toán này?",
            callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                if (result) {
                    $.ajax({
                        url: '@Url.Action("UpdateHTTT","HTTT")',
                        type: "POST",
                        data: 'mahttt=' + mahttt + '&tenhttt=' + editableObj.value,
                        success: function (data) {
                            $.sweetModal({
                                content: 'Cập nhật thành công!',
                                icon: $.sweetModal.ICON_SUCCESS
                            });
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $.sweetModal({
                                content: 'Xảy ra lỗi trong quá trình thực hiện!',
                                icon: $.sweetModal.ICON_ERROR
                            });
                        }
                    });
                }
            }
        });
    }
}
function themHTTT() {
    if (mahttt.value != "" && tenhttt.value != "") {
        $.ajax({
            url: '@Url.Action("ThemHTTT","HTTT")',
            type: "POST",
            data: 'mahttt=' + mahttt.value + '&tenhttt=' + tenhttt.value,
            success: function (data) {
                $.sweetModal({
                    content: 'Thêm mới thành công!',
                    icon: $.sweetModal.ICON_SUCCESS
                });
                window.location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $.sweetModal({
                    content: 'Xảy ra lỗi trong quá trình thực hiện!',
                    icon: $.sweetModal.ICON_ERROR
                });
            }
        });
    }
}
function xoaHTTT(mahttt) {
    bootbox.confirm({
        title: "Xác nhận xóa?",
        size: "small",
        message: "Bạn có chắc chắn muốn xóa Hình thức thanh toán này?",
        callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
            if (result) {
                $.ajax({
                    url: '@Url.Action("XoaHTTT","HTTT")',
                    type: "POST",
                    data: 'id=' + mahttt,
                    success: function (data) {
                        $.sweetModal({
                            content: 'Xóa thành công!',
                            icon: $.sweetModal.ICON_SUCCESS
                        });
                        window.location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $.sweetModal({
                            content: 'Xảy ra lỗi trong quá trình thực hiện!',
                            icon: $.sweetModal.ICON_ERROR
                        });
                    }
                });
            }
        }
    });
}
</script>

