﻿@model IEnumerable<Data.KHUVUC>

@{
    ViewBag.Title = "Export dữ liệu khách hàng";
}
<div class="title">
    <h4><img src="../../Content/Images/lr_title_icon.png" />Export dữ liệu khách hàng</h4>
</div>
<hr />
@using (Html.BeginForm("Export","Export"))
{
    <div class="col-md-4">
    <select id="khuvuc" name="khuvuc" class="form-control">
        <option>Chọn khu vực</option>
        @foreach (var item in Model)
        {
            <option value="@item.MAKHUVUC">@item.TENKHUVUC</option>
        }
    </select>
    <hr />
    <button type="submit" class="btn btn-primary">Export</button>
    </div>
    <div class="col-md-4">
        <select class="form-control" id="duong" name="duong">
            <option value="0">Chọn đường</option>
        </select>
    </div>
    <div class="col-md-4">
        <select class="form-control" id="soghi" name="soghi">
            <option value="0">Chọn sổ ghi</option>
        </select>
    
    </div>
}



<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#khuvuc").change(function () {
            var khuvuc = $("#khuvuc").val().toString();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDuong","Export")',
                dataType: "json",
                data: { khuvuc:khuvuc },
                success: function (data) {
                    $("#duong").html("");
                    $("#soghi").html("");
                    $("#duong").append('<option value="0">Chọn đường</option>');
                    $("#soghi").append('<option value="0">Chọn sổ ghi</option>');
                    $.each(data, function (i, data2) {
                        $("#duong").append('<option value= "' + data2.IDDUONG + '">' + data2.TENDUONG + '</option>');                      
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
        $("#duong").change(function () {
            var duong = $("#duong").val().toString();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetSoghi","Export")',
                dataType: "json",
                data: { duong: duong },
                success: function (data) {
                    $("#soghi").html("");
                    $("#soghi").append('<option value="0">Chọn sổ ghi</option>');
                    $.each(data, function (i, data2) {
                        $("#soghi").append('<option value= "' + data2.MASOGHI + '">' + data2.TENSOGHI + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
    });
</script>

