﻿@model PagedList.IPagedList<Data.SOGHI>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Danh mục Sổ ghi";
}
<!--Tìm kiếm-->
@using (Html.BeginForm("Soghi", "Soghi", FormMethod.Get))
{
    
    <div style="float: right" class="form-group input-group col-md-4">
        <input type="hidden" value="@ViewBag.khuvuc" id="khuvuc" name="khuvuc" />
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Nhập tên sổ ghi" })
        <span class="input-group-btn"><input type="submit" value="Tìm Kiếm" class="btn btn-primary" /></span>
    </div>

}
<!--Dãy trang-->
<div class="page-count" style="display:inline-block; vertical-align:middle;">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
</div>
<div class="pagination" style="display:inline-block; vertical-align:middle;">
   @Html.PagedListPager(Model, page => Url.Action("Soghi", new { ViewBag.khuvuc, page, currentFilter = ViewBag.CurrentFilter }))
</div>

<!--Show danh sách-->
<table class="table table-hover table-striped table-bordered table-width-medium" id="tbl-lst-sms">    
    <tr class="title">
        <th colspan="2">
            <h5><img src="~/Content/Images/lr_title_icon.png" />Danh mục Sổ ghi @ViewBag.tenkhuvuc</h5>
        </th>
        <th style="text-align:right" colspan="3">
            @if (!User.IsInRole("ReadOnly"))
            {
                <h5 data-toggle="modal" data-target="#myModal">+Thêm mới</h5>
            }
        </th>
    </tr>
    <tr>
        <th>Mã Sổ ghi</th>
        <th>Tên Sổ ghi</th> 
        <th>Chức năng</th>      
    </tr>
    @foreach (var item in Model.ToList())
    {
        <tr>
            <td class="centertext">@item.MASOGHI</td>
            <td>
                @if (!User.IsInRole("ReadOnly"))
                {
                    <input type="text" value="@item.TENSOGHI" id="txttensoghi" name="txttensoghi" class="form-control" onkeypress="update(this,'@item.MASOGHI', event)" />
                }
                else
                {
                    @item.TENSOGHI
                }
            </td>            
            <td class="centertext">
                @if (!User.IsInRole("ReadOnly"))
                {
                     <button style="color: #428bca" class="btn btn-default btn-button" value="@item.MASOGHI" onclick="xoaSoghi('@item.MASOGHI')">Xóa</button>
                    @*@Html.ActionLink("Xóa", "XoaSoghi", new { id = item.MASOGHI }, new { @onclick = "return confirm('Bạn có chắc chắn muốn xóa?')" })*@
                }
            </td>
        </tr>
    }
</table>
<!--Dãy trang-->
<div class="page-count" style="display:inline-block; vertical-align:middle;">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
</div>
<div class="pagination" style="display:inline-block; vertical-align:middle;">
    @Html.PagedListPager(Model, page => Url.Action("Soghi", new { ViewBag.khuvuc, page, currentFilter = ViewBag.CurrentFilter }))
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm mới @ViewBag.Title</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="tbl-lst-sms">
                    <tr>
                        <td class="centertext bluetext">Mã Sổ ghi</td>
                        <td><input placeholder="Nhập Mã sổ ghi (2 ký tự)" maxlength="2" id="masoghi" name="masoghi" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="centertext bluetext">Tên Sổ ghi</td>
                        <td><input placeholder="Nhập Tên sổ ghi" id="tensoghi" name="tensoghi" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td class="centertext bluetext">Từ STT</td>
                        <td>
                            <input placeholder="Từ STT" id="txttustt" name="txttustt" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td class="centertext bluetext">Đến STT</td>
                        <td>
                            <input placeholder="Đến STT" id="txtdenstt" name="txtdenstt" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td class="centertext bluetext">Sổ ghi thuộc đường</td>
                        <td>
                            @Html.DropDownList("duong", (SelectList)ViewBag.DuongList, "Chọn đường", new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="required">(*) Mã Sổ ghi có 2 ký tự. Mã sổ ghi sẽ không thể thay đổi</td>
                    </tr>
                </table>                
            </div>
            <div class="modal-footer">
                <button onclick="themSoghi()" type="button" class="btn btn-primary" data-dismiss="modal">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script>
    function update(editableObj, masoghi, event) {
        var key = event.keyCode || event.which;
        if (key == 13) {
            bootbox.confirm({
                title: "Cập nhật thông tin",
                size: "small",
                message: "Bạn có chắc chắn muốn đổi tên Sổ ghi này?",
                callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                    if (result) {
                        $.ajax({
                            url: '@Url.Action("UpdateSoghi","Soghi")',
                            type: "POST",
                            data: 'masoghi=' + masoghi + '&tensoghi=' + editableObj.value,
                            success: function (data) {
                                $.sweetModal({
                                    content: 'Cập nhật thành công!',
                                    icon: $.sweetModal.ICON_SUCCESS
                                });
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                $.sweetModal({
                                    content: 'Xảy ra lỗi trong quá trình thực hiện!',
                                    icon: $.sweetModal.ICON_ERROR
                                });
                            }
                        });
                    }
                }
            });
        }
    }
    function themSoghi() {
        if (masoghi.value != "" && tensoghi.value != "" && txttustt.value != "" && txtdenstt.value != "") {
            $.ajax({
                url: '@Url.Action("ThemSoghi","Soghi")',
                type: "POST",
                data: 'masoghi=' + masoghi.value + '&tensoghi=' + tensoghi.value + '&tustt=' + txttustt.value + '&denstt=' + txtdenstt.value + '&idduong=' + duong.value,
                success: function (data) {
                    $.sweetModal({
                        content: 'Thêm mới thành công!',
                        icon: $.sweetModal.ICON_SUCCESS
                    });
                    window.location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $.sweetModal({
                        content: 'Xảy ra lỗi trong quá trình thực hiện!',
                        icon: $.sweetModal.ICON_ERROR
                    });
                }
            });
        }
    }

    function xoaSoghi(masoghi) {
        bootbox.confirm({
            title: "Xác nhận xóa?",
            size: "small",
            message: "Bạn có chắc chắn muốn xóa Sổ ghi này?",
            callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                if (result) {
                    $.ajax({
                        url: '@Url.Action("XoaSoghi","Soghi")',
                        type: "POST",
                        data: 'id=' + masoghi,
                        success: function (data) {
                            $.sweetModal({
                                content: 'Xóa thành công!',
                                icon: $.sweetModal.ICON_SUCCESS
                            });
                            window.location.reload();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $.sweetModal({
                                content: 'Xảy ra lỗi trong quá trình thực hiện!',
                                icon: $.sweetModal.ICON_ERROR
                            });
                        }
                    });
                }
            }
        });
    }
</script>




