﻿@model IEnumerable<Data.ViewModels.Khachhang>
@{
    ViewBag.Title = "Cập nhật thông tin khách hàng";
}
<div class="title">
    <h4><img src="~/Content/Images/lr_title_icon.png" />Cập nhật thông tin khách hàng</h4>
</div>
<hr />
@using (Html.BeginForm())
{
    <div class="col-md-6">
        <div class="form-group">
            <b>Chu kỳ</b>
            <input id="txtchuky" name="txtchuky" value="@ViewBag.chuky" class="form-control" readonly />
        </div><hr />
        <div class="form-group">
            <b>ID khách hàng</b>
            <input id="txtidkh" name="txtidkh" value="@ViewBag.idkh" class="form-control" readonly />
        </div><hr />
        <div class="form-group">
            <span class="required">Danh số</span>
            <input id="txtdanhso" name="txtdanhso" value="@ViewBag.danhso" class="form-control" maxlength="6"/>
        </div>
        <div class="form-group">
            <span class="required">MSCĐ</span>
            <input id="txtmscd" name="txtmscd" value="@ViewBag.masocd" class="form-control" maxlength="8" />
        </div>
        <div class="form-group">
            <span class="required">Họ tên</span>
            <input id="txthoten" name="txthoten" value="@ViewBag.hoten" class="form-control" />        
        </div><hr />
        <div class="form-group">
            <b>Số nhà</b>
            <input id="txtsonha" name="txtsonha" value="@ViewBag.sonha" class="form-control" />
        </div><hr />
        <div class="form-group">
            <span class="required">Tiền vệ sinh (Cả thuế)</span>
            @Html.DropDownList("BGList1", (SelectList)ViewBag.BGList, new { @class = "form-control" })
            <input id="thanhtienvs" name="thanhtienvs" value="@ViewBag.thanhtienvs" class="form-control" style="display:none" />
        </div><hr />
        <div class="form-group">
            <span class="required">Hình thức thanh toán</span>
            @Html.DropDownList("HTTTList1", (SelectList)ViewBag.HTTTList, new { @class = "form-control" })
        </div><hr />
        <div class="form-group">
            <span class="required">Thanh lý hợp đồng</span>
            <select class="form-control" id="tlhd" name="tlhd">
                @{
                    string n = ViewBag.tlhd.ToString();
                    if(string.IsNullOrEmpty(n))
                    {
                        <option value="0">Chọn Tình trạng thanh lý hợp đồng</option>
                        <option value="1">Đã thanh lý</option>
                        <option value="0">Chưa thanh lý</option> 
                    }
                    else
                    {
                        if(n != "1")
                        {
                            <option value="1">Đã thanh lý</option>
                            <option selected="selected" value="0">Chưa thanh lý</option>
                        }
                        else
                        {                            
                            <option value="1">Đã thanh lý</option>
                            <option value="0">Chưa thanh lý</option>     
                        }          
                    }
                }
                
            </select>
        </div><hr />
        <div class="form-group">
            <b>MS thuế</b>
            <input id="txtmsthue" name="txtmsthue" value="@ViewBag.masothue" class="form-control" />
        </div><hr />
        <div class="form-group">
            <b>Số tài khoản</b>
            <input id="txtsotk" name="txtsotk" value="@ViewBag.sotk" class="form-control" />
        </div><hr />
        <div class="form-group">
            <input value="@ViewBag.makhuvuc" id="khuvuc" name="khuvuc" type="hidden"/>
            <span class="required">Đường</span>
            @Html.DropDownList("DuongList1", (SelectList)ViewBag.DuongList, new { @class = "form-control" })
        </div><hr />          
        <div class="form-group">
            <span class="required">Sổ ghi</span>
            @Html.DropDownList("SoghiList1", (SelectList)ViewBag.SoghiList, new { @class = "form-control" })        
        </div><hr /> 
        <button type="submit" class="btn btn-primary" onclick="return confirm('Bạn có chắc chắn muốn lưu?')" >Lưu thông tin</button> <hr />
    </div>
}
<div class="col-md-6"></div>

<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
	window.onload = getGiakhac();
	function getGiakhac()
	{
		var bg = $("#BGList1").val();
        if (bg != 5) {                                
            thanhtienvs.style.display = "none";
        }
        else {
                
            thanhtienvs.style.display = "inline";
        }
	}
    $(document).ready(function () {       
        $("#DuongList1").change(function () {
            var duong = $("#DuongList1").val().toString();
            $.ajax({
                type: "POST",
                url: '@Url.Action("getSoghi","Khachhang")',
                dataType: "json",
                data: { duong: duong },
                success: function (data) {
                    $("#SoghiList1").html("");
                    //$("#soghi").append('<option value="0">Chọn sổ ghi</option>');
                    $.each(data, function (i, data2) {
                        $("#SoghiList1").append('<option value= "' + data2.MASOGHI + '">' + data2.TENSOGHI + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
        $("#BGList1").change(function () {
            var bg = $("#BGList1").val();
            if (bg != 5) {                                
                thanhtienvs.style.display = "none";
            }
            else {
                
                thanhtienvs.style.display = "inline";
            }
        });
    });
</script>








