﻿@model IEnumerable<Data.CHUKY_KHUVUC>

@{
    ViewBag.Title = "Danh sách khách hàng";
}
@using (Html.BeginForm("Khachhang", "Khachhang", FormMethod.Get))
{
    <div class="title">
        <h5><img src="~/Content/Images/lr_title_icon.png" />Chọn thông tin khách hàng</h5>
    </div>
    <table class="table table-bordered table-index table-width-medium" id="tbl-lst-sms">
        <tr class="coloredtr">
            <td colspan="3" class="centertext">
                <span class="greentext">CHỌN THỜI GIAN</span>
            </td>
        </tr>
        <tr>            
            <td><span class="bluetext">Nhập Năm</span> @*@Html.DropDownList("nam", (SelectList)ViewBag.NamList, "Chọn năm", new { @class = "form-control" })*@
                @{
                    string currentYear = DateTime.Now.Year.ToString();
                }
                <input id="nam" name="nam" class="form-control" value="@currentYear" placeholder="Nhập năm"/>
            </td>            
            <td style="border-right: none"><span class="bluetext">Chọn tháng</span>
                <select class="form-control" id="chuky" name="chuky">
                    <option value="0">Chọn tháng</option>
                </select>  
            </td>
            <td style="border-left: none"></td>
        </tr>
        <tr class="coloredtr">
            <td class="centertext" colspan="3">
                <span class="greentext">CHỌN THÔNG TIN SỔ GHI</span>
            </td>
        </tr>
        <tr>            
            <td><span class="bluetext">Chọn Khu vực</span>
                <select class="form-control" id="khuvuc" name="khuvuc">
                    <option value="0">Chọn khu vực</option>
                </select>
            </td>
            <td>
                <span class="bluetext">Chọn Đường</span>
                <select class="form-control" id="duong" name="duong">
                    <option value="0">Chọn đường</option>
                </select>
            </td>
            <td>
                <span class="bluetext">Chọn Sổ ghi</span>
                <select class="form-control" id="soghi" name="soghi">
                    <option value="0">Chọn sổ ghi</option>
                </select>   
            </td>
           
        </tr>
        <tr>
            <td colspan="3" style="text-align: center"><button type="submit" class="btn btn-primary">Xem Danh sách khách hàng</button></td>
        </tr>
    </table>
}


<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        function getChuky (nam)
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getChukybyNam","Khachhang")',
                dataType: "json",
                data: { nam: nam },
                success: function (data) {
                    $("#chuky").html("");
                    $("#khuvuc").html("");
                    $("#duong").html("");
                    $("#soghi").html("");
                    $("#chuky").append('<option value="0">Chọn tháng</option>');
                    $("#khuvuc").append('<option value="0">Chọn khu vực</option>');
                    $("#duong").append('<option value="0">Chọn đường</option>');
                    $("#soghi").append('<option value="0">Chọn sổ ghi</option>');
                    $.each(data, function (i, data2) {
                        $("#chuky").append('<option value= "' + data2.CHUKY + '">' + data2.TENCHUKY + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
        var nam = $("#nam").val().toString();
        getChuky(nam);

        $("#nam").keyup(function () {
            var nam = $("#nam").val().toString();
            getChuky(nam);
        });
        $("#chuky").change(function () {
            var chuky = $("#chuky").val().toString();
            $.ajax({
                type: "POST",
                url: '@Url.Action("getKhuvuc","Khachhang")',
                dataType: "json",
                data: { chuky: chuky },
                success: function (data) {
                    $("#khuvuc").html("");
                    $("#duong").html("");
                    $("#soghi").html("");
                    $("#khuvuc").append('<option value="0">Chọn khu vực</option>');
                    $("#duong").append('<option value="0">Chọn đường</option>');
                    $("#soghi").append('<option value="0">Chọn sổ ghi</option>');
                    $.each(data, function (i, data2) {
                        $("#khuvuc").append('<option value= "' + data2.MAKHUVUC + '">' + data2.TENKHUVUC + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
        $("#khuvuc").change(function () {
            var khuvuc = $("#khuvuc").val().toString();
            $.ajax({
                type: "POST",
                url: '@Url.Action("getDuong","Khachhang")',
                dataType: "json",
                data: { khuvuc:khuvuc },
                success: function (data) {
                    $("#duong").html("");
                    $("#soghi").html("");
                    $("#duong").append('<option value="0">Chọn đường</option>');
                    $("#soghi").append('<option value="0">Chọn sổ ghi</option>');
                    $.each(data, function (i, data2) {
                        $("#duong").append('<option value= "' + data2.IDDUONG + '">' + data2.TENDUONG + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
        $("#duong").change(function () {
            var duong = $("#duong").val().toString();
            $.ajax({
                type: "POST",
                url: '@Url.Action("getSoghi","Khachhang")',
                dataType: "json",
                data: { duong: duong },
                success: function (data) {
                    $("#soghi").html("");
                    //$("#soghi").append('<option value="0">Chọn sổ ghi</option>');
                    $.each(data, function (i, data2) {
                        $("#soghi").append('<option value= "' + data2.MASOGHI + '">' + data2.TENSOGHI + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
    });
</script>



    
