﻿@model PagedList.IPagedList<Data.ViewModels.Khachhang>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    var c = ViewBag.chuky.ToString().Substring(4) + "/" + ViewBag.chuky.ToString().Substring(0, 4);
    ViewBag.Title = "Danh sách khách hàng " + c;
}

<!--Nhảy trang, Hiển thị-->
@*@using (Html.BeginForm("Khachhang", "Khachhang", new { ViewBag.chuky, ViewBag.duong}, FormMethod.Get))*@

@using (Html.BeginForm("Khachhang", "Khachhang", FormMethod.Get))
{
    <!--Hidden routeValues-->
    @Html.Hidden("chuky", "@ViewBag.chuky")
    @Html.Hidden("khuvuc", "@ViewBag.khuvuc")
    @Html.Hidden("duong", "@ViewBag.duong")
    @Html.Hidden("soghi", "@ViewBag.soghi")
    <input value="@ViewBag.currentFilter" id="currentFilter" name="currentFilter" type="hidden" />

    <!--Nhảy trang-->
    <div class="col-md-4 input-group form-group">
        @Html.TextBox("page", null, new { @class = "form-control", @placeholder = "Nhập số trang muốn chuyển đến" })
        <span class="input-group-btn"><input type="submit" value="Đến trang" class="btn btn-primary" /></span>
    </div>

    <!--Hiển thị-->
    <div class="col-md-4 input-group form-group">
        <select id="pagesize" name="pagesize" class="form-control">
            @for (int i = 10; i <= 100; i = i + 20)
            {
                if (i == ViewBag.pagesize)
                {
                    <option selected>@i</option> }
                else
                {
                    <option>@i</option>    }
            }
        </select>
        <span class="input-group-btn"><input type="submit" value="Hiển thị" class="btn btn-primary" /></span>
    </div>
}
<!-- Tìm kiếm-->
@using (Html.BeginForm("Khachhang", "Khachhang", FormMethod.Get))
{
    <div class="col-md-4 input-group form-group">

        <!--Hidden-->
        @Html.Hidden("chuky", "@ViewBag.chuky")
        @Html.Hidden("khuvuc", "@ViewBag.khuvuc")
        @Html.Hidden("duong", "@ViewBag.duong")
        @Html.Hidden("soghi", "@ViewBag.soghi")
        <!--Textbox-->
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Từ khóa" })
        <span class="input-group-btn"><input type="submit" value="Tìm kiếm" class="btn btn-primary" /></span>
    </div>
}

@{
    var chuky = ViewBag.chuky.ToString();
    var khuvuc = ViewBag.khuvuc.ToString();
    var duong = ViewBag.duong.ToString();
    var soghi = ViewBag.soghi.ToString();
}

<!--Dãy trang-->
<div class="page-count" style="display:inline-block; vertical-align:middle;">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
</div>
<div class="pagination" style="display:inline-block; vertical-align:middle;">
    @Html.PagedListPager(Model, page => Url.Action("Khachhang", new { ViewBag.chuky, ViewBag.khuvuc, ViewBag.duong, ViewBag.soghi, page, pagesize = ViewBag.pagesize, currentFilter = ViewBag.CurrentFilter }))
</div>


<!--Show danh sách-->

<table class="table table-bordered table-hover table-striped" id="tbl-lst-sms">
    <tr class="title">
        <th colspan="7">
            <h5><img src="~/Content/Images/lr_title_icon.png" />Danh sách khách hàng @ViewBag.chuky.ToString().Substring(4) / @ViewBag.chuky.ToString().Substring(0, 4)</h5>
        </th>
        <th class="centertext" colspan="3">
            <h6><a style="color:white;" onclick="importKhachHangLenHDDT()">+Import danh sách khách hàng lên hệ thống HDDT</a></h6>
        </th>
        <th class="centertext" colspan="2">
            <h6>@Html.ActionLink("+Export danh sách khách hàng", "Export", new { chuky, khuvuc, duong, soghi }, new { @style = "text-decoration: none; color: white" })</h6>
        </th>
        <th class="centertext">
            @if (!User.IsInRole("ReadOnly"))
            {
                <h6 data-toggle="modal" data-target="#myModal" style="cursor: pointer">+Thêm mới</h6>
            }

        </th>
    </tr>
    <tr>
        <th colspan="13">
            @if (ViewBag.khuvuc.ToString() != "0")
            {
                <span>@ViewBag.tenkhuvuc</span>
            }
            @if (ViewBag.duong.ToString() != "0")
            {
                <span>Đường: @ViewBag.tenduong</span>
            }
            @if (ViewBag.soghi.ToString() != "0")
            {
                <span>Sổ ghi: @ViewBag.tensoghi</span>
            }
        </th>
    </tr>
    <tr>
        <th>Mã số</th>
        <th>Mã số CĐ</th>
        <th>Họ tên</th>
        <th>Số nhà</th>
        <th>MS thuế</th>
        @*<th>Số TK</th>*@
        <th>Tiền VS</th>
        <th>Thuế</th>
        <th>Tổng tiền</th>
        <th>Sổ ghi</th>
        @*<th>Thanh lý HĐ</th>
            <th>Đặc điểm</th>*@
        <th>Ghi chú</th>
        <th colspan="3">Chức năng</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="centertext">
                @item.DANHSO
                @Html.Hidden("hidden_danhso_" + item.IDKHACHHANG, "" + item.DANHSO)
                @Html.Hidden("hidden_duong_" + item.IDKHACHHANG, "" + item.IDDUONG)
                @Html.Hidden("hidden_soghi_" + item.IDKHACHHANG, "" + item.MASOGHI)
                @Html.Hidden("hidden_bgvs_" + item.IDKHACHHANG, "" + item.IDBGVS)
                @Html.Hidden("hidden_httt_" + item.IDKHACHHANG, "" + item.MAHTTT)
                @Html.Hidden("hidden_tlhd_" + item.IDKHACHHANG, "" + item.THANHLYHD)
            </td>
            <td class="centertext">
                @item.MASOCD
                @Html.Hidden("hidden_mscd_" + item.IDKHACHHANG, "" + item.MASOCD)
            </td>
            <td class="centertext">
                @item.HOTEN
                @Html.Hidden("hidden_hoten_" + item.IDKHACHHANG, "" + item.HOTEN)
            </td>
            <td class="centertext">
                @item.SONHA
                <input type="hidden" id="hidden_sonha_@item.IDKHACHHANG" name="hidden_sonha_@item.IDKHACHHANG" value="@item.SONHA" />
                @*@Html.Hidden("hidden_sonha_" + item.IDKHACHHANG, "" + item.SONHA)*@
            </td>
            <td class="centertext">
                @item.MASOTHUE
                @*@Html.Hidden("hidden_masothue_" + item.IDKHACHHANG, "" + item.MASOTHUE)*@
                <input type="hidden" id="hidden_masothue_@item.IDKHACHHANG" name="hidden_masothue_@item.IDKHACHHANG" value="@item.MASOTHUE" />
            </td>
            <!--td class="centertext">
                @item.SOTK
                @*@Html.Hidden("hidden_sotk_" + item.IDKHACHHANG, "" + item.SOTK)*@
                <input type="hidden" id="hidden_sotk_@item.IDKHACHHANG" name="hidden_sotk_@item.IDKHACHHANG" value="@item.SOTK" />
            </td-->
            <input type="hidden" id="hidden_sotk_@item.IDKHACHHANG" name="hidden_sotk_@item.IDKHACHHANG" value="@item.SOTK" />
            <td class="centertext">
                @item.TIENVS
                @Html.Hidden("hidden_tienvs_" + item.IDKHACHHANG, "" + item.TIENVS)
            </td>
            <td class="centertext">
                @item.THUE
                @Html.Hidden("hidden_thue_" + item.IDKHACHHANG, "" + item.THUE)
            </td>
            <td class="centertext">
                @item.THANHTIENVS
                @Html.Hidden("hidden_thanhtienvs_" + item.IDKHACHHANG, "" + item.THANHTIENVS)
            </td>
            <td class="centertext">
                @item.TENSOGHI
                @Html.Hidden("hidden_tensoghi_" + item.IDKHACHHANG, "" + item.TENSOGHI)
            </td>
            <!--td class="centertext">
                @{
                    if(item.THANHLYHD == false)
                    {
                        <span>Chưa TL</span>
                    }
                    else
                    {
                        <span>Đã TL</span>
                    }
                }
            </td>
            <td class="centertext">
                @item.MADACDIEM
                @Html.Hidden("hidden_madacdiem_" + item.IDKHACHHANG, "" + item.MADACDIEM)
            </td-->
            @Html.Hidden("hidden_madacdiem_" + item.IDKHACHHANG, "" + item.MADACDIEM)
            <td class="centertext">
                @item.GHICHU
                @Html.Hidden("hidden_ghichu_" + item.IDKHACHHANG, "" + item.GHICHU)

                @Html.Hidden("hidden_email_" + item.IDKHACHHANG, "" + item.EMAIL)
                @Html.Hidden("hidden_sdt_" + item.IDKHACHHANG, "" + item.SDT)
                @Html.Hidden("hidden_diaChi_" + item.IDKHACHHANG, "" + item.DIA_CHI)
                @Html.Hidden("hidden_stt_" + item.IDKHACHHANG, "" + item.STT)

            </td>

            @if (!User.IsInRole("ReadOnly"))
            {
                <td class="centertext">
                    <button class="btn btn-default btn-button" style="color: #428bca" value="@item.IDKHACHHANG" onclick="prechuyendanhso(this)" data-toggle="modal" data-target="#chuyendanhso" id="btnchuyendanhso_@item.IDKHACHHANG" name="btnchuyendanhso_@item.IDKHACHHANG">Sắp xếp</button>
                </td>
                <td class="centertext">
                    <button class="btn btn-default btn-button" style="color: #428bca" value="@item.IDKHACHHANG" onclick="precapnhat(this)" data-toggle="modal" data-target="#capnhat" id="btncapnhat_@item.IDKHACHHANG" name="btncapnhat_@item.IDKHACHHANG">Cập nhật</button>
                    @*<button class="btn btn-default btn-button">@Html.ActionLink("Cập nhật", "CapnhatKH", new { chuky = ViewBag.chuky, idkh = item.IDKHACHHANG })</button>*@
                </td>
                <td class="centertext">
                    @*<button class="btn btn-default btn-button">@Html.ActionLink("Xóa", "XoaKH", new { id = ViewBag.chuky, idkh = item.IDKHACHHANG }, new{ @onclick = "return confirm('Bạn có chắc chắn muốn xóa?')"})</button>*@
                    <button style="color: #428bca" class="btn btn-default btn-button" value="@item.IDKHACHHANG" onclick="xoaKhachhang('@ViewBag.chuky','@item.IDKHACHHANG')">Xóa KH</button>
                </td>
            }
            else
            {
                <td colspan="3"></td>
            }
        </tr>
    }
</table>

<!--Dãy trang-->
<div class="page-count" style="display:inline-block; vertical-align:middle;">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
</div>
<div class="pagination" style="display:inline-block; vertical-align:middle;">
    @Html.PagedListPager(Model, page => Url.Action("Khachhang", new { ViewBag.chuky, ViewBag.khuvuc, ViewBag.duong, ViewBag.soghi, page, pagesize = ViewBag.pagesize, currentFilter = ViewBag.CurrentFilter }))
</div>


<!-- Modal Cập nhật khách hàng-->
<div id="capnhat" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cập nhật khách hàng trong @ViewBag.Title</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    @*<tr>
                            <td>
                                <span class="bluetext">ID Khách hàng</span>
                            </td>
                            <td>
                                <input style="font-size: 15px" readonly class="form-control" id="txt_cnidkhachhang" name="txt_cnidkhachhang"/>
                            </td>
                        </tr>*@
                    <tr>
                        <td>
                            @Html.Hidden("txt_cnidkhachhang")
                            <span class="required">Danh số</span>
                            <input id="txt_cndanhso" name="txt_cndanhso" class="form-control" placeholder="Danh số" />
                        </td>
                        <td>
                            <span class="required">Mã số cố định</span>
                            <input id="txt_cnmscd" name="txt_cnmscd" class="form-control" placeholder="Mã số cố định" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="required">Họ tên</span>
                            <input id="txt_cnhoten" name="txt_cnhoten" class="form-control" placeholder="Họ tên" />
                        </td>
                        <td>
                            <span class="bluetext">Số nhà</span>
                            <input id="txt_cnsonha" name="txt_cnsonha" class="form-control" placeholder="Số nhà" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="bluetext">Mã số thuế</span>
                            <input id="txt_cnmsthue" name="txt_cnmsthue" class="form-control" placeholder="Mã số thuế" />
                        </td>
                        <td>
                            @*<span class="bluetext">Số tài khoản</span>*@
                            <input style="display:none" id="txt_cnstk" name="txt_cnstk" class="form-control" placeholder="Số tài khoản" />

                            <span class="bluetext">Ghi chú</span>
                            <input id="txt_cnghichu" name="txt_cnghichu" class="form-control" placeholder="Ghi chú" />
                        </td>
                    </tr>
                    <tr style="display:none">
                        <td>
                            @*<span class="required">Hình thức thanh toán</span>*@
                            <select style="display:none" id="sl_cnhttt" name="sl_cnhttt" class="form-control"></select>
                        </td>
                        <td>
                            @*<span class="required">Trạng thái Thanh lý HĐ</span>*@
                            <select style="display:none" class="form-control" id="sl_cntlhd" name="sl_cntlhd">
                                <option value="0">Chưa thanh lý</option>
                                <option value="1">Đã thanh lý</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="required">Đường</span>
                            <select id="sl_cnduong" name="sl_cnduong" class="form-control"></select>
                        </td>
                        <td>
                            <span class="required">Sổ ghi</span>
                            <select id="sl_cnsoghi" name="sl_cnsoghi" class="form-control"></select>
                        </td>
                    </tr>
                    <tr style="display:none">
                        <td>
                            @*<span class="required">Đặc điểm</span>*@
                            <select style="display:none" id="sl_cndacdiem" name="sl_cndacdiem" class="form-control"></select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <span class="required">Tiền vệ sinh (Cả thuế)</span>
                            <select id="sl_cnbgvs" name="sl_cnbgvs" class="form-control"></select>
                        </td>
                        <td>
                            <span class="required" id="span_cntienvs" style="display:none">Nhập số tiền vệ sinh</span>
                            <input id="txt_cntienvs" name="txt_cntienvs" value="0" class="form-control" placeholder="Nhập số tiền" style="display:none" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="bluetext">Email</span>
                            <input id="txt_email_update" type="email" name="email" class="form-control" placeholder="Nhập email khách hàng" />
                        </td>
                        <td>
                            <span class="bluetext">Số điện thoại</span>
                            <input id="txt_sdt_update" type="tel" name="phone" class="form-control" placeholder="Nhập số điện thoại khách hàng" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="bluetext">Địa chỉ</span>
                            <input id="txt_diaChi_update" type="text" name="diaChi" class="form-control" placeholder="Nhập địa chỉ khách hàng" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="bluetext">STT Biên nhận</span>
                            <input id="txt_stt_update" type="number" name="stt" class="form-control" readonly />
                        </td>

                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button onclick="capnhatKhachhang(@ViewBag.chuky)" type="button" class="btn btn-primary" data-dismiss="modal">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


<!--Modal Chuyển danh số-->
<div id="chuyendanhso" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sắp xếp vị trí khách hàng</h4>
            </div>
            @using (Html.BeginForm("Chuyendanhso", "Khachhang", FormMethod.Get))
            {
                <div class="modal-body">
                    <!--Hidden-->
                    @Html.Hidden("chuky", "@ViewBag.chuky")
                    @Html.Hidden("khuvuc", "@ViewBag.khuvuc")
                    @Html.Hidden("duong", "@ViewBag.duong")
                    @Html.Hidden("soghi", "@ViewBag.soghi")
                    <input id="idkhachhang" name="idkhachhang" type="hidden" />
                    <!--Textbox-->
                    <table class="table table-bordered" id="tbl-lst-sms">
                        <tr>
                            <td class="centertext">
                                <span class="bluetext">Nhập danh số muốn chuyển đến</span>
                            </td>
                            <td>
                                @Html.TextBox("danhso", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Nhập danh số muốn chuyển đến" })
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="required">
                                (*) Thao tác này là chuyển vị trí một khách hàng đến danh số vừa nhập bên trên. Sau khi chuyển vị trí sẽ đánh dấu lại toàn bộ danh số của sổ ghi.
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button onclick="chuyenDanhso(this)" class="btn btn-primary" type="button">Lưu</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            }
        </div>
    </div>
</div>


<!-- Modal Thêm mới khách hàng-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm mới khách hàng trong @ViewBag.Title</h4>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-striped">
                    <tr>
                        <td>
                            <span class="bluetext">Danh số</span>
                            <input id="txt_tmdanhso" name="txt_tmdanhso" class="form-control" placeholder="Danh số" />
                        </td>
                        <td>
                            <span class="bluetext">Mã số cố định</span>
                            <input id="txt_tmmscd" name="txt_tmmscd" class="form-control" placeholder="Mã số cố định" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="required">Họ tên</span>
                            <input id="txt_tmhoten" name="txt_tmhoten" class="form-control" placeholder="Họ tên" />
                        </td>
                        <td>
                            <span class="bluetext">Số nhà</span>
                            <input id="txt_tmsonha" name="txt_tmsonha" class="form-control" placeholder="Số nhà" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="bluetext">Mã số thuế</span>
                            <input id="txt_tmmsthue" name="txt_tmmsthue" class="form-control" placeholder="Mã số thuế" />
                        </td>
                        <td>
                            @*<span class="bluetext">Số tài khoản</span>*@
                            <input style="display:none" id="txt_tmstk" name="txt_tmstk" class="form-control" placeholder="Số tài khoản" />

                            <span class="bluetext">Ghi chú</span>
                            <input id="txt_tmghichu" name="txt_tmghichu" class="form-control" placeholder="Ghi chú" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="required">Đường</span>
                            @Html.DropDownList("sl_tmduong", (SelectList)ViewBag.DuongList, "Chọn đường", new { @class = "form-control" })
                        </td>
                        <td>
                            <span class="required">Sổ ghi</span>
                            <select id="sl_tmsoghi" name="sl_tmsoghi" class="form-control"></select>
                        </td>
                    </tr>
                    @*<tr>
                            <td>
                                <span class="required">Đặc điểm</span>
                                @Html.DropDownList("sl_tmdacdiem", (SelectList)ViewBag.DacdiemList, "Chọn đặc điểm", new { @class = "form-control" })
                            </td>
                        </tr>*@
                    <tr>
                        <td>
                            <span class="required">Tiền vệ sinh (Cả thuế)</span>
                            @Html.DropDownList("sl_tmbgvs", (SelectList)ViewBag.BGList, new { @class = "form-control" })
                        </td>
                        <td>
                            <span class="required" id="span_tmtienvs" style="display:none">Nhập số tiền vệ sinh</span>
                            <input id="txt_tmtienvs" name="txt_tmtienvs" value="0" class="form-control" placeholder="Nhập số tiền" style="display:none" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="bluetext">Email</span>
                            <input id="txt_tmemail" type="email" name="email" class="form-control" placeholder="Nhập email khách hàng" />
                        </td>
                        <td>
                            <span class="bluetext">Số điện thoại</span>
                            <input id="txt_tmsdt" type="tel" name="phone" class="form-control" placeholder="Nhập số điện thoại khách hàng" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <span class="bluetext">Địa chỉ</span>
                            <input id="txt_tmdiaChi" type="text" name="diaChi" class="form-control" placeholder="Nhập địa chỉ khách hàng" />
                        </td>

                    </tr>

                    @*<tr>
                            <td>
                                <span class="required">Hình thức thanh toán</span>
                                @Html.DropDownList("sl_tmhttt", (SelectList)ViewBag.HTTTList, new { @class = "form-control" })
                            </td>
                            <td></td>
                        </tr>*@
                </table>
            </div>
            <div class="modal-footer">
                <button onclick="themKhachhang(@ViewBag.chuky)" type="button" class="btn btn-primary" data-dismiss="modal">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!--Script-->
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        getBGVS();
        getHTTT();
        getDacdiem();
        /*Lay du lieu Duong trong Modal Cap nhat khach hang*/
        getDuong('@ViewBag.khuvuc');
        function getDuong(khuvuc) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getDuong", "Khachhang")',
                dataType: "json",
                data: { khuvuc: khuvuc },
                success: function (data) {
                    $("#sl_cnduong").append('<option value="0">Chọn đường</option>');
                    $("#sl_cnsoghi").append('<option value="0">Chọn sổ ghi</option>');
                    $.each(data, function (i, data) {
                        $("#sl_cnduong").append('<option value= "' + data.IDDUONG + '">' + data.TENDUONG + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) { }
            });
        }
        /*Lay du lieu So ghi trong Modal Cap nhat khach hang*/
        $("#sl_cnduong").change(function () {
            var duong = $("#sl_cnduong").val().toString();
            $.ajax({
                type: "POST",
                url: '@Url.Action("getSoghi","Khachhang")',
                dataType: "json",
                data: { duong: duong },
                success: function (data) {
                    $("#sl_cnsoghi").html("");
                    $.each(data, function (i, data2) {
                        $("#sl_cnsoghi").append('<option value= "' + data2.MASOGHI + '">' + data2.TENSOGHI + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) { }
            });
        });
        /*Lay du lieu BGVS trong Modal Cap nhat khach hang*/
        function getBGVS() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getBGVS", "Khachhang")',
                dataType: "json",
                data: {},
                success: function (data) {
                    $.each(data, function (i, data) {
                        $("#sl_cnbgvs").append('<option value= "' + data.IDBGVS + '">' + data.TENBGVS + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) { }
            });
        }
        /*Lay du lieu HTTT trong Modal Cap nhat khach hang*/
        function getHTTT() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getHTTT", "Khachhang")',
                dataType: "json",
                data: {},
                success: function (data) {
                    //$("#sl_cnhttt").append('<option value= "0">Chọn Hình thức thanh toán</option>')
                    $.each(data, function (i, data) {
                        $("#sl_cnhttt").append('<option value= "' + data.MAHTTT + '">' + data.TENHTTT + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) { }
            });
        }
        /*Lay du lieu Dac diem trong Modal Cap nhat khach hang*/
        function getDacdiem() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getDacdiem", "Khachhang")',
                dataType: "json",
                data: {},
                success: function (data) {
                    $.each(data, function (i, data) {
                        $("#sl_cndacdiem").append('<option value= "' + data.MADACDIEM + '">' + data.TENDACDIEM + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) { }
            });
        }
        /*Thay doi duong trong Modal Them moi -> Lay du lieu So ghi*/
        $("#sl_tmduong").change(function () {
            var duong = $("#sl_tmduong").val().toString();
            $.ajax({
                type: "POST",
                url: '@Url.Action("getSoghi","Khachhang")',
                dataType: "json",
                data: { duong: duong },
                success: function (data) {
                    $("#sl_tmsoghi").html("");
                    $.each(data, function (i, data2) {
                        $("#sl_tmsoghi").append('<option value= "' + data2.MASOGHI + '">' + data2.TENSOGHI + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) { }
            });
        });
        /*Thay doi BGVS trong Modal them moi*/
        $("#sl_tmbgvs").change(function () {
            var bg = $("#sl_tmbgvs").val();
            if (bg != 5) {
                txt_tmtienvs.value = "0";
                txt_tmtienvs.style.display = "none";
                span_tmtienvs.style.display = "none";
            }
            else {
                txt_tmtienvs.style.display = "inline";
                span_tmtienvs.style.display = "inline";
            }
        });
        /*Thay doi BGVS trong Modal cap nhat*/
        $("#sl_cnbgvs").change(function () {
            var bg = $("#sl_cnbgvs").val();
            if (bg != 5) {
                txt_cntienvs.value = "0";
                txt_cntienvs.style.display = "none";
                span_cntienvs.style.display = "none";
            }
            else {
                txt_cntienvs.style.display = "inline";
                span_cntienvs.style.display = "inline";
            }
        });

    });

    function themKhachhang(chuky) {
        if (txt_tmhoten.value != "") {
            var kv = '@khuvuc';
            var httt = 'TM';
            var dacdiem = 'VSKN';
            var hoten = encodeURIComponent(txt_tmhoten.value);
            var sonha = encodeURIComponent(txt_tmsonha.value);
            var ghichu = encodeURIComponent(txt_tmghichu.value);
            $.ajax({
                url: '@Url.Action("ThemKhachhang","Khachhang")',
                type: "POST",
                data: 'chuky=' + chuky + '&hoten=' + hoten + '&sonha=' + sonha + '&mst=' + txt_tmmsthue.value + '&idbgvs=' + sl_tmbgvs.value + '&thanhtienvs=' + txt_tmtienvs.value + '&makhuvuc=' + kv + '&idduong=' + sl_tmduong.value + '&masoghi=' + sl_tmsoghi.value + '&danhso=' + txt_tmdanhso.value + '&masocd=' + txt_tmmscd.value + '&sotk=' + txt_tmstk.value + '&httt=' + httt + '&dacdiem=' + dacdiem + '&ghichu=' + ghichu + '&sdt=' + $("#txt_tmsdt").val() + '&email=' + $("#txt_tmemail").val() + '&diaChi=' + $("#txt_tmdiaChi").val(),//sl_tmdacdiem.value,
                success: function (data) {
                    $.sweetModal({
                        content: 'Thêm mới thành công!',
                        icon: $.sweetModal.ICON_SUCCESS
                    });
                    window.location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $.sweetModal({
                        content: 'Xảy ra lỗi trong quá trình thực hiện!',
                        icon: $.sweetModal.ICON_ERROR
                    });
                }
            });
        }
    }
    function capnhatKhachhang(chuky) {
        if (txt_cnhoten.value != "" && txt_cndanhso.value != "" && txt_cnmscd.value != "" && sl_cnhttt.value != 0) {
            var khuvuc = '@khuvuc';
            var chuky = '@chuky';
            var hoten = encodeURIComponent(txt_cnhoten.value);
            var sonha = encodeURIComponent(txt_cnsonha.value);
            var ghichu = encodeURIComponent(txt_cnghichu.value);
            $.ajax({
                url: '@Url.Action("CapnhatKhachhang","Khachhang")',
                type: "POST",
                data: 'chuky=' + chuky + '&idkhachhang=' + txt_cnidkhachhang.value + '&hoten=' + hoten + '&soghi=' + sl_cnsoghi.value + '&sonha=' + sonha + '&tlhd=' + sl_cntlhd.value + '&msthue=' + txt_cnmsthue.value + '&duong=' + sl_cnduong.value + '&thanhtienvs=' + txt_cntienvs.value + '&idbgvs=' + sl_cnbgvs.value + '&danhso=' + txt_cndanhso.value + '&masocd=' + txt_cnmscd.value + '&httt=' + sl_cnhttt.value + '&sotk=' + txt_cnstk.value + '&dacdiem=' + sl_cndacdiem.value + '&ghichu=' + ghichu + '&sdt=' + $("#txt_sdt_update").val() + '&email=' + $("#txt_email_update").val() + '&diaChi=' + $("#txt_diaChi_update").val(),
                success: function (data) {
                    $.sweetModal({
                        content: 'Cập nhật thành công!',
                        icon: $.sweetModal.ICON_SUCCESS
                    });
                    window.location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $.sweetModal({
                        content: 'Xảy ra lỗi trong quá trình thực hiện!',
                        icon: $.sweetModal.ICON_ERROR
                    });
                }
            });
        }
        else {
            $.sweetModal({
                content: 'Vui lòng nhập hoặc chọn đầy đủ các thông tin bắt buộc (chữ đỏ)!',
                icon: $.sweetModal.ICON_ERROR
            });
        }
    }
    function prechuyendanhso(btn) {
        $("#idkhachhang").val(btn.value);
    }

    function chuyenDanhso(btn) {
        bootbox.confirm({
            title: "Sắp xếp vị trí khách hàng",
            size: "small",
            message: "Bạn có chắc chắn muốn sắp xếp lại vị trí khách hàng này?",
            callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                if (result) {
                    var danhso = $("#danhso").val().toString();
                    var chuky = $("#chuky").val().toString();
                    var khuvuc = $("#khuvuc").val().toString();
                    var duong = $("#duong").val().toString();
                    var soghi = $("#soghi").val().toString();
                    var idkhachhang = $("#idkhachhang").val().toString();
                    $('#chuyendanhso').modal('hide');
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("chuyenDanhso","Khachhang")',

                        data: 'chuky=' + chuky + '&khuvuc=' + khuvuc + '&duong=' + duong + '&soghi=' + soghi + '&idkhachhang=' + idkhachhang + '&danhso=' + danhso,//{ chuky: chuky, khuvuc: khuvuc, duong: duong, soghi: soghi, idkhachhang: idkhachhang, danhso: danhso },
                        success: function (data) {
                            $.sweetModal({
                                content: 'Sắp xếp vị trí thành công!',
                                icon: $.sweetModal.ICON_SUCCESS
                            });
                            window.location.reload();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $.sweetModal({
                                content: 'Xảy ra lỗi trong quá trình thực hiện!',
                                icon: $.sweetModal.ICON_ERROR
                            });
                        }
                    });
                }
            }
        });
    }
    function xoaKhachhang(chuky, idkhachhang) {
        bootbox.confirm({
            title: "Xác nhận xóa?",
            size: "small",
            message: "Bạn có chắc chắn muốn xóa khách hàng này?",
            callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                if (result) {
                    $.ajax({
                        url: '@Url.Action("XoaKhachhang","Khachhang")',
                        type: "POST",
                        data: 'chuky=' + chuky + '&idkhachhang=' + idkhachhang,
                        success: function (data) {
                            $.sweetModal({
                                content: 'Xóa thành công!',
                                icon: $.sweetModal.ICON_SUCCESS
                            });
                            window.location.reload();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $.sweetModal({
                                content: 'Xảy ra lỗi trong quá trình thực hiện!',
                                icon: $.sweetModal.ICON_ERROR
                            });
                        }
                    });
                }
            }
        });
    }
    /*Open modal Cap nhat*/
    function precapnhat(btn) {
        var idkhachhang = btn.value;
        var danhso = $("#hidden_danhso_" + idkhachhang).val();
        var masocd = $("#hidden_mscd_" + idkhachhang).val();
        var hoten = $("#hidden_hoten_" + idkhachhang).val();
        var sonha = $("#hidden_sonha_" + idkhachhang).val();
        var msthue = $("#hidden_masothue_" + idkhachhang).val();
        var sotk = $("#hidden_sotk_" + idkhachhang).val();
        var duong = $("#hidden_duong_" + idkhachhang).val();
        var soghi = $("#hidden_soghi_" + idkhachhang).val();
        var idbgvs = $("#hidden_bgvs_" + idkhachhang).val();
        var httt = $("#hidden_httt_" + idkhachhang).val();
        var tlhd = $("#hidden_tlhd_" + idkhachhang).val();
        var thanhtienvs = $("#hidden_thanhtienvs_" + idkhachhang).val();
        var dacdiem = $("#hidden_madacdiem_" + idkhachhang).val();
        var ghichu = $("#hidden_ghichu_" + idkhachhang).val();
        var email = $("#hidden_email_" + idkhachhang).val();
        var sdt = $("#hidden_sdt_" + idkhachhang).val();
        var diaChi = $("#hidden_diaChi_" + idkhachhang).val();
        var stt = $("#hidden_stt_" + idkhachhang).val();
        $("#txt_cndanhso").val(danhso);
        $("#txt_cnmscd").val(masocd);
        $("#txt_cnhoten").val(hoten);
        $("#txt_cnsonha").val(sonha);
        $("#txt_cnmsthue").val(msthue);
        $("#txt_cnstk").val(sotk);
        $("#sl_cnduong").val(duong);
        $("#txt_cntienvs").val(thanhtienvs);
        $("#sl_cnbgvs").val(idbgvs);
        $("#txt_cnidkhachhang").val(idkhachhang);
        $("#txt_cnghichu").val(ghichu);
        $("#txt_email_update").val(email);
        $("#txt_sdt_update").val(sdt);
        $("#txt_diaChi_update").val(diaChi);
        $("#txt_stt_update").val(stt);

        if (httt != null && httt != '') {
            $("#sl_cnhttt").val(httt);
        }
        else {
            $("#sl_cnhttt").val('TM');
        }

        var tlhdn;
        if (tlhd == 'False') {
            tlhdn = 0;
        }
        else tlhdn = 1;
        $("#sl_cntlhd").val(tlhdn);
        $("#sl_cndacdiem").val(dacdiem);
        /*Lay du lieu So ghi */
        $.ajax({
            type: "POST",
            url: '@Url.Action("getSoghi","Khachhang")',
            dataType: "json",
            data: { duong: duong },
            success: function (data) {
                $("#sl_cnsoghi").html("");
                $.each(data, function (i, data2) {
                    $("#sl_cnsoghi").append('<option value= "' + data2.MASOGHI + '">' + data2.TENSOGHI + '</option>');
                });
            },
            error: function (xhr, ajaxOptions, thrownError) { }
        });
        $("#sl_cnsoghi").val(soghi);
        /*Hien thi muc gia khac cua BGVS*/
        if (idbgvs == 5) {
            $("#span_cntienvs").css({ "display": "inline" });
            $("#txt_cntienvs").css({ "display": "inline" });
        }
        else {
            $("#span_cntienvs").css({ "display": "none" });
            $("#txt_cntienvs").css({ "display": "none" });
        }
    }
    function importKhachHangLenHDDT() {

        bootbox.confirm({
            title: "Import danh sách khách hàng lên hệ thống Hóa Đơn Điện Tử",
            size: "small",
            message: "Bạn có chắc chắn muốn Import danh sách khách hàng này lên hệ thống Hóa Đơn Điện Tử?",
            callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                if (result) {
                    $.ajax({
                        type: "GET",
                        data: {
                            chuky: '@ViewBag.chuKy',
                            khuvuc: '@ViewBag.khuvuc',
                            duong: '@ViewBag.duong',
                            soghi: '@ViewBag.soghi',
                        },
                        url: '@Url.Action("ImportKhachHangs", "Khachhang")',
                        success: function (data) {
                            console.log(data);
                            $.sweetModal({
                                content: 'Import thành công!',
                                icon: $.sweetModal.ICON_SUCCESS
                            });
                            //window.location.reload();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $.sweetModal({
                                content: 'Xảy ra lỗi trong quá trình thực hiện!',
                                icon: $.sweetModal.ICON_ERROR
                            });
                        }
                    });
                }
            }
        });
    }
</script>
