﻿.body-content {
    margin-bottom: 20px;
}
.body-header {
    background-size:cover;
}
.nhi-vertical-divider {
    position: absolute;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: #cfcece;
    bottom: 0;
}

.nhi-divider {
    height: 1px;
    width: 100%;
    background-color: #cfcece;
    margin-bottom: 15px;
    margin-top: 15px;
}

.pagination {
    float: right;
}

.nhi-btnDiv {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.nhi-fade {
    height: 100%;
    width:100%;
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    display:none;
}
.nhi-spinner {
    margin: 300px auto;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s ease-in-out infinite;
}
.table thead tr th {
    text-align: center;
    color: #0066B3;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}