﻿body {
    padding-top: 5px;
    padding-bottom: 0px;   
}

/* Set padding to keep content from hitting the edges */
.body-content {
   position:relative;
   min-width:70%;
   width:990px;
   margin:0;
   padding:0;
   margin: 0 auto;
   min-height:555px;
   font-size: 13px;
   /*font-family: "Times New Roman", Times, serif;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/*Menu*/
.menu ul{
    list-style: none;
    font-family: Arial, san-serif;
    font-size: 12px;
    padding: 0;
}
 
.menu ul li{
    float:left;
    position:relative;
}
 
.menu ul a{
    text-decoration:none;
    color:#fff;
    display:block;
    font-weight:bold;
    padding:11px;
}
 
.menu ul a:hover{
    background-image: url("~/../../Content/Images/footer_bg.jpg");
}
 
.menu li ul{
    position:absolute;
    display:none;
    width:250px;
    background-image: url("~/../../Content/Images/cismnu2.png");
}
.menu ul li ul li{ 
    border-bottom: 1px groove #ACACAC;
    min-width: 250px;
}
.menu ul li {    
    border-right: 1px groove #ACACAC;
}
.menu {
    background-image: url("~/../../Content/Images/cismnu2.png");
    min-height:40px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    margin-bottom:5px;
}
/**/

/*body-header*/
.body-header{
    background-image: url('~/../../Content/Images/bn3sua.jpg');
    height:80px;
    padding: 35px;
}
.body-header a {    
    text-decoration: none;
    color:#FFF;
    font-size: x-large;
}
.body-header p {
    text-align:right;
    text-shadow:3px 3px #0066B3;
}

/*footer*/
footer {
    background-image: url("~/../../Content/Images/footer_bg.jpg");
    color:#FFF;
    /*width:2000px;*/
	min-width: 1000px;
}
footer div {
   position:relative;
   width:80%;
   margin:0;
   padding:0;
   margin: 0 auto;
   padding-top: 20px;
   padding-bottom: 10px;
   font-size:small;
}

/*List sms*/
#tbl-lst-sms tr+tr th {
    /*background-color:aliceblue;*/
    color:#0066B3;
    text-align: center;
    /*min-width:150px;*/
}
#tbl-lst-sms tr td {
    border-color: cadetblue;
}

/*Name of table in page*/
.title th, .title {
    background-image: url("~/../../Content/Images/bar-a.jpg");
    color: white;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    padding: 1px;
    font-size:14px;
}
.title h5 {
    margin-bottom: 5px;
    margin-top: 5px;
}

/*Bat buoc*/
.required {
    color: red;
}
/*Textbox*/
/*.textbox {    
    width: 200px;
    height:30px;
    border-radius: 5px;
}
.textbox:focus{
    border-color: cornflowerblue;
}*/


.menu ul li ul li ul{margin-left:250px;margin-top:-38px}
.fly{
    background: url("~/../../Content/Images/arrow.png") no-repeat scroll right center;
    padding-right: 15px;
}
.menu ul li ul li:hover > ul{display:block;}
a.dropdown-toggle.fly:hover {
    color: #FFF;
    text-decoration: none;
    background: #0066B3;
}


/*ghi de*/
.container {
    width: 1300px;
}

.width50 tr td {
    width: 50%;
}

.form-control {
    border-radius: 0;
}
.btn {
    border-radius: 0;
}
/**/

.table-index {
    width: 100%;
}

.table-index tr td{
    width: 25%;
    padding: 6px;
}

.form-control, .btn {
    font-size: 13px;
}
.table tbody > tr > th {
    padding: 1px;
    padding-right: 5px;
}

.pagination {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

/*New*/
.btn-button {
    color: #428bca;
    text-decoration: none;
    font-weight: bold;
    /*width: 80px;*/
}
.btn-button a:hover {
    text-decoration: none;
}

.table-width-medium {
    max-width: 800px; 
    margin-left: auto; 
    margin-right: auto;

}
.centertext {
    text-align: center;
    vertical-align: middle !important;
}
.righttext {
    text-align: right;
}
.bluetext {
    color: #428bca;
    font-weight: bold;
}
.coloredtr {
    background-color: #f5f5ef/*#c6d9ec*/;
}
.greentext {
    color: #009999;
    font-weight: bold;
}
.modal-xl{
    width:85vw;
}