﻿@model IEnumerable<Data.GIAOHOADON>

@{
    ViewBag.Title = "Xóa chỉnh hóa đơn";
}

<div class="title">
    <h5><img src="~/Content/Images/lr_title_icon.png" />Xóa chỉnh hóa đơn</h5>
</div>
<table class="table table-index table-hover">
    <tr>
        <td><b>Năm</b> @*@Html.DropDownList("nam", (SelectList)ViewBag.NamList, "Chọn năm", new { @class = "form-control" })*@
            @{
                string currentYear = DateTime.Now.Year.ToString();
            }
            <input id="nam" name="nam" class="form-control" value="@currentYear" placeholder="Nhập năm" />
        </td>
        <td>
            <b>Tháng</b>
            <select class="form-control" id="chuky" name="chuky">
                <option value="0">Chọn tháng</option>
            </select>
        </td>
        <td>
            <b>Khu vực</b>
            <select class="form-control" id="khuvuc" name="khuvuc">
                <option>Chọn khu vực</option>
            </select>
        </td>
        <td>
            <b>Lần giao</b>
            <select class="form-control" id="langiao" name="langiao">
                <option>Chọn lần giao</option>
            </select>
        </td>
    </tr>
</table>
        
<div id="dssoghi"></div>
<button id="submit" name="submit" class="btn btn-primary">Lưu cập nhật</button>
        <!--User.Identity.Name-->

<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        function getChuky(nam) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getChukybyNam","Giaohoadon")',
                dataType: "json",
                data: { nam: nam },
                success: function (data) {
                    $("#chuky").html("");
                    $("#khuvuc").html("");
                    $("#langiao").html("");
                    $("#dssoghi").html("");
                    $("#chuky").append('<option value="0">Chọn tháng</option>');
                    $("#khuvuc").append('<option value="0">Chọn khu vực</option>');
                    $("#langiao").append('<option value="0">Chọn lần giao</option>');
                    $.each(data, function (i, data2) {
                        $("#chuky").append('<option value= "' + data2.CHUKY + '">' + data2.TENCHUKY + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });

        var nam = $("#nam").val().toString();
        getChuky(nam);


        $("#nam").keyup(function () {
            var nam = $("#nam").val().toString();
            getChuky(nam);
        });

        $("#chuky").change(function () {
            var chuky = $("#chuky").val().toString();
            $.ajax({
                type: "POST",
                url: '@Url.Action("getKhuvuc","Giaohoadon")',
                dataType: "json",
                data: { chuky: chuky },
                success: function (data) {
                    $("#khuvuc").html("");
                    $("#langiao").html("");
                    $("#dssoghi").html("");
                    $("#khuvuc").append('<option value="0">Chọn khu vực</option>');
                    $("#langiao").append('<option value="0">Chọn lần giao</option>');
                    $.each(data, function (i, data2) {
                        $("#khuvuc").append('<option value= "' + data2.MAKHUVUC + '">' + data2.TENKHUVUC + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
        $("#khuvuc").change(function () {
            var khuvuc = $("#khuvuc").val().toString();
            var chuky = $("#chuky").val().toString();
            //var langiao = $("#langiao").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("getLangiaobyMakhuvuc","Giaohoadon")',
                dataType: "json",
                data: { chuky:chuky, khuvuc: khuvuc },
                success: function (data) {
                    $("#langiao").html("");
                    $("#dssoghi").html("");
                    $("#langiao").append('<option value="0">Chọn lần giao</option>');
                    $.each(data, function (i, data2) {
                        $("#langiao").append('<option value= "' + data2.LANGIAO + '">' + data2.LANGIAO + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
            $("#langiao").change(function () {
                var chuky = $("#chuky").val().toString();
                var khuvuc = $("#khuvuc").val().toString();
                var langiao = $("#langiao").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("getSoghi_Xoachinh","Giaohoadon")',
                    dataType: "json",
                    data: { khuvuc: khuvuc, chuky: chuky, langiao: langiao },
                    success: function (data) {
                        $("#dssoghi").html("");
                        if (data.length != 0) {
                            var str = "";
                            str += "<table id='soghi' table class='table table-hover table-striped' id='tbl-lst-sms'>";
                            str += "<thead><tr><th></th>";
                            str += "<th>Sổ ghi</th><th>Lần</th><th>Từ seri</th><th>Đến seri</th><th>Giao HĐ</th><th>Giao số tiền</th><th>Xóa chỉnh HĐ</th><th>Xóa chỉnh tiền</th><th>Xóa</th></tr></thead>";
                            str += "<tbody>";
                            for (i = 0; i < data.length; i++) {
                                str += "<tr id='" + data[i].IDCTGHD + "'>";
                                str += "<td><input style='display:none' checked type='checkbox' name='chk[]' class='chkElements' value='" + data[i].IDCTGHD + "' /></td>";
                                str += "<td>" + data[i].TENSOGHI + "</td>";
                                str += "<td>" + data[i].LANGIAO + "</td>";
                                if (data[i].TUSOSERI != null)
                                    str += "<td><input value='" + data[i].TUSOSERI + "' placeholder='Từ số seri' class='form-control' id='tuseri_" + data[i].IDCTGHD + "' name='tuseri_" + data[i].IDCTGHD + "'/></td>";
                                else
                                    str += "<td><input placeholder='Từ số seri' class='form-control' id='tuseri_" + data[i].IDCTGHD + "' name='tuseri_" + data[i].IDCTGHD + "'/></td>";
                                if (data[i].DENSOSERI != null)
                                    str += "<td><input value='" + data[i].DENSOSERI + "' placeholder='Đến số seri' class='form-control' id='denseri_" + data[i].IDCTGHD + "' name='denseri_" + data[i].IDCTGHD + "'/></td>";
                                else
                                    str += "<td><input placeholder='Đến số seri' class='form-control' id='denseri_" + data[i].IDCTGHD + "' name='denseri_" + data[i].IDCTGHD + "'/></td>";
                                if (data[i].GIAO_HD != null)
                                    str += "<td><input value='" + data[i].GIAO_HD + "' placeholder='Giao hđ' class='form-control' id='giaohd_" + data[i].IDCTGHD + "' name='giaohd_" + data[i].IDCTGHD + "'/></td>";
                                else
                                    str += "<td><input placeholder='Giao hđ' class='form-control' id='giaohd_" + data[i].IDCTGHD + "' name='giaohd_" + data[i].IDCTGHD + "'/></td>";
                                if (data[i].GIAO_SOTIEN != null)
                                    str += "<td><input value='" + data[i].GIAO_SOTIEN + "' placeholder='Giao số tiền' class='form-control' id='giaost_" + data[i].IDCTGHD + "' name='giaost_" + data[i].IDCTGHD + "'/></td>";
                                else
                                    str += "<td><input placeholder='Giao số tiền' class='form-control' id='giaost_" + data[i].IDCTGHD + "' name='giaost_" + data[i].IDCTGHD + "'/></td>";

                                if (data[i].XOACHINH_HD != null)
                                    str += "<td><input value='" + data[i].XOACHINH_HD + "' placeholder='Xóa chỉnh hóa đơn' class='form-control' id='xoachinhhd_" + data[i].IDCTGHD + "' name='xoachinhhd_" + data[i].IDCTGHD + "'/></td>";
                                else
                                    str += "<td><input placeholder='Xóa chỉnh hóa đơn' class='form-control' id='xoachinhhd_" + data[i].IDCTGHD + "' name='xoachinhhd_" + data[i].IDCTGHD + "'/></td>";
                                if (data[i].XOACHINH_SOTIEN != null)
                                    str += "<td><input value='" + data[i].XOACHINH_SOTIEN + "' placeholder='Xóa chỉnh số tiền' class='form-control' id='xoachinhst_" + data[i].IDCTGHD + "' name='xoachinhst_" + data[i].IDCTGHD + "'/></td>";
                                else
                                    str += "<td><input placeholder='Xóa chỉnh số tiền' class='form-control' id='xoachinhst_" + data[i].IDCTGHD + "' name='xoachinhst_" + data[i].IDCTGHD + "'/></td>";
                                str += "<td><button class='btn btn-primary' type='button' onclick='Delete(" + data[i].IDCTGHD + ")'>Xóa</button></td>";
                                str += "</tr>";
                            }
                            //str += "<tr><td><button id='submit' onclick='a()' name='submit' class='btn btn-primary'>Lưu</button></td></tr>";
                            str += "</tbody>";
                            str += "</table>";
                            $('#dssoghi').html(str);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }
                });
            });
        });
            /*$(document).on('click', 'input.chkAll', function () {
                var state = $('.chkAll').prop('checked');
                $('.chkElements').prop('checked', state);
            });*/


        $("#submit").click(function () {
            var checked = [];
            var tuseri = [];
            var denseri = [];
            var giaohd = [];
            var giaost = [];
            var xoachinhhd = [];
            var xoachinhst = [];
            $("input[name='chk[]']:checked").each(function () {
                var idctghd = $(this).val();
                checked.push(($(this).val()));

                if ($("#xoachinhhd_" + idctghd).val() != "" && $("#xoachinhhd_" + idctghd).val() != "null") {
                    xoachinhhd.push(parseInt($("#xoachinhhd_" + idctghd).val()));
                }
                else {
                    xoachinhhd.push(0);
                }
                if ($("#xoachinhst_" + idctghd).val() != "" && $("#xoachinhst_" + idctghd).val() != "null") {
                    xoachinhst.push(parseInt($("#xoachinhst_" + idctghd).val()));
                }
                else {
                    xoachinhst.push(0);
                }
                if ($("#tuseri_" + idctghd).val() != "" && $("#tuseri_" + idctghd).val() != "null") {
                    tuseri.push(parseInt($("#tuseri_" + idctghd).val()));
                }
                else {
                    tuseri.push(0);
                }
                if ($("#denseri_" + idctghd).val() != "" && $("#denseri_" + idctghd).val() != "null") {
                    denseri.push(parseInt($("#denseri_" + idctghd).val()));
                }
                else {
                    denseri.push(0);
                }
                if ($("#giaohd_" + idctghd).val() != "" && $("#giaohd_" + idctghd).val() != "null") {
                    giaohd.push(parseInt($("#giaohd_" + idctghd).val()));
                }
                else {
                    giaohd.push(0);
                }
                if ($("#giaost_" + idctghd).val() != "" && $("#giaost_" + idctghd).val() != "null") {
                    giaost.push(parseInt($("#giaost_" + idctghd).val()));
                }
                else {
                    giaost.push(0);
                }

            });

            if (langiao.value != "") {
                $.ajax({
                    type: "POST",
                    traditional: true,
                    url: '@Url.Action("Luuxoachinh","Giaohoadon")',
                    data: { "idctghd": checked, "xoachinhhd": xoachinhhd, "xoachinhst": xoachinhst, "tuseri": tuseri, "denseri": denseri, "giaohd": giaohd, "giaost": giaost },
                    cache: false,
                    success: function (data) {
                        alert("Lưu thành công");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("Không thể lưu");
                    }
                });
            }
        });

    });
        </script>


        <script>
            function confirmDelete() {
                return confirm("Bạn có chắc chắn muốn xóa?");
            }
            function Delete(id) {
                if (confirmDelete()) {
                    $.ajax({
                        type: "POST",
                        traditional: true,
                        url: '@Url.Action("Xoa","Giaohoadon")',
                        data: { "idctghd": id },
                        cache: false,
                        success: function (data) {
                            alert("Xóa thành công");
                            document.getElementById(id).style.display = "none";
                            //window.location.reload();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert("Không thể xóa");
                        }
                    });
                }
            }
        </script>






