﻿@{
    Layout = null;
}
@model Data.NGUOIDUNG

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    <style>
        .panel-primary {
            border-color:#0066B3;
        }
        .panel-primary > .panel-heading {
            background-image: none;
            background-color: #0066B3;
            color: white;
        }
        .btn-primary {
            background:#0066B3;
        }
        .btn-primary:hover {
            background:#0160a8;
        }

        .center-contain {
            text-align:center;
        }
        .row-margin-top {
            margin-top:100px;
        }
        .glyphicon {
            color:#0066B3;
        }
        body {
            background-image: url("../../Content/Images/back2.jpg");
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="container">
            <div class="row row-margin-top">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4>Đăng nhập</h4></div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                                    <input type="text" class="form-control" id="tdn" placeholder="Tên đăng nhập" name="tdn" autofocus/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="glyphicon glyphicon-share-alt" ></i></div>
                                    <input type="password" class="form-control" id="mk" placeholder="Mật khẩu" name="mk"/>
                                </div>
                            </div>                            
                        </div>
                        <div class="panel-footer center-contain">
                            <button type="submit" class="btn btn-primary">Đăng nhập</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>        
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
