﻿@model IEnumerable<Data.KHUVUC>
@{
    ViewBag.Title = "Import dữ liệu khách hàng";
}

@using (Html.BeginForm("ImportExcel", "ImportExcel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="title">
        <h5><img src="~/Content/Images/lr_title_icon.png" />Import dữ liệu khách hàng</h5>
    </div>
    <table class="table table-hover table-striped table-width-medium table-bordered" id="tbl-lst-sms">
        @*<tr class="title">
            <th colspan="3">
                <h4><img src="~/Content/Images/lr_title_icon.png" />Import dữ liệu khách hàng</h4>
            </th>
        </tr>*@
        <tr>            
            <td>
                <span class="bluetext">Chọn khu vực</span>
                <select class="form-control" id="khuvuc" name="khuvuc">
                    <option>Chọn khu vực</option>
                    @foreach(var item in Model)
                    {
                        <option value='@item.MAKHUVUC'>@item.TENKHUVUC</option>
                    }
                </select>
            </td>   
            <td>
                <span class="bluetext">Thông tin</span>
                <input type="text" id="chuky" name="chuky" class="form-control" readonly />
            </td>         
        </tr>
        <tr>   
            <td colspan="2" class="centertext"><input type="file" id="FileUpload1" name="FileUpload1" class="btn btn-default custom-file-input" /></td>
        </tr>
        <tr>
            <td colspan="2" class="centertext"><input onclick="return confirm('Bạn có chắc chắn muốn import dữ liệu?')" type="submit" id="Submit" name="Submit" value="Import dữ liệu" class="btn btn-primary"  /></td>
        </tr>
    </table>
}



<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $("#khuvuc").change(function () {
            var khuvuc = $("#khuvuc").val().toString();
            $.ajax({
                type: "POST",
                url: '@Url.Action("getChuky","ImportExcel")',
                dataType: "json",
                data: { khuvuc: khuvuc },
                success: function (data) {
                    $("#chuky").val("Hiện đã có dữ liệu đến tháng "+ data.substr(4,2)+"/"+ data.substr(0,4));
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#chuky").val("Chưa có dữ liệu");
                    //alert(xhr.status);
                    //alert(thrownError);
                }
            });
        });
    });
</script>




