﻿@using PagedList.Mvc;
@using Data.ViewModels;
@using Data;
@{
    ViewBag.Title = "PhatHanh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <form id="getListForm" action="@Url.Action("InBangKeHoaDon", "HDDT")" method="Post">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <b>Năm</b> @*@Html.DropDownList("nam", (SelectList)ViewBag.NamList, "Chọn năm", new { @class = "form-control" })*@
                        @{
                            string currentYear = DateTime.Now.Year.ToString();
                        }
                        <input id="nam" type="number" name="nam" class="form-control" value="@currentYear" placeholder="Nhập năm" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <b>Tháng</b>
                        <select class="form-control" id="chuky" name="chuky">
                            <option value="0">Chọn tháng</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <b>Khu vực</b>
                        <select class="form-control" id="khuvuc" name="khuvuc">
                            <option value="0">Chọn khu vực</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <button style="margin-top:18px;" type="submit" class="btn btn-primary">Xuất bảng kê hóa đơn, biên nhận</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/Scripts/PhatHanhHDDT.js"></script>