﻿@using Data;
@{
    ViewBag.Title = "CauHinhHDDT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<CONFIG>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Tên tham số
                        </th>
                        <th>
                            Giá trị tham số
                        </th>
                        <td style="text-align:center">Lưu</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var config in Model)
                    {
                        <tr>
                            <td>
                                @config.CONFIG_NAME
                            </td>
                            <td>
                                <input id="config_@config.ID" class="form-control" value="@config.CONFIG_VALUE"/>
                            </td>
                            <td style="text-align:center"><button onclick="luuConfig(@config.ID)" class="btn btn-sm btn-success">Lưu</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function luuConfig(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("CapNhatThamSo", "HDDT")?id='+id+'&giaTri='+$('#config_'+id).val(),
                beforeSend: function () {
                    $('.nhi-fade').css('display', 'block');
                },
                success: function (data) {
                    alert("Cập nhật thành công");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                },
                complete: function (response) {
                    $('.nhi-fade').css('display', 'none');
                },
            });
        }
    </script>

</div>

