﻿@using PagedList.Mvc;
@using Data;
@{
    ViewBag.Title = "Hóa đơn điện tử";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-md-12">
        <form id="getListForm" action="/HDDT/GetList">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Năm</b> @*@Html.DropDownList("nam", (SelectList)ViewBag.NamList, "Chọn năm", new { @class = "form-control" })*@
                        @{
                            string currentYear = DateTime.Now.Year.ToString();
                        }
                        <input id="nam" name="nam" class="form-control" value="@currentYear" placeholder="Nhập năm" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Tháng</b>
                        <select class="form-control" id="chuky" name="chuky">
                            <option value="0">Chọn tháng</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="nhi-divider"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Khu vực</b>
                        <select class="form-control" id="khuvuc" name="khuvuc">
                            <option value="0">Chọn khu vực</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Đường</b>
                        <select class="form-control" id="duong" name="duong">
                            <option value="0">Chọn đường</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Sổ ghi</b>
                        <select class="form-control" id="soghi" name="soghi">
                            <option value="0">Chọn sổ ghi</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="nhi-divider"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Trạng thái HĐ</b>
                        <select class="form-control" id="tthoadon" name="tthoadon">
                            <option value="0">Chọn Trạng thái hóa đơn</option>
                            <option value="0">Tất cả</option>
                            <option value="CONFIRMED">Đã phát hành</option>
                            <option value="REPLACED">Đã thay thế</option>
                            <option value="CANCELED">Đã hủy</option>
                        </select>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Loại HĐ</b>
                        <select class="form-control" id="loaihoadon" name="loaihoadon">
                            <option value="0">Chọn Loại hóa đơn</option>
                            <option value="0">Tất cả</option>
                            <option value="TTRUOC">Tháng trước</option>
                            <option value="THIENTAI">Tháng hiện tại</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col" style="text-align:center">
                        <button class="btn btn-primary">Xem danh sách hóa đơn</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<div class="nhi-divider"></div>
<div class="row">
    <div class="col-md-12">
        @*Các button chức năng*@
    </div>
    <div class="col-md-12">
        <div style="float:right;margin-bottom:5px">
            <b>Số dòng</b>
            <select style="display:inline" class="form-control" name="pagesize" form="getListForm">
                <option selected>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
            </select>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr style="color:#0066B3">
                    <th>Chu kỳ</th>
                    <th>Mã khách hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Địa chỉ</th>
                    <th>Mẫu</th>
                    <th>Cuốn</th>
                    <th>Bảng giá</th>
                    <th>Đơn giá</th>
                    <th>Tổng cộng</th>
                    <th>Tiền thuế</th>
                    <th>Thành tiền</th>
                    <th>Ngày tạo</th>
                    <th>Ngày cập nhật</th>
                    <th><input type="checkbox" /></th>
                </tr>
            </thead>
            <tbody>
                @{ foreach (INVOICE hoaDon in ViewBag.HDDTs)
                    {
                        <tr>
                            <td>@hoaDon.CHUKYNO</td>
                            <td>@hoaDon.CusCode</td>
                            <td>@hoaDon.CusName</td>
                            <td>@hoaDon.CusAddress</td>
                            <td>@hoaDon.InvoicePattern</td>
                            <td>@hoaDon.SerialNo</td>
                            <td>@hoaDon.KindOfService</td>
                            <td>Đơn Giá</td>
                            <td>@hoaDon.Total</td>
                            <td>@hoaDon.VATAmount</td>
                            <td>@hoaDon.Amount</td>
                            <td>@hoaDon.NGAYTAO.Value.ToString("dd/MM/yyyy")</td>
                            <td>@hoaDon.NGAYUPDATE.Value.ToString("dd/MM/yyyy")</td>
                            <td><input id="ckb@(hoaDon.Key)" type="checkbox" /></td>
                        </tr>
                    }
                }
                <tr></tr>
            </tbody>
        </table>
        @{
            var HDDTs = (PagedList.IPagedList<INVOICE>)ViewBag.HDDTs;
        }
        <div class="page-count" style="display:inline-block; vertical-align:middle;">
            Trang @(ViewBag.HDDTs.PageCount < ViewBag.HDDTs.PageNumber ? 0 : ViewBag.HDDTs.PageNumber) / @ViewBag.HDDTs.PageCount
        </div>
        <div class="pagination" style="display:inline-block; vertical-align:middle;">
            @Html.PagedListPager(HDDTs, page => Url.Action("GetList", new { ViewBag.chuky, ViewBag.khuvuc, ViewBag.duong, ViewBag.soghi, ViewBag.tthoadon, ViewBag.loaihoadon, ViewBag.httt, page, pagesize = ViewBag.pagesize, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
    
</div>
<script type="text/javascript">
    $(document).ready(function () {
        function getChuky(nam) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getChukybyNam","Hoadon")',
                dataType: "json",
                data: { nam: nam },
                success: function (data) {
                    $("#chuky").html("");
                    $("#khuvuc").html("");
                    $("#duong").html("");
                    $("#soghi").html("");
                    $("#chuky").append('<option value="0">Chọn tháng</option>');
                    $("#khuvuc").append('<option value="0">Chọn khu vực</option>');
                    $("#duong").append('<option value="0">Chọn đường</option>');
                    $("#soghi").append('<option value="0">Chọn sổ ghi</option>');
                    $.each(data, function (i, data2) {
                        $("#chuky").append('<option value= "' + data2.CHUKY + '">' + data2.TENCHUKY + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }

        var nam = $("#nam").val().toString();
        getChuky(nam);


        $("#nam").keyup(function () {
             var nam = $("#nam").val().toString();
             getChuky(nam);
        });
        $("#chuky").change(function () {
            var chuky = $("#chuky").val().toString();
            $.ajax({
                type: "POST",
                url: '@Url.Action("getKhuvuc", "Hoadon")',
                dataType: "json",
                data: { chuky: chuky },
                success: function (data) {
                    $("#khuvuc").html("");
                    $("#duong").html("");
                    $("#soghi").html("");
                    $("#khuvuc").append('<option value="0">Chọn khu vực</option>');
                    $("#khuvuc").append('<option value="0">Tất cả</option>');
                    $("#duong").append('<option value="0">Chọn đường</option>');
                    $("#soghi").append('<option value="0">Chọn sổ ghi</option>');
                    $.each(data, function (i, data2) {
                        $("#khuvuc").append('<option value= "' + data2.MAKHUVUC + '">' + data2.TENKHUVUC + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
        $("#khuvuc").change(function () {
            var khuvuc = $("#khuvuc").val().toString();
            $.ajax({
                type: "POST",
                url: '@Url.Action("getDuong", "Hoadon")',
                dataType: "json",
                data: { khuvuc: khuvuc },
                success: function (data) {
                    $("#duong").html("");
                    $("#soghi").html("");
                    $("#duong").append('<option value="0">Chọn đường</option>');
                    $("#duong").append('<option value="0">Tất cả</option>');
                    $("#soghi").append('<option value="0">Chọn sổ ghi</option>');
                    $.each(data, function (i, data2) {
                        $("#duong").append('<option value= "' + data2.IDDUONG + '">' + data2.TENDUONG + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
        $("#duong").change(function () {
            var duong = $("#duong").val().toString();
            $.ajax({
                type: "POST",
                url: '@Url.Action("getSoghi", "Hoadon")',
                dataType: "json",
                data: { duong: duong },
                success: function (data) {
                    $("#soghi").html("");
                    $("#soghi").append('<option value="0">Tất cả</option>');
                    $.each(data, function (i, data2) {
                        $("#soghi").append('<option value= "' + data2.MASOGHI + '">' + data2.TENSOGHI + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
    });
</script>
