﻿@using PagedList.Mvc;
@using Data.ViewModels;
@using Data;
@model PagedList.IPagedList<InvoiceGetList>
@{
    ViewBag.Title = "PhatHanh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Hủy hóa đơn điện tử";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (Model != null)
    {
        var chuKyNo = ViewBag.chuKyNo.ToString();
        var khuvuc = ViewBag.khuvuc.ToString();
        var duong = ViewBag.duong.ToString();
        var soghi = ViewBag.soghi.ToString();
        var trangThai = ViewBag.trangThai.ToString();
        string key = ViewBag.key;
        var serialNo = ViewBag.serialNo.ToString();
        var invoicePattern = ViewBag.invoicePattern.ToString();
        string maSoCD = ViewBag.maSoCD;
    }

}
<div class="row">
    <div class="col-md-12">
        <h3 style="margin-top:10px"><b>HỦY HÓA ĐƠN ĐIỆN TỬ</b></h3>
    </div>
</div>
<form action="@Url.Action("HuyHoaDon","HDDT")">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <b>Năm</b>
                <input id="txtNam" class="form-control" type="number" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <b>Tháng</b>
                <select id="chuKyNo" name="chuKyNo" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="nhi-divider"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <b>Cuốn</b>
                <select id="serialNo" name="serialNo" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <b>Mẫu hóa đơn</b>
                <select id="invoicePattern" name="invoicePattern" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="nhi-divider"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <b>Khu vực</b>
                <select id="khuvuc" name="khuvuc" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <b>Đường</b>
                <select id="duong" name="duong" class="form-control"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <b>Sổ ghi</b>
                <select id="soghi" name="soghi" class="form-control"></select>
            </div>
        </div>
    </div>
    <div class="nhi-divider"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <b>Mã số cố định</b>
                <input id="masocd" name="masocd" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">

                <b>Trạng thái</b>
                <select id="trangThai" name="trangThai" class="form-control">
                    <option value="PUBLISHED">Đã phát hành</option>
                    <option value="CONFIRMED">Đã thanh toán</option>
                    <option value="CANCELED">Đã Hủy</option>
                </select>
            </div>
           
        </div>
        @*<div class="col-md-4">
            <div class="form-group">
                <b>Phát hành chung</b>
                <select name="phatHanhChung" class="form-control">
                    <option value="0">Phát hành riêng</option>
                    <option value="1">Là hóa đơn phát hành chung</option>
                    <option value="-1">Tất cả</option>
                </select>
            </div>
        </div>*@
        <div class="col-md-4">
            <div class="form-group">
                <b>Key</b>
                <input id="key" name="key" class="form-control" />
            </div>
        </div>
    </div>
    <div class="nhi-divider"></div>
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <button type="submit" class="btn btn-primary">Tìm kiếm hóa đơn điện tử</button>
        </div>
    </div>
</form>
<div class="nhi-divider"></div>
@if (Model != null)
{

    <div class="nhi-btnDiv">
        <button disabled class="btn btn-danger"
                 onclick="HuyTatCa('@ViewBag.chuKyNo', '@ViewBag.khuvuc', '@ViewBag.duong', '@ViewBag.soghi', '@ViewBag.trangThai', '@ViewBag.key', '@ViewBag.serialNo','@ViewBag.invoicePattern','@ViewBag.maSoCD')">Hủy toàn bộ</button>
        <button type="submit" form="frmHuy" class="btn btn-info">Hủy những hóa đơn đã chọn</button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="frmHuy" action="HuyHoaDons">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Mã số cố định</th>
                            <th>Tên khách hàng</th>
                            <th>Cuốn</th>
                            <th>Mẫu hóa đơn</th>
                            <th>Số hóa đơn</th>
                            <th>Trạng thái</th>
                            <th>Phát hành chung</th>
                            <th><input type="checkbox" /></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ foreach (InvoiceGetList invoice in Model)
                            {
                                <tr>
                                    <td>@invoice.Key</td>
                                    <td>@invoice.MASOCD</td>
                                    <td>@invoice.HOTEN</td>
                                    <td>@invoice.SerialNo</td>
                                    <td>@invoice.InvoicePattern</td>
                                    <td>@invoice.InvoiceNo</td>
                                    <td>@invoice.TrangThai</td>
                                    @if (invoice.PHAT_HANH_CHUNG){
                                        <td>Là hóa đơn phát hành chung</td>
                                    }
                                    else {
                                        <td></td>
                                    }
                                    <td style="text-align:center">
                                        <input id="ckb@(invoice.Key)" value="@(invoice.Key)" name="selectedInvoices" type="checkbox" />
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </form>
            <div class="page-count" style="display:inline-block; vertical-align:middle; font-weight:bold">
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            </div>
            <div class="pagination" style="display:inline-block; vertical-align:middle;">
                @Html.PagedListPager(Model, page => Url.Action("HuyHoaDon", "HDDT", new { ViewBag.chuKyNo, page, pagesize = ViewBag.pagesize, ViewBag.khuvuc, ViewBag.duong, ViewBag.soghi, ViewBag.loaihoadon, ViewBag.trangThai, ViewBag.key, ViewBag.serialNo, ViewBag.invoicePattern, ViewBag.maSoCD }))
            </div>
        </div>
    </div>
                            }
<script>
    function HuyTatCa(chuKyNo, khuvuc, duong, soghi, trangThai, key, serialNo, invoicePattern, maSoCD) {
        var cf = confirm("Bạn có chắc chắn muốn hủy phát hành tất cả?\nQuá trình này có thể mất từ 1 đến vài phút tùy vào số lượng hóa đơn cần phát hành.");
        if (cf) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("HuyTatCa", "HDDT")',
                //dataType: "json",
                data: {
                    chuKyNo: chuKyNo,
                    khuvuc: khuvuc,
                    duong: duong,
                    soghi: soghi,
                    trangThai: trangThai,
                    key: key,
                    serialNo: serialNo,
                    invoicePattern: invoicePattern,
                    maSoCD: maSoCD,
                },
                beforeSend: function () {
                    // Handle the beforeSend event
                    $('.nhi-fade').css('display', 'block');
                },
                success: function (data) {
                    alert("Hủy thành công " + data + " hóa đơn.");
                    window.location.href = "@Url.Action("Huy", "HDDT")";
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                },
                complete: function (response) {

                    $('.nhi-fade').css('display', 'none');
                },
            });
        }
    };
</script>
<script src="~/Scripts/HuyHDDT.js"></script>

