﻿
@{
    ViewBag.Title = "Hóa đơn điện tử";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <form action="/HDDT/GetList">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Năm</b> @*@Html.DropDownList("nam", (SelectList)ViewBag.NamList, "Chọn năm", new { @class = "form-control" })*@
                        @{
                            string currentYear = DateTime.Now.Year.ToString();
                        }
                        <input id="nam" name="nam" class="form-control" value="@currentYear" placeholder="Nhập năm" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Tháng</b>
                        <select class="form-control" id="chuky" name="chuky">
                            <option value="0">Chọn tháng</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">

                    <div class="form-group">
                        <b>Khu vực</b>
                        <select class="form-control" id="khuvuc" name="khuvuc">
                            <option value="0">Chọn khu vực</option>
                        </select>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Đường</b>
                        <select class="form-control" id="duong" name="duong">
                            <option value="0">Chọn đường</option>
                        </select>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Sổ ghi</b>
                        <select class="form-control" id="soghi" name="soghi">
                            <option value="0">Chọn sổ ghi</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Trạng thái HĐ</b>
                        <select class="form-control" id="tthoadon" name="tthoadon">
                            <option value="0">Chọn Trạng thái hóa đơn</option>
                            <option value="0">Tất cả</option>
                            <option value="CHUAXULY">Chưa xử lý</option>
                            <option value="TTOAN">Thanh toán</option>
                            <option value="TON">Tồn</option>
                        </select>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Loại HĐ</b>
                        <select class="form-control" id="loaihoadon" name="loaihoadon">
                            <option value="0">Chọn Loại hóa đơn</option>
                            <option value="0">Tất cả</option>
                            <option value="TTRUOC">Tháng trước</option>
                            <option value="THIENTAI">Tháng hiện tại</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col" style="text-align:center">
                        <button class="btn btn-info">Xem danh sách hóa đơn</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        function getChuky(nam) {
            $.ajax({
                type: "POST",
                url: '/Hoadon/getChukybyNam',
                dataType: "json",
                data: { nam: nam },
                success: function (data) {
                    $("#chuky").html("");
                    $("#khuvuc").html("");
                    $("#duong").html("");
                    $("#soghi").html("");
                    $("#chuky").append('<option value="0">Chọn tháng</option>');
                    $("#khuvuc").append('<option value="0">Chọn khu vực</option>');
                    $("#duong").append('<option value="0">Chọn đường</option>');
                    $("#soghi").append('<option value="0">Chọn sổ ghi</option>');
                    $.each(data, function (i, data2) {
                        $("#chuky").append('<option value= "' + data2.CHUKY + '">' + data2.TENCHUKY + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }

        var nam = $("#nam").val().toString();
        getChuky(nam);


        $("#nam").keyup(function () {
            var nam = $("#nam").val().toString();
            getChuky(nam);
        });
        $("#chuky").change(function () {
            var chuky = $("#chuky").val().toString();
            $.ajax({
                type: "POST",
                url: '/Hoadon/getKhuvuc',
                dataType: "json",
                data: { chuky: chuky },
                success: function (data) {
                    $("#khuvuc").html("");
                    $("#duong").html("");
                    $("#soghi").html("");
                    $("#khuvuc").append('<option value="0">Chọn khu vực</option>');
                    $("#khuvuc").append('<option value="0">Tất cả</option>');
                    $("#duong").append('<option value="0">Chọn đường</option>');
                    $("#soghi").append('<option value="0">Chọn sổ ghi</option>');
                    $.each(data, function (i, data2) {
                        $("#khuvuc").append('<option value= "' + data2.MAKHUVUC + '">' + data2.TENKHUVUC + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
        $("#khuvuc").change(function () {
            var khuvuc = $("#khuvuc").val().toString();
            $.ajax({
                type: "POST",
                url: '/Hoadon/getDuong',
                dataType: "json",
                data: { khuvuc: khuvuc },
                success: function (data) {
                    $("#duong").html("");
                    $("#soghi").html("");
                    $("#duong").append('<option value="0">Chọn đường</option>');
                    $("#duong").append('<option value="0">Tất cả</option>');
                    $("#soghi").append('<option value="0">Chọn sổ ghi</option>');
                    $.each(data, function (i, data2) {
                        $("#duong").append('<option value= "' + data2.IDDUONG + '">' + data2.TENDUONG + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
        $("#duong").change(function () {
            var duong = $("#duong").val().toString();
            $.ajax({
                type: "POST",
                url: '/Hoadon/getSoGhi',
                dataType: "json",
                data: { duong: duong },
                success: function (data) {
                    $("#soghi").html("");
                    $("#soghi").append('<option value="0">Tất cả</option>');
                    $.each(data, function (i, data2) {
                        $("#soghi").append('<option value= "' + data2.MASOGHI + '">' + data2.TENSOGHI + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
        $('#txtNam').change(function () {
            $.ajax({
                type: "POST",
                url: '/Hoadon/getChuKybyNam',
                dataType: "json",
                data: { nam: $('#txtNam').val() },
                success: function (data) {
                    $("#sltThang").html('');
                    $.each(data, function (i, data2) {
                        $("#sltThang").append('<option value= "' + data2.CHUKY + '">' + data2.TENCHUKY + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
    });
</script>


