﻿
@{
    ViewBag.Title = "InPhieuBienNhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using ReportViewerForMvc;

<h2>Phiếu biên nhận</h2>
<style>
    iframe{
        width:100%!important
    }
</style>
@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)

