﻿@using PagedList.Mvc;
@using Data.ViewModels;
@model PagedList.IPagedList<Data.ViewModels.GetHoaDonJoinLastInvoice>
@{
    ViewBag.Title = "PhatHanh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (Model != null)
    {
        var c = ViewBag.chuky.ToString().Substring(4) + "/" + ViewBag.chuky.ToString().Substring(0, 4);
        ViewBag.Title = "Danh sách hóa đơn " + c;
        var chuky = ViewBag.chuky.ToString();
        var khuvuc = ViewBag.khuvuc.ToString();
        var duong = ViewBag.duong.ToString();
        var soghi = ViewBag.soghi.ToString();
        var searchString = ViewBag.searchString;
        var status = ViewBag.status.ToString();
    }

}
<div class="row">
    <div class="col-md-12">
        <h3 style="margin-top:10px"><b>PHÁT HÀNH HÓA ĐƠN ĐIỆN TỬ</b></h3>
        <form id="getListForm" action="@Url.Action("PhatHanhHoaDon", "HDDT")" method="Post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Năm</b> @*@Html.DropDownList("nam", (SelectList)ViewBag.NamList, "Chọn năm", new { @class = "form-control" })*@
                        @{
                            string currentYear = DateTime.Now.Year.ToString();
                        }
                        <input id="nam" type="number" name="nam" class="form-control" value="@currentYear" placeholder="Nhập năm" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Tháng</b>
                        <select class="form-control" id="chuky" name="chuky">
                            <option value="0">Chọn tháng</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="nhi-divider"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Khu vực</b>
                        <select class="form-control" id="khuvuc" name="khuvuc">
                            <option value="0">Chọn khu vực</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Đường</b>
                        <select class="form-control" id="duong" name="duong">
                            <option value="0">Chọn đường</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Sổ ghi</b>
                        <select class="form-control" id="soghi" name="soghi">
                            <option value="0">Chọn sổ ghi</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="nhi-divider"></div>
            <div class="row">
                @*<div class="col-md-4">
                        <div class="form-group">
                            <b>Trạng thái HĐ</b>
                            <select class="form-control" id="tthoadon" name="tthoadon">
                                <option value="0">Chọn Trạng thái hóa đơn</option>
                                <option value="0">Tất cả</option>
                                <option value="CHUAXULY">Chưa xử lý</option>
                                <option value="TTOAN">Thanh toán</option>
                                <option value="TON">Tồn</option>
                            </select>
                        </div>
                    </div>*@
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Tình trạng HDDT</b>
                        <select class="form-control" id="invoiceStatus" name="status">
                            <option value="0">Tất cả</option>
                            <option value="-1">Chưa phát hành</option>
                            <option value="1">Đã phát hành</option>
                            <option value="2">Đã hủy</option>
                            <option value="3">Đã thanh toán</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Thành tiền</b>
                        <select name="lh28k" class="form-control">
                            <option selected value="1">Lớn hơn 28.000</option>
                            <option selected value="0">28.000</option>
                            <option selected value="-1">Tất cả</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Tìm kiếm</b>
                        <input name="searchString" class="form-control" placeholder="Mã số cố định/danh số" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col" style="text-align:center">
                        <button class="btn btn-primary">Xem danh sách hóa đơn</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@{if (Model != null)
    {
        <div class="nhi-btnDiv">
            <button id="btnImportAll" class="btn btn-danger" onclick="PhatHanhTatCa('@ViewBag.chuky', '@ViewBag.khuvuc', '@ViewBag.duong', '@ViewBag.soghi', '@ViewBag.tthoadon', '@ViewBag.loaihoadon', '@ViewBag.httt','@ViewBag.status','@ViewBag.searchString',@ViewBag.lh28k)">Phát hành tất cả</button>
            <button form="frmPhatHanh" id="btnImportSelected" class="btn btn-info" type="submit">Phát hành những hóa đơn đã chọn</button>
            <button id="btnConfirmAll" class="btn btn-danger" onclick="ThanhToanTatCa('@ViewBag.chuky', '@ViewBag.khuvuc', '@ViewBag.duong', '@ViewBag.soghi', '@ViewBag.tthoadon', '@ViewBag.loaihoadon', '@ViewBag.httt','@ViewBag.status','@ViewBag.searchString',@ViewBag.lh28k)">Thanh toán tất cả</button>

        </div>
        <div class="row">
            <div class="col-md-12">

                <form id="frmPhatHanh" action="@Url.Action("PhatHanhHoaDons", "HDDT")">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr style="color:#0066B3">
                                <th>Tháng</th>
                                <th>Mã số</th>
                                <th>Mã số CĐ</th>
                                <th>Họ tên</th>
                                <th style="width: 111px;">Số nhà</th>
                                <th>Mã số thuế</th>
                                <th>STK</th>
                                <th>Tiền VS</th>
                                <th>Thuế</th>
                                <th>Tổng tiền</th>
                                <th>Sổ ghi</th>
                                <th>Trạng thái</th>
                                <th>Mã HĐĐT</th>
                                <th>Số hóa đơn</th>
                                <th>Mẫu hóa đơn</th>
                                <th>Serrial NO</th>
                                <th>Tải hóa đơn</th>
                                @*<th>Thay thế hóa đơn</th>*@
                                <th><input type="checkbox" onclick="$('#frmPhatHanh input[name=selectedHoadons]').prop('checked', $(this).prop('checked'));" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ foreach (GetHoaDonJoinLastInvoice hoaDon in Model)
                                {
                                    <tr>
                                        <td>@hoaDon.CHUKYNO.ToString().Substring(4)/@hoaDon.CHUKYNO.ToString().Substring(0, 4)</td>
                                        <td>@hoaDon.DANHSO</td>
                                        <td>@hoaDon.MASOCD</td>
                                        <td>@hoaDon.HOTEN</td>
                                        <td>@hoaDon.SONHA</td>
                                        <td>@hoaDon.MASOTHUE</td>
                                        <td>@hoaDon.SOTK</td>
                                        <td>@hoaDon.TIENVS</td>
                                        <td>@hoaDon.THUE</td>
                                        <td>@hoaDon.THANHTIENVS</td>
                                        <td>@hoaDon.TENSOGHI</td>
                                        @*@if (hoaDon.TRANGTHAI == "CHUAXULY" || hoaDon.TRANGTHAI == null)
                                            {
                                                <td>Chưa xử lý</td>
                                            }
                                            else if (hoaDon.TRANGTHAI == "TTOAN" /*|| item.TRANGTHAI == null*/)
                                            {
                                                <td>Thanh toán</td>
                                            }
                                            else if (hoaDon.TRANGTHAI == "TON" /*|| item.TRANGTHAI == null*/)
                                            {
                                                <td>Tồn</td>
                                            }*@
                                        <td>@hoaDon.TRANGTHAIHDDT</td>
                                        <td>@hoaDon.KEY</td>
                                        <td>@hoaDon.InvoiceNo</td>
                                        <td>@hoaDon.InvoicePattern</td>
                                        <td>@hoaDon.SerialNo</td>
                                        <td>
                                            @if (hoaDon.KEY != null)
                                            {
                                                <a href="@Url.Action("TaiHoaDon","HDDT")?fkey=@hoaDon.KEY" target="_blank"><i class="fa fa-download"></i> Click để tải</a>
                                            }
                                        </td>
                                        @*<td><a href="/HDDT/TaoHoaDonThayThe?fkey=@hoaDon.KEY" target="_blank"><i class="fa fa-download"></i> Tạo hóa đơn thay thế</a></td>*@
                                        <td>
                                            @if (hoaDon.KEY == null || hoaDon.TRANGTHAIHDDT == "CANCELED")
                                            {
                                                <input id="ckb@(hoaDon.CHUKYNO+hoaDon.MASOCD)" value="@(hoaDon.CHUKYNO+"|"+hoaDon.MASOCD)" name="selectedHoadons" type="checkbox" />
                                            }

                                        </td>
                                    </tr>
                                }
                            }


                            <tr></tr>
                        </tbody>
                    </table>
                </form>

                <div class="page-count" style="display:inline-block; vertical-align:middle; font-weight:bold">
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                </div>
                <div class="pagination" style="display:inline-block; vertical-align:middle;">
                    @Html.PagedListPager(Model, page => Url.Action("PhatHanhHoaDon", "HDDT", new { ViewBag.chuky, ViewBag.khuvuc, ViewBag.duong, ViewBag.soghi, ViewBag.tthoadon, ViewBag.loaihoadon, ViewBag.httt, ViewBag.status, page, pagesize = ViewBag.pagesize, currentFilter = ViewBag.CurrentFilter, lh28k = ViewBag.lh28k }))
                </div>
            </div>
        </div>

        <div id="modal" class="modal fade" role="dialog">
            <div style="width:700px" class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Nhập hóa đơn muốn phát hành</h4>
                    </div>
                    <div class="modal-body">
                        <form id="searchForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <input style="margin:0 0 5px 0" required id="txtMaSoCD" class="form-control" placeholder="Nhập mã số cố định" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <input class="form-control" id="txtNam" type="number" placeholder="Nhập năm" />
                                </div>
                                <div class="col-md-7">
                                    <select value="" id="sltThang" class="form-control" placeholder="Chọn tháng">
                                        <option value="0">Chọn tháng</option>
                                    </select>
                                </div>
                            </div>

                            <div style="text-align:right;margin:5px 0 0 0">
                                <button id="btnModalSubmit" type="submit" class="btn btn-primary">Tra cứu</button>
                            </div>
                        </form>
                        <div>
                            <h5>Danh sách hóa đơn trong hệ thống</h5>
                            <table id="tblHoaDons" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Tháng</th>
                                        <th>Mã số CĐ</th>
                                        <th>Họ tên</th>
                                        <th>Tiền VS</th>
                                        <th>Thuế</th>
                                        <th>Tổng tiền</th>
                                        <th>Trạng Thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tháng</td>
                                        <td>Mã số CĐ</td>
                                        <td>Họ tên</td>
                                        <td>Tiền VS</td>
                                        <td>Thuế</td>
                                        <td>Tổng tiền</td>
                                        <td>Trạng Thái</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <h5>Danh sách hóa đơn điện tử liên quan</h5>
                            <table id="tblInvoices" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Mã hóa đơn</th>
                                        <th>Tên khách hàng</th>
                                        <th>Ngày phát hành</th>
                                        <th>Cuốn</th>
                                        <th>Mẫu</th>
                                        <th>Tình trạng</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
                                }
}
<script>
    function PhatHanhTatCa(chuky, khuvuc, duong, soghi, tthoadon, loaihoadon, httt, status, searchString,lh28k) {
        var cf = confirm("Bạn có chắc chắn muốn phát hành tất cả?\nQuá trình này có thể mất từ 1 đến vài phút tùy vào số lượng hóa đơn cần phát hành.");
        if (cf) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("PhatHanhTatCa", "HDDT")',
                //dataType: "json",
                data: {
                    chuky: chuky,
                    khuvuc: khuvuc,
                    duong: duong,
                    soghi: soghi,
                    tthoadon: tthoadon,
                    loaihoadon: loaihoadon,
                    httt: httt,
                    status: status,
                    searchString: searchString,
                    lh28k: lh28k,
                },
                beforeSend: function () {
                    // Handle the beforeSend event
                    $('.nhi-fade').css('display', 'block');
                },
                success: function (data) {
                    alert("Phát hành thành công " + data + " hóa đơn.");
                    window.location.href ="@Url.Action("PhatHanh", "HDDT")";
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                },
                complete: function (response) {

                    $('.nhi-fade').css('display', 'none');
                },
            });
        }
    };
    function ThanhToanTatCa(chuky, khuvuc, duong, soghi, tthoadon, loaihoadon, httt, status, searchString,lh28k) {
        var cf = confirm("Bạn có chắc chắn muốn thanh toán tất cả?\nQuá trình này có thể mất từ 1 đến vài phút tùy vào số lượng hóa đơn cần thanh toán.");
        if (cf) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ThanHToanTatCa", "HDDT")',
                //dataType: "json",
                data: {
                    chuky: chuky,
                    khuvuc: khuvuc,
                    duong: duong,
                    soghi: soghi,
                    tthoadon: tthoadon,
                    loaihoadon: loaihoadon,
                    httt: httt,
                    status: status,
                    searchString: searchString,
                    lh28k: lh28k,
                },
                beforeSend: function () {
                    // Handle the beforeSend event
                    $('.nhi-fade').css('display', 'block');
                },
                success: function (data) {
                    alert("Thanh toán thành công " + data + " hóa đơn.");
                    window.location.href ="@Url.Action("PhatHanh", "HDDT")";
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                },
                complete: function (response) {

                    $('.nhi-fade').css('display', 'none');
                },
            });
        }
    };
</script>
<script src="~/Scripts/PhatHanhHDDT.js"></script>