﻿@using PagedList.Mvc;
@using Data.ViewModels;
@{
    ViewBag.Title = "PhatHanhHoaDonConLai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PagedList.IPagedList<Data.ViewModels.GetHoaDonJoinLastInvoice>
@{
    string chuky = "";
    if (Model != null)
    {
        var c = ViewBag.chuky.ToString().Substring(4) + "/" + ViewBag.chuky.ToString().Substring(0, 4);
        ViewBag.Title = "Danh sách hóa đơn " + c;
        chuky = ViewBag.chuky.ToString();
        //var khuvuc = ViewBag.khuvuc.ToString();
        //var duong = ViewBag.duong.ToString();
        //var soghi = ViewBag.soghi.ToString();
        //var tthoadon = ViewBag.tthoadon.ToString();
        //var loaihoadon = ViewBag.loaihoadon.ToString();
        //var searchString = ViewBag.loaihoadon.ToString();
        var status = ViewBag.status.ToString();
    }

}
<div class="row">
    <div class="col-md-12">
        <form id="getListForm" action="@Url.Action("TimKiemPhatHanhHoaDonConLai","HDDT")" method="Post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Năm</b> @*@Html.DropDownList("nam", (SelectList)ViewBag.NamList, "Chọn năm", new { @class = "form-control" })*@
                        @{
                            string currentYear = DateTime.Now.Year.ToString();
                        }
                        <input id="nam" type="number" name="nam" class="form-control" value="@currentYear" placeholder="Nhập năm" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Tháng</b>
                        <select class="form-control" id="chuky" name="chuky">
                            <option value="0">Chọn tháng</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Tình trạng HDDT</b>
                        <select class="form-control" id="invoiceStatus" name="status">
                            <option selected value="-1">Chưa phát hành</option>
                            <option value="2">Đã hủy</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="nhi-divider"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Khu vực</b>
                        <select class="form-control" id="khuvuc" name="khuvuc">
                            <option value="0">Chọn khu vực</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Đường</b>
                        <select class="form-control" id="duong" name="duong">
                            <option value="0">Chọn đường</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Sổ ghi</b>
                        <select class="form-control" id="soghi" name="soghi">
                            <option value="0">Chọn sổ ghi</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="nhi-divider"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Tìm kiếm</b>
                        <input name="searchString" class="form-control" placeholder="Mã số cố định/danh số" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col" style="text-align:center">
                        <button class="btn btn-primary">Xem danh sách hóa đơn</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
@{if (Model != null)
    {
        <div class="phat-hanh-buttons">
            <button data-toggle="modal" data-target="#themHoaDon" class="btn btn-success">Tạo hóa đơn</button>
        </div>
        <div class="row">
            <div class="col-md-12">

                <form id="frmPhatHanh" action="@Url.Action("PhatHanhHoaDons","HDDT")">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr style="color:#0066B3">
                                <th>Tháng</th>
                                <th>Mã số</th>
                                <th>Mã số CĐ</th>
                                <th>Họ tên</th>
                                <th style="width: 111px;">Số nhà</th>
                                <th>Mã số thuế</th>
                                <th>STK</th>
                                <th>Tiền VS</th>
                                <th>Thuế</th>
                                <th>Tổng tiền</th>
                                <th>Sổ ghi</th>
                                <th>Trạng thái</th>
                                <th>Mã HĐĐT sau cùng</th>
                                <th>Số hóa đơn sau cùng</th>
                                <th>Ghi chú</th>
                                <th><input type="checkbox" onclick="$('#frmPhatHanh input[name=selectedHoadons]').prop('checked', $(this).prop('checked'));" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ foreach (GetHoaDonJoinLastInvoice hoaDon in Model)
                                {
                                    <tr>
                                        <td>@hoaDon.CHUKYNO.ToString().Substring(4)/@hoaDon.CHUKYNO.ToString().Substring(0, 4)</td>
                                        <td>@hoaDon.DANHSO</td>
                                        <td>@hoaDon.MASOCD</td>
                                        <td>@hoaDon.HOTEN</td>
                                        <td>@hoaDon.SONHA</td>
                                        <td>@hoaDon.MASOTHUE</td>
                                        <td>@hoaDon.SOTK</td>
                                        <td>@hoaDon.TIENVS</td>
                                        <td>@hoaDon.THUE</td>
                                        <td>@hoaDon.THANHTIENVS</td>
                                        <td>@hoaDon.TENSOGHI</td>
                                        @*@if (hoaDon.TRANGTHAI == "CHUAXULY" || hoaDon.TRANGTHAI == null)
                                        {
                                            <td>Chưa xử lý</td>
                                        }
                                        else if (hoaDon.TRANGTHAI == "TTOAN" /*|| item.TRANGTHAI == null*/)
                                        {
                                            <td>Thanh toán</td>
                                        }
                                        else if (hoaDon.TRANGTHAI == "TON" /*|| item.TRANGTHAI == null*/)
                                        {
                                            <td>Tồn</td>
                                        }*@
                                        <td>@hoaDon.TRANGTHAIHDDT</td>
                                        <td>@hoaDon.KEY</td>
                                        <td>@hoaDon.SO_HOA_DON</td>
                                        <td>@hoaDon.GHICHU</td>
                                        <td><input id="ckb@(hoaDon.CHUKYNO+hoaDon.MASOCD)" value="@(hoaDon.CHUKYNO+"|"+hoaDon.MASOCD)" name="selectedHoadons" type="checkbox" /></td>
                                    </tr>
                                }
                            }


                            <tr></tr>
                        </tbody>
                    </table>
                </form>

                <div class="page-count" style="display:inline-block; vertical-align:middle; font-weight:bold">
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                </div>
                <div class="pagination" style="display:inline-block; vertical-align:middle;">
                    @Html.PagedListPager(Model, page => Url.Action("TimKiemPhatHanhHoaDonConLai", "HDDT", new { ViewBag.chuky, ViewBag.khuvuc, ViewBag.duong, ViewBag.soghi, ViewBag.tthoadon, ViewBag.loaihoadon, ViewBag.httt, ViewBag.status, page, pagesize = ViewBag.pagesize, currentFilter = ViewBag.CurrentFilter, lh28k = ViewBag.lh28k }))
                </div>
            </div>
        </div>

        <div id="themHoaDon" class="modal fade" role="dialog">
            <div class="modal-dialog  modal-xl">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">NHẬP THÔNG TIN CHI TIẾT VỀ HÓA ĐƠN</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <form action="@Url.Action("TaoHoaDonDienTu","HDDT")" method="post">
                                    <style type="text/css">
                                        label {
                                            color: black;
                                            font-size: 14px;
                                        }

                                        .label {
                                            text-align: left;
                                        }

                                        label.error {
                                            padding: 0 4px;
                                            position: absolute;
                                            background-color: #fff;
                                            line-height: 22px !important;
                                            font-weight: normal !important;
                                            border: none;
                                            border-bottom: 1px dashed #f00;
                                        }

                                        .ui-autocomplete {
                                            border-radius: 0;
                                            border: 1px dashed #666;
                                        }

                                        .ui-corner-all {
                                            border-radius: 0;
                                        }

                                        .ui-menu .ui-menu-item a {
                                            font-size: .85em;
                                            line-height: 1.4em;
                                            padding: 2px .4em;
                                        }

                                        .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
                                            color: #000;
                                            background: #ccc;
                                            border: 1px solid #666;
                                        }

                                        select {
                                            min-height: 22px;
                                        }

                                        select, textarea, input[type=text] {
                                            resize: none;
                                            padding: 0px 5px;
                                            border: none;
                                            border-bottom: 1px dashed #ccc;
                                        }

                                            select.error, textarea.error, input[type=text].error {
                                                border: none;
                                                border-bottom: 1px dashed #f00;
                                            }

                                            select:focus, textarea:focus, input[type=text]:focus {
                                                outline: none;
                                                border: none;
                                                border-bottom: 1px dashed #000;
                                            }

                                        input[type=file] {
                                            display: none;
                                            visibility: hidden;
                                        }

                                        input[readonly=readonly] {
                                            cursor: pointer;
                                        }

                                        textarea {
                                            min-height: 55px;
                                            background-color: #fee;
                                        }

                                        .textr {
                                            text-align: right;
                                        }

                                        .textc {
                                            text-align: center;
                                        }

                                        .widget-header {
                                            margin-top: 3px;
                                            text-align: center;
                                            padding-bottom: 7px;
                                        }

                                        .frm-header {
                                            margin: 0;
                                            padding: 0;
                                            overflow: hidden;
                                        }

                                        div.left {
                                            width: 75%;
                                            float: left;
                                        }

                                        div.right {
                                            overflow: hidden;
                                            padding-left: 10px;
                                        }

                                        div.w80 {
                                            min-width: 80px;
                                        }

                                        div.w90 {
                                            min-width: 90px;
                                        }

                                        div.w100 {
                                            min-width: 100px;
                                        }

                                        div.w120 {
                                            min-width: 120px;
                                        }

                                        div.w160 {
                                            min-width: 160px;
                                        }

                                        div.w180 {
                                            min-width: 180px;
                                        }

                                        div.w50p {
                                            width: 50%;
                                        }

                                        div.w60p {
                                            width: 60%;
                                        }

                                        div.w70p {
                                            width: 70%;
                                        }

                                        div.push-60 {
                                            padding-left: 60%;
                                        }

                                        div.push-70 {
                                            padding-left: 70%;
                                        }

                                        div.line {
                                            padding: 3px 0;
                                            overflow: hidden;
                                        }

                                            div.line.null {
                                                min-height: 22px;
                                                color: transparent;
                                                content: 'einvoice';
                                            }

                                            div.line.last {
                                                padding-bottom: 30px;
                                            }

                                            div.line > div.label {
                                                float: left;
                                            }

                                        div.right > div.line > div.label {
                                            width: 70px;
                                        }

                                        div.line label {
                                            font-weight: bold;
                                            line-height: 22px;
                                        }

                                        div.line > div.control span.mst {
                                            float: left;
                                            padding: 0px 6px !important;
                                            border: 1px solid #ccc !important;
                                        }

                                        div.line > div.control span.ml3 {
                                            margin-left: 3px;
                                        }

                                        div.line > div.control span.nbl:not(:first-child) {
                                            border-left: none !important;
                                        }

                                        div.line > div.label label:after {
                                            content: ':';
                                        }

                                        div.line > div.imp label::after {
                                            content: ' (*):';
                                            color: #f00;
                                        }

                                        div.line > div.control {
                                            overflow: hidden;
                                            padding-left: 7px;
                                        }

                                            div.line > div.control input, div.line > div.control select, div.line > div.control textarea {
                                                width: 100%;
                                                -moz-box-sizing: border-box;
                                                -webkit-box-sizing: border-box;
                                                box-sizing: border-box;
                                            }

                                        table.products {
                                            width: 100%;
                                            border-collapse: collapse;
                                        }

                                            table.products td, table.products th {
                                                font-size: 0.95em;
                                                border: 1px solid #666;
                                                padding: 3px 7px 2px 7px;
                                            }

                                            table.products td {
                                                padding: 0;
                                                margin: 0;
                                                line-height: 20px;
                                            }

                                            table.products th {
                                                text-align: center;
                                                background-color: #ccc;
                                                color: #000;
                                            }

                                                table.products th.np {
                                                    padding: 0;
                                                }

                                            table.products input[type=text] {
                                                width: 100%;
                                                -moz-box-sizing: border-box;
                                                -webkit-box-sizing: border-box;
                                                box-sizing: border-box;
                                                border: 1px solid transparent;
                                            }

                                            table.products th input[type=text] {
                                                border: 1px dashed #ccc;
                                            }

                                            table.products input[type=text]:focus {
                                                border: 1px dashed #666;
                                            }

                                            table.products td.center {
                                                text-align: center;
                                            }

                                            table.products td.delr {
                                                background: url('/Content/Images/no.png') center no-repeat #fff;
                                            }

                                            table.products input[type=checkbox] {
                                                min-height: 0px;
                                            }

                                            table.products tr.alt td {
                                                color: #000;
                                                background-color: #EAF2D3;
                                            }
                                    </style>
                                    <input type="hidden" name="CHUKYNO" value="@chuky" />
                                    <input data-val="true" data-val-number="The field id must be a number." data-val-required="The id field is required." id="id" name="id" type="hidden" value="0">
                                    <input data-val="true" data-val-number="The field ComID must be a number." data-val-required="The ComID field is required." id="ComID" name="ComID" type="hidden" value="3864">
                                    <input id="ComPhone" name="ComPhone" type="hidden" value="02903835052">
                                    <input id="ComBankName" name="ComBankName" type="hidden" value="tại Ngân hàng TMCP Công thương Cà Mau">
                                    <input id="ComBankNo" name="ComBankNo" type="hidden" value="116000111181">
                                    <input id="ComTaxCode" name="ComTaxCode" type="hidden" value="2001128655">
                                    <input id="PubDatasource" name="PubDatasource" type="hidden" value="">
                                    <input data-val="true" data-val-number="The field VatAmount0 must be a number." data-val-required="The VatAmount0 field is required." id="VatAmount0" name="VatAmount0" type="hidden" value="0">
                                    <input data-val="true" data-val-number="The field VatAmount5 must be a number." data-val-required="The VatAmount5 field is required." id="VatAmount5" name="VatAmount5" type="hidden" value="0">
                                    <input data-val="true" data-val-number="The field VatAmount10 must be a number." data-val-required="The VatAmount10 field is required." id="VatAmount10" name="VatAmount10" type="hidden" value="0">
                                    <input data-val="true" data-val-number="The field GrossValue must be a number." data-val-required="The GrossValue field is required." id="GrossValue" name="GrossValue" type="hidden" value="0">
                                    <input data-val="true" data-val-number="The field GrossValue0 must be a number." data-val-required="The GrossValue0 field is required." id="GrossValue0" name="GrossValue0" type="hidden" value="0">
                                    <input data-val="true" data-val-number="The field GrossValue5 must be a number." data-val-required="The GrossValue5 field is required." id="GrossValue5" name="GrossValue5" type="hidden" value="0">
                                    <input data-val="true" data-val-number="The field GrossValue10 must be a number." data-val-required="The GrossValue10 field is required." id="GrossValue10" name="GrossValue10" type="hidden" value="0">
                                    <div class="widget-header">
                                        NHẬP THÔNG TIN CHI TIẾT VỀ HÓA ĐƠN
                                    </div>
                                    <div class="frm-header">
                                        <div class="left">
                                            <div class="line">
                                                <div class="label w120"><label for="Name">Tên hóa đơn</label></div>
                                                <div class="control"><input class="required textc" id="Name" maxlength="150" name="Name" type="text" value="Hóa đơn giá trị gia tăng"></div>
                                            </div>
                                            <div class="line">
                                                <div class="label w120"><label for="ComTaxCode">Mã số thuế</label></div>
                                                <div class="control">

                                                    <span class="mst nbl">2</span>

                                                    <span class="mst nbl">0</span>

                                                    <span class="mst ml3">0</span>

                                                    <span class="mst nbl">1</span>

                                                    <span class="mst nbl">1</span>

                                                    <span class="mst nbl">2</span>

                                                    <span class="mst nbl">8</span>

                                                    <span class="mst nbl">6</span>

                                                    <span class="mst nbl">5</span>

                                                    <span class="mst nbl">5</span>

                                                    <span class="mst ml3">&nbsp;</span>

                                                </div>
                                            </div>
                                            <div class="line">
                                                <div class="label w120">
                                                    <label for="ComName">Tên đơn vị</label>
                                                </div>
                                                <div class="control">
                                                    <input id="ComName" maxlength="200" name="ComName" readonly="readonly" tabindex="-1" type="text" value="CÔNG TY  CỔ PHẦN MÔI TRƯỜNG ĐÔ THỊ CÀ MAU">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="line">
                                            <div class="label w90">
                                                <label for="Pattern">Mẫu số</label>
                                            </div>
                                            <div class="control">
                                                <input id="Pattern" name="Pattern" readonly="readonly" tabindex="-1" type="text" value="@ViewBag.Pattern">
                                            </div>
                                        </div>
                                        <div class="line">
                                            <div class="label imp w90">
                                                <label for="Serial">Ký hiệu</label>
                                            </div>
                                            <div class="control">
                                                @ViewBag.Serial
                                            </div>
                                        </div>
                                        <div class="line">
                                            <div class="label w90">
                                                <label for="No">Số (No)</label>
                                            </div>
                                            <div class="control">
                                                <input data-val="true" data-val-number="The field No must be a number." data-val-required="The No field is required." id="No" maxlength="7" name="No" readonly="readonly" tabindex="-1" type="text" value="0000000">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="label w120"><label for="ComAddress">Địa chỉ</label></div>
                                        <div class="control"><input id="ComAddress" maxlength="290" name="ComAddress" readonly="readonly" type="text" value="Số 202, Đường Quang Trung, Khóm 3, Phường 5, Thành phố Cà Mau, Tỉnh Cà Mau"></div>
                                    </div>
                                    <div class="left w70p">
                                        <div class="line">
                                            <div class="label"><label for="Buyer">Họ tên người mua hàng</label></div>
                                            <div class="control"><input id="Buyer" maxlength="150" name="Buyer" type="text" value="" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></div>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <div class="line">
                                            <div class="label w80"><label for="CusTaxCode">Mã số thuế</label></div>
                                            <div class="control">
                                                <input id="CusTaxCode" maxlength="14" name="CusTaxCode" type="text" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="label w120">
                                            <label for="CusName">Tên đơn vị</label>
                                        </div>
                                        <div class="control">
                                            <input id="CusName" maxlength="140" name="CusName" type="text" value="" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="label w120">
                                            <label for="CusAddress">Địa chỉ</label>
                                        </div>
                                        <div class="control">
                                            <input id="CusAddress" maxlength="290" name="CusAddress" type="text" value="">
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="label w120">
                                            <label for="CusCode">Mã số</label>
                                        </div>
                                        <div class="control">
                                            <input id="CusCode" maxlength="50" name="CusCode" type="text" value="">
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="label w120 imp">
                                            <label for="PaymentMethod">Hình thức thanh toán (Kind of Payment)</label>
                                        </div>
                                        <div class="control">
                                            <select id="PaymentMethod" name="PaymentMethod" required="required">
                                                <option value="">-- Chọn hình thức thanh toán --</option>
                                                <option value="TM">Thanh toán tiền mặt</option>
                                                <option value="CK">Thanh toán chuyển khoản</option>
                                                <option value="TTD">Thanh toán thẻ tín dụng</option>
                                                <option value="HDDT">Hình thức HDDT</option>
                                                <option value="TM, CK">Hình thức thanh toán tiền mặt hoặc chuyển khoản</option>
                                                <option value="Bù trừ">Thanh toán bù trừ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="label w120">
                                            <label for="CusBankNo">Số tài khoản</label>
                                        </div>
                                        <div class="control">
                                            <input id="CusBankNo" maxlength="50" name="CusBankNo" type="text" value="">
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="label w120">
                                            <label for="ProdName">Tên hàng hóa</label>
                                        </div>
                                        <div class="control">
                                            <input id="ProdName" name="ProdName" type="text" value="" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                                        </div>
                                    </div>

                                    <div class="line">
                                        <div class="label w120">
                                            <label for="Code">Mã hàng hóa</label>
                                        </div>
                                        <div class="control">
                                            <input id="Code" name="Code" type="text" value="" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="label w120">
                                            <label for="ProdUnit">Đơn vị tính</label>
                                        </div>
                                        <div class="control">
                                            <input id="ProdUnit" name="ProdUnit" type="text" value="" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="label w120">
                                            <label for="ProdQuantity">Số lượng</label>
                                        </div>
                                        <div class="control">
                                            <input id="ProdQuantity" name="ProdQuantity" type="number" value="1" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="label w120">
                                            <label for="ProdPrice">Đơn giá</label>
                                        </div>
                                        <div class="control">
                                            <input id="ProdPrice" name="ProdPrice" type="number" value="@ViewBag.ProdPrice" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                                        </div>
                                    </div>
                                    <div class="line">
                                        <div class="label w120">
                                            <label for="ProdAmount">Thành tiền sản phẩm</label>
                                        </div>
                                        <div class="control">
                                            <input id="ProdAmount" name="ProdAmount" type="number" value="@ViewBag.ProdAmount" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                                        </div>
                                    </div>
                                    @*<div class="line">
                                            <table class="products">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 20px">Xóa</th>
                                                        <th style="width: 25px">STT</th>
                                                        <th class="np">
                                                            Tên hàng hóa, dịch vụ
                                                        </th>
                                                        <th style="width: 90px">Đơn vị tính (Unit)</th>
                                                        <th style="width: 70px">Số lượng (Quantity)</th>
                                                        <th style="width: 90px">Đơn giá (Price)</th>
                                                        <th style="width: 100px">Thành tiền (Amount) VNĐ</th>
                                                    </tr>
                                                    <tr>
                                                        <th style="width: 20px">0</th>
                                                        <th style="width: 25px">1</th>
                                                        <th class="np">
                                                            2
                                                        </th>
                                                        <th style="width: 90px">3</th>
                                                        <th style="width: 70px">4</th>
                                                        <th style="width: 90px">5</th>
                                                        <th style="width: 150px">6 = 4 x 5</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @for (int i = 0; i < 10; i++)
                                                    {
                                                        <tr>
                                                            <td class="delr"></td>
                                                            <td class="center">@i</td>
                                                            <td>
                                                                <input type="text" class="name ui-autocomplete-input" maxlength="200" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="unit" maxlength="50">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="quantity textr numberfloat" maxlength="18">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="price textr numberfloat" maxlength="18">
                                                            </td>
                                                            <td>
                                                                <input type="text" class="amount textr _number" maxlength="18">
                                                            </td>

                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>*@
                                    <div class="left w60p">
                                        <div class="line null"></div>
                                        <div class="line">
                                            <div class="label push-60">
                                                <label>Thuế GTGT</label>
                                            </div>
                                            <div class="control">
                                                <select class="required" data-val="true" data-val-number="The field VATRate must be a number." data-val-required="The VATRate field is required." id="VATRate" name="VATRate" title="Cần chọn!">
                                                    <option selected="selected" value="10">10%</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <div class="line">
                                            <div class="label w180">
                                                <label for="Total">Cộng tiền dịch vụ (Total)</label>
                                            </div>
                                            <div class="control">
                                                <input class="textr _number" data-val="true" data-val-number="The field Total must be a number." data-val-required="The Total field is required." id="Total" name="Total" readonly="readonly" tabindex="-1" type="text" value="@ViewBag.Total">
                                            </div>
                                        </div>
                                        <div class="line">
                                            <div class="label w180">
                                                <label for="VATAmount">Tiền thuế GTGT</label>
                                            </div>
                                            <div class="control">
                                                <input class="textr _number" data-val="true" data-val-number="The field VATAmount must be a number." data-val-required="The VATAmount field is required." id="VATAmount" name="VATAmount" tabindex="-1" type="text" value="@ViewBag.VATAmount">
                                            </div>
                                        </div>
                                        <div class="line">
                                            <div class="label w180">
                                                <label for="Amount">Tổng cộng tiền thanh toán</label>
                                            </div>
                                            <div class="control">
                                                <input class="textr _number" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="Amount" name="Amount" readonly="readonly" tabindex="-1" type="text" value="@ViewBag.Amount">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="line last">
                                        <div class="label">
                                            <label for="AmountInWords">Số tiền viết bằng chữ</label>
                                        </div>
                                        <div class="control">
                                            <input id="AmountInWords" name="AmountInWords" tabindex="-1" type="text" value="">

                                        </div>
                                    </div>
                                    <input type="hidden" name="status" value="@ViewBag.status" />

                                    <div class="textc">
                                        <input type="submit" class="button" value="Tạo mới">
                                        <input type="reset" class="button" value="Làm lại">
                                        <input type="button" class="button" value="Quay lại" onclick="document.location = '/EInvoice/Index'">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
                                }
}
<script src="~/Scripts/PhatHanhHDDT.js"></script>
<script>
    var ChuSo = new Array(" không ", " một ", " hai ", " ba ", " bốn ", " năm ", " sáu ", " bảy ", " tám ", " chín ");
    var Tien = new Array("", " nghìn", " triệu", " tỉ", " nghìn tỉ", " triệu tỉ");

    //1. Hàm đọc số có 3 chữ số
    function DocSo3ChuSo(baso) {
        var tram;
        var chuc;
        var donvi;
        var KetQua = "";
        tram = parseInt(baso / 100);
        chuc = parseInt((baso % 100) / 10);
        donvi = baso % 10;
        if (tram == 0 && chuc == 0 && donvi == 0) return "";
        if (tram != 0) {
            KetQua += ChuSo[tram] + " trăm ";
            if ((chuc == 0) && (donvi != 0)) KetQua += " lẻ ";
        }
        if ((chuc != 0) && (chuc != 1)) {
            KetQua += ChuSo[chuc] + " mươi";
            if ((chuc == 0) && (donvi != 0)) KetQua = KetQua + " linh ";
        }
        if (chuc == 1) KetQua += " mười ";
        switch (donvi) {
            case 1:
                if ((chuc != 0) && (chuc != 1)) {
                    KetQua += " mốt ";
                }
                else {
                    KetQua += ChuSo[donvi];
                }
                break;
            case 5:
                if (chuc == 0) {
                    KetQua += ChuSo[donvi];
                }
                else {
                    KetQua += " lăm ";
                }
                break;
            default:
                if (donvi != 0) {
                    KetQua += ChuSo[donvi];
                }
                break;
        }
        return KetQua;
    } // End fucntion Docsoco3chuso

    //2. Hàm đọc thành chữ (Sử dụng hàng đọc có 3 chữ số)
    Number.prototype.ReadNumber = function () {
        var SoTien = this.valueOf();
        var lan = 0;
        var i = 0;
        var so = 0;
        var KetQua = "";
        var tmp = "";
        var ViTri = new Array();
        if (SoTien < 0) return "Số tiền âm !";
        if (SoTien == 0) return "Không đồng";
        if (SoTien > 0) {
            so = SoTien;
        }
        else {
            so = -SoTien;
        }
        if (SoTien > 8999999999999999) {
            //SoTien = 0;
            return "Sô quá lớn!";
        }
        ViTri[5] = Math.floor(so / 1000000000000000);
        if (isNaN(ViTri[5]))
            ViTri[5] = "0";
        so = so - parseFloat(ViTri[5].toString()) * 1000000000000000;
        ViTri[4] = Math.floor(so / 1000000000000);
        if (isNaN(ViTri[4]))
            ViTri[4] = "0";
        so = so - parseFloat(ViTri[4].toString()) * 1000000000000;
        ViTri[3] = Math.floor(so / 1000000000);
        if (isNaN(ViTri[3]))
            ViTri[3] = "0";
        so = so - parseFloat(ViTri[3].toString()) * 1000000000;
        ViTri[2] = parseInt(so / 1000000);
        if (isNaN(ViTri[2]))
            ViTri[2] = "0";
        ViTri[1] = parseInt((so % 1000000) / 1000);
        if (isNaN(ViTri[1]))
            ViTri[1] = "0";
        ViTri[0] = parseInt(so % 1000);
        if (isNaN(ViTri[0]))
            ViTri[0] = "0";
        if (ViTri[5] > 0) {
            lan = 5;
        }
        else if (ViTri[4] > 0) {
            lan = 4;
        }
        else if (ViTri[3] > 0) {
            lan = 3;
        }
        else if (ViTri[2] > 0) {
            lan = 2;
        }
        else if (ViTri[1] > 0) {
            lan = 1;
        }
        else {
            lan = 0;
        }
        for (i = lan; i >= 0; i--) {
            if (ViTri[i] < 100 && ViTri[i] > 0 && ViTri[i] < 10 && (tmp.length > 0)) KetQua += ' không trăm lẻ ';
            if (ViTri[i] < 100 && ViTri[i] > 0 && ViTri[i] >= 10 && (tmp.length > 0)) KetQua += ' không trăm ';
            tmp = DocSo3ChuSo(ViTri[i]);
            KetQua += tmp;
            if (ViTri[i] > 0) KetQua += Tien[i];
            if ((i > 0) && (tmp.length > 0)) KetQua += ',';//&& (!string.IsNullOrEmpty(tmp))
        }
        if (KetQua.substring(KetQua.length - 1) == ',') {
            KetQua = KetQua.substring(0, KetQua.length - 1);
        }
        KetQua = KetQua.substring(1, 2).toUpperCase() + KetQua.substring(2) + " đồng";
        return KetQua;//.substring(0, 1);//.toUpperCase();// + KetQua.substring(1);
    }
    //--------------------------------------------------------
    var soTien = @ViewBag.Amount;
    $("#AmountInWords").val(soTien.ReadNumber());

</script>

