﻿@using PagedList.Mvc;
@using Data.ViewModels;
@using Data;
@model PagedList.IPagedList<TIMKIEMKHACHHANG>
@{
    ViewBag.Title = "PhatHanh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (Model != null)
    {
        var c = ViewBag.chuky.ToString().Substring(4) + "/" + ViewBag.chuky.ToString().Substring(0, 4);
        ViewBag.Title = "Danh sách hóa đơn " + c;
        var chuky = ViewBag.chuky.ToString();
        var khuvuc = ViewBag.khuvuc.ToString();
        var duong = ViewBag.duong.ToString();
        var soghi = ViewBag.soghi.ToString();
        var searchString = ViewBag.searchString;
        var lh28k = ViewBag.lh28k;
    }

}
<div class="row">
    <div class="col-md-12">
        <form id="getListForm" action="@Url.Action("TimKiemPhieuBienNhan", "HDDT")" method="Post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Năm</b> @*@Html.DropDownList("nam", (SelectList)ViewBag.NamList, "Chọn năm", new { @class = "form-control" })*@
                        @{
                            string currentYear = DateTime.Now.Year.ToString();
                        }
                        <input id="nam" type="number" name="nam" class="form-control" value="@currentYear" placeholder="Nhập năm" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Tháng</b>
                        <select class="form-control" id="chuky" name="chuky">
                            <option value="0">Chọn tháng</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="nhi-divider"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Khu vực</b>
                        <select class="form-control" id="khuvuc" name="khuvuc">
                            <option value="0">Chọn khu vực</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Đường</b>
                        <select class="form-control" id="duong" name="duong">
                            <option value="0">Chọn đường</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Sổ ghi</b>
                        <select class="form-control" id="soghi" name="soghi">
                            <option value="0">Chọn sổ ghi</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="nhi-divider"></div>
            <div class="row">
                @*<div class="col-md-4">
                        <div class="form-group">
                            <b>Trạng thái HĐ</b>
                            <select class="form-control" id="tthoadon" name="tthoadon">
                                <option value="0">Chọn Trạng thái hóa đơn</option>
                                <option value="0">Tất cả</option>
                                <option value="CHUAXULY">Chưa xử lý</option>
                                <option value="TTOAN">Thanh toán</option>
                                <option value="TON">Tồn</option>
                            </select>
                        </div>
                    </div>*@
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Thành tiền</b>
                        <select name="lh28k" class="form-control">
                            <option selected value="0">28.000</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <b>Tìm kiếm</b>
                        <input name="searchString" class="form-control" placeholder="Mã số cố định/danh số" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col" style="text-align:center">
                        <button class="btn btn-primary">Xem danh sách hóa đơn</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@{if (Model != null)
    {
        <div>
            <form method="post" action="@Url.Action("InBienNhanToanBo", "HDDT",new {chuky= ViewBag.chuKy,khuvuc = ViewBag.khuvuc,duong = ViewBag.duong,soghi = ViewBag.soghi,lh28k= ViewBag.lh28k,searchString=ViewBag.searchString })">
                <button type="submit" class="btn btn-danger">Thêm và in phiếu biên nhận</button>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12">

                <form id="frmInBienNhan" action="@Url.Action("TimKiemPhieuBienNhan", "HDDT")">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr style="color:#0066B3">
                                <th>Tháng</th>
                                <th>Mã số</th>
                                <th>Mã số CĐ</th>
                                <th>Họ tên</th>
                                <th style="width: 111px;">Số nhà</th>
                                <th>Mã số thuế</th>
                                <th>STK</th>
                                <th>Tiền VS</th>
                                <th>Thuế</th>
                                <th>Tổng tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ foreach (TIMKIEMKHACHHANG hoaDon in Model)
                                {
                                    <tr>
                                        <td>@hoaDon.CHUKYNO.ToString().Substring(4)/@hoaDon.CHUKYNO.ToString().Substring(0, 4)</td>
                                        <td>@hoaDon.DANHSO</td>
                                        <td>@hoaDon.MASOCD</td>
                                        <td>@hoaDon.HOTEN</td>
                                        <td>@hoaDon.SONHA</td>
                                        <td>@hoaDon.MASOTHUE</td>
                                        <td>@hoaDon.SOTK</td>
                                        <td>@hoaDon.TIENVS</td>
                                        <td>@hoaDon.THUE</td>
                                        <td>@hoaDon.THANHTIENVS</td>
                                    </tr>
                                }
                            }


                            <tr></tr>
                        </tbody>
                    </table>
                </form>

                <div class="page-count" style="display:inline-block; vertical-align:middle; font-weight:bold">
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                </div>
                <div class="pagination" style="display:inline-block; vertical-align:middle;">
                    @Html.PagedListPager(Model, page => Url.Action("TimKiemPhieuBienNhan", "HDDT", new { ViewBag.chuky, ViewBag.khuvuc, ViewBag.duong, ViewBag.soghi, page, pagesize = ViewBag.pagesize, currentFilter = ViewBag.CurrentFilter, lh28k = ViewBag.lh28k, searchString = ViewBag.searchString }))
                </div>
            </div>
        </div>

                                }
}

<script src="~/Scripts/PhatHanhHDDT.js"></script>