﻿
@{
    ViewBag.Title = "TaoHoaDonDieuChinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tạo hóa đơn điều chỉnh</h2>
<div class="container">
    <div class="row">
        <form action="/HDDT/TaoMoiHoaDonThayThe" method="post">
            <style type="text/css">
                label {
                    color: black;
                    font-size: 14px;
                }

                .label {
                    text-align: left;
                }

                label.error {
                    padding: 0 4px;
                    position: absolute;
                    background-color: #fff;
                    line-height: 22px !important;
                    font-weight: normal !important;
                    border: none;
                    border-bottom: 1px dashed #f00;
                }

                .ui-autocomplete {
                    border-radius: 0;
                    border: 1px dashed #666;
                }

                .ui-corner-all {
                    border-radius: 0;
                }

                .ui-menu .ui-menu-item a {
                    font-size: .85em;
                    line-height: 1.4em;
                    padding: 2px .4em;
                }

                .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
                    color: #000;
                    background: #ccc;
                    border: 1px solid #666;
                }

                select {
                    min-height: 22px;
                }

                select, textarea, input[type=text] {
                    resize: none;
                    padding: 0px 5px;
                    border: none;
                    border-bottom: 1px dashed #ccc;
                }

                    select.error, textarea.error, input[type=text].error {
                        border: none;
                        border-bottom: 1px dashed #f00;
                    }

                    select:focus, textarea:focus, input[type=text]:focus {
                        outline: none;
                        border: none;
                        border-bottom: 1px dashed #000;
                    }

                input[type=file] {
                    display: none;
                    visibility: hidden;
                }

                input[readonly=readonly] {
                    cursor: pointer;
                }

                textarea {
                    min-height: 55px;
                    background-color: #fee;
                }

                .textr {
                    text-align: right;
                }

                .textc {
                    text-align: center;
                }

                .widget-header {
                    margin-top: 3px;
                    text-align: center;
                    padding-bottom: 7px;
                }

                .frm-header {
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                }

                div.left {
                    width: 75%;
                    float: left;
                }

                div.right {
                    overflow: hidden;
                    padding-left: 10px;
                }

                div.w80 {
                    min-width: 80px;
                }

                div.w90 {
                    min-width: 90px;
                }

                div.w100 {
                    min-width: 100px;
                }

                div.w120 {
                    min-width: 120px;
                }

                div.w160 {
                    min-width: 160px;
                }

                div.w180 {
                    min-width: 180px;
                }

                div.w50p {
                    width: 50%;
                }

                div.w60p {
                    width: 60%;
                }

                div.w70p {
                    width: 70%;
                }

                div.push-60 {
                    padding-left: 60%;
                }

                div.push-70 {
                    padding-left: 70%;
                }

                div.line {
                    padding: 3px 0;
                    overflow: hidden;
                }

                    div.line.null {
                        min-height: 22px;
                        color: transparent;
                        content: 'einvoice';
                    }

                    div.line.last {
                        padding-bottom: 30px;
                    }

                    div.line > div.label {
                        float: left;
                    }

                div.right > div.line > div.label {
                    width: 70px;
                }

                div.line label {
                    font-weight: bold;
                    line-height: 22px;
                }

                div.line > div.control span.mst {
                    float: left;
                    padding: 0px 6px !important;
                    border: 1px solid #ccc !important;
                }

                div.line > div.control span.ml3 {
                    margin-left: 3px;
                }

                div.line > div.control span.nbl:not(:first-child) {
                    border-left: none !important;
                }

                div.line > div.label label:after {
                    content: ':';
                }

                div.line > div.imp label::after {
                    content: ' (*):';
                    color: #f00;
                }

                div.line > div.control {
                    overflow: hidden;
                    padding-left: 7px;
                }

                    div.line > div.control input, div.line > div.control select, div.line > div.control textarea {
                        width: 100%;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                    }

                table.products {
                    width: 100%;
                    border-collapse: collapse;
                }

                    table.products td, table.products th {
                        font-size: 0.95em;
                        border: 1px solid #666;
                        padding: 3px 7px 2px 7px;
                    }

                    table.products td {
                        padding: 0;
                        margin: 0;
                        line-height: 20px;
                    }

                    table.products th {
                        text-align: center;
                        background-color: #ccc;
                        color: #000;
                    }

                        table.products th.np {
                            padding: 0;
                        }

                    table.products input[type=text] {
                        width: 100%;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        border: 1px solid transparent;
                    }

                    table.products th input[type=text] {
                        border: 1px dashed #ccc;
                    }

                    table.products input[type=text]:focus {
                        border: 1px dashed #666;
                    }

                    table.products td.center {
                        text-align: center;
                    }

                    table.products td.delr {
                        background: url('/Content/Images/no.png') center no-repeat #fff;
                    }

                    table.products input[type=checkbox] {
                        min-height: 0px;
                    }

                    table.products tr.alt td {
                        color: #000;
                        background-color: #EAF2D3;
                    }
            </style>
            <input data-val="true" data-val-number="The field id must be a number." data-val-required="The id field is required." id="id" name="id" type="hidden" value="0">
            <input data-val="true" data-val-number="The field ComID must be a number." data-val-required="The ComID field is required." id="ComID" name="ComID" type="hidden" value="3864">
            <input id="ComPhone" name="ComPhone" type="hidden" value="02903835052">
            <input id="ComBankName" name="ComBankName" type="hidden" value="tại Ngân hàng TMCP Công thương Cà Mau">
            <input id="ComBankNo" name="ComBankNo" type="hidden" value="116000111181">
            <input id="ComTaxCode" name="ComTaxCode" type="hidden" value="2001128655">
            <input id="PubDatasource" name="PubDatasource" type="hidden" value="">
            <input data-val="true" data-val-number="The field VatAmount0 must be a number." data-val-required="The VatAmount0 field is required." id="VatAmount0" name="VatAmount0" type="hidden" value="0">
            <input data-val="true" data-val-number="The field VatAmount5 must be a number." data-val-required="The VatAmount5 field is required." id="VatAmount5" name="VatAmount5" type="hidden" value="0">
            <input data-val="true" data-val-number="The field VatAmount10 must be a number." data-val-required="The VatAmount10 field is required." id="VatAmount10" name="VatAmount10" type="hidden" value="0">
            <input data-val="true" data-val-number="The field GrossValue must be a number." data-val-required="The GrossValue field is required." id="GrossValue" name="GrossValue" type="hidden" value="0">
            <input data-val="true" data-val-number="The field GrossValue0 must be a number." data-val-required="The GrossValue0 field is required." id="GrossValue0" name="GrossValue0" type="hidden" value="0">
            <input data-val="true" data-val-number="The field GrossValue5 must be a number." data-val-required="The GrossValue5 field is required." id="GrossValue5" name="GrossValue5" type="hidden" value="0">
            <input data-val="true" data-val-number="The field GrossValue10 must be a number." data-val-required="The GrossValue10 field is required." id="GrossValue10" name="GrossValue10" type="hidden" value="0">
            <div class="widget-header">
                NHẬP THÔNG TIN CHI TIẾT VỀ HÓA ĐƠN
            </div>
            <div class="frm-header">
                <div class="left">
                    <div class="line">
                        <div class="label w120"><label for="Name">Tên hóa đơn</label></div>
                        <div class="control"><input class="required textc" id="Name" maxlength="150" name="Name" type="text" value="Hóa đơn giá trị gia tăng"></div>
                    </div>
                    <div class="line">
                        <div class="label w120"><label for="ComTaxCode">Mã số thuế</label></div>
                        <div class="control">

                            <span class="mst nbl">2</span>

                            <span class="mst nbl">0</span>

                            <span class="mst ml3">0</span>

                            <span class="mst nbl">1</span>

                            <span class="mst nbl">1</span>

                            <span class="mst nbl">2</span>

                            <span class="mst nbl">8</span>

                            <span class="mst nbl">6</span>

                            <span class="mst nbl">5</span>

                            <span class="mst nbl">5</span>

                            <span class="mst ml3">&nbsp;</span>

                        </div>
                    </div>
                    <div class="line">
                        <div class="label w120">
                            <label for="ComName">Tên đơn vị</label>
                        </div>
                        <div class="control">
                            <input id="ComName" maxlength="200" name="ComName" readonly="readonly" tabindex="-1" type="text" value="CÔNG TY  CỔ PHẦN MÔI TRƯỜNG ĐÔ THỊ CÀ MAU">
                        </div>
                    </div>
                </div>
                <div class="line">
                    <div class="label w90">
                        <label for="Pattern">Mẫu số</label>
                    </div>
                    <div class="control">
                        <input id="Pattern" name="Pattern" readonly="readonly" tabindex="-1" type="text" value="@ViewBag.Pattern">
                    </div>
                </div>
                <div class="line">
                    <div class="label imp w90">
                        <label for="Serial">Ký hiệu</label>
                    </div>
                    <div class="control">
                        @ViewBag.Serial
                    </div>
                </div>
                <div class="line">
                    <div class="label w90">
                        <label for="No">Số (No)</label>
                    </div>
                    <div class="control">
                        <input data-val="true" data-val-number="The field No must be a number." data-val-required="The No field is required." id="No" maxlength="7" name="No" readonly="readonly" tabindex="-1" type="text" value="0000000">

                    </div>
                </div>
            </div>
            <div class="line">
                <div class="label w120"><label for="ComAddress">Địa chỉ</label></div>
                <div class="control"><input id="ComAddress" maxlength="290" name="ComAddress" readonly="readonly" type="text" value="Số 202, Đường Quang Trung, Khóm 3, Phường 5, Thành phố Cà Mau, Tỉnh Cà Mau"></div>
            </div>
            <div class="left w70p">
                <div class="line">
                    <div class="label"><label for="Buyer">Họ tên người mua hàng</label></div>
                    <div class="control"><input id="Buyer" maxlength="150" name="Buyer" type="text" value="@ViewBag.Invoice.Buyer" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></div>
                </div>
            </div>
            <div class="right">
                <div class="line">
                    <div class="label w80"><label for="CusTaxCode">Mã số thuế</label></div>
                    <div class="control">
                        <input id="CusTaxCode" maxlength="14" name="CusTaxCode" type="text" value="@ViewBag.Invoice.CusTaxCode">
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="label w120">
                    <label for="CusName">Tên đơn vị</label>
                </div>
                <div class="control">
                    <input id="CusName" maxlength="140" name="CusName" type="text" value="@ViewBag.Invoice.CusName" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                </div>
            </div>
            <div class="line">
                <div class="label w120">
                    <label for="CusAddress">Địa chỉ</label>
                </div>
                <div class="control">
                    <input id="CusAddress" maxlength="290" name="CusAddress" type="text" value="@ViewBag.Invoice.CusAddress">
                </div>
            </div>
            <div class="line">
                <div class="label w120">
                    <label for="CusCode">Mã số</label>
                </div>
                <div class="control">
                    <input id="CusCode" maxlength="50" name="CusCode" type="text" value="@ViewBag.Invoice.CusCode">
                </div>
            </div>
            <div class="line">
                <div class="label w120 imp">
                    <label for="PaymentMethod">Hình thức thanh toán (Kind of Payment)</label>
                </div>
                <div class="control">
                    <select id="PaymentMethod" value="@ViewBag.Invoice.PaymentMethod" name="PaymentMethod" required="required">
                        <option value="">-- Chọn hình thức thanh toán --</option>
                        <option value="TM">Thanh toán tiền mặt</option>
                        <option value="CK">Thanh toán chuyển khoản</option>
                        <option value="TTD">Thanh toán thẻ tín dụng</option>
                        <option value="HDDT">Hình thức HDDT</option>
                        <option value="TM, CK">Hình thức thanh toán tiền mặt hoặc chuyển khoản</option>
                        <option value="Bù trừ">Thanh toán bù trừ</option>
                    </select>
                </div>
            </div>
            <div class="line">
                <div class="label w120">
                    <label for="CusBankNo">Số tài khoản</label>
                </div>
                <div class="control">
                    <input id="CusBankNo" maxlength="50" name="CusBankNo" type="text" value="@ViewBag.Invoice.CusBankNo">
                </div>
            </div>
            <div class="line">
                <div class="label w120">
                    <label for="ProdName">Tên hàng hóa</label>
                </div>
                <div class="control">
                    <input id="ProdName" name="ProdName" type="text" value="" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                </div>
            </div>

            <div class="line">
                <div class="label w120">
                    <label for="Code">Mã hàng hóa</label>
                </div>
                <div class="control">
                    <input id="Code" name="Code" type="text" value="" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                </div>
            </div>
            <div class="line">
                <div class="label w120">
                    <label for="ProdUnit">Đơn vị tính</label>
                </div>
                <div class="control">
                    <input id="ProdUnit" name="ProdUnit" type="text" value="" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                </div>
            </div>
            <div class="line">
                <div class="label w120">
                    <label for="ProdQuantity">Số lượng</label>
                </div>
                <div class="control">
                    <input id="ProdQuantity" name="ProdQuantity" type="number" value="1" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                </div>
            </div>
            <div class="line">
                <div class="label w120">
                    <label for="ProdPrice">Đơn giá</label>
                </div>
                <div class="control">
                    <input id="ProdPrice" name="ProdPrice" type="number" value="@ViewBag.Invoice.Total" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                </div>
            </div>
            <div class="line">
                <div class="label w120">
                    <label for="ProdAmount">Thành tiền sản phẩm</label>
                </div>
                <div class="control">
                    <input id="ProdAmount" name="ProdAmount" type="number" value="@ViewBag.Invoice.Total" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                </div>
            </div>
            @*<div class="line">
                    <table class="products">
                        <thead>
                            <tr>
                                <th style="width: 20px">Xóa</th>
                                <th style="width: 25px">STT</th>
                                <th class="np">
                                    Tên hàng hóa, dịch vụ
                                </th>
                                <th style="width: 90px">Đơn vị tính (Unit)</th>
                                <th style="width: 70px">Số lượng (Quantity)</th>
                                <th style="width: 90px">Đơn giá (Price)</th>
                                <th style="width: 100px">Thành tiền (Amount) VNĐ</th>
                            </tr>
                            <tr>
                                <th style="width: 20px">0</th>
                                <th style="width: 25px">1</th>
                                <th class="np">
                                    2
                                </th>
                                <th style="width: 90px">3</th>
                                <th style="width: 70px">4</th>
                                <th style="width: 90px">5</th>
                                <th style="width: 150px">6 = 4 x 5</th>
                            </tr>
                        </thead>
                        <tbody>

                            @for (int i = 0; i < 10; i++)
                            {
                                <tr>
                                    <td class="delr"></td>
                                    <td class="center">@i</td>
                                    <td>
                                        <input type="text" class="name ui-autocomplete-input" maxlength="200" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                                    </td>
                                    <td>
                                        <input type="text" class="unit" maxlength="50">
                                    </td>
                                    <td>
                                        <input type="text" class="quantity textr numberfloat" maxlength="18">
                                    </td>
                                    <td>
                                        <input type="text" class="price textr numberfloat" maxlength="18">
                                    </td>
                                    <td>
                                        <input type="text" class="amount textr _number" maxlength="18">
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>*@
            <div class="left w60p">
                <div class="line null"></div>
                <div class="line">
                    <div class="label push-60">
                        <label>Thuế GTGT</label>
                    </div>
                    <div class="control">
                        <select class="required" data-val="true" data-val-number="The field VATRate must be a number." data-val-required="The VATRate field is required." id="VATRate" name="VATRate" title="Cần chọn!">
                            <option selected="selected" value="10">10%</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="line">
                    <div class="label w180">
                        <label for="Total">Cộng tiền dịch vụ (Total)</label>
                    </div>
                    <div class="control">
                        <input class="textr _number" data-val="true" data-val-number="The field Total must be a number." data-val-required="The Total field is required." id="Total" name="Total" readonly="readonly" tabindex="-1" type="text" value="@ViewBag.Invoice.Total">
                    </div>
                </div>
                <div class="line">
                    <div class="label w180">
                        <label for="VATAmount">Tiền thuế GTGT</label>
                    </div>
                    <div class="control">
                        <input class="textr _number" data-val="true" data-val-number="The field VATAmount must be a number." data-val-required="The VATAmount field is required." id="VATAmount" name="VATAmount" tabindex="-1" type="text" value="@ViewBag.Invoice.VATAmount">
                    </div>
                </div>
                <div class="line">
                    <div class="label w180">
                        <label for="Amount">Tổng cộng tiền thanh toán</label>
                    </div>
                    <div class="control">
                        <input class="textr _number" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="Amount" name="Amount" readonly="readonly" tabindex="-1" type="text" value="@ViewBag.Invoice.Amount">
                    </div>
                </div>
            </div>
            <div class="line last">
                <div class="label">
                    <label for="AmountInWords">Số tiền viết bằng chữ</label>
                </div>
                <div class="control">
                    <input id="AmountInWords" name="AmountInWords" tabindex="-1" type="text" value="">

                </div>
            </div>

            <div class="textc">
                <input type="submit" class="button" value="Tạo mới">
                <input type="reset" class="button" value="Làm lại">
                <input type="button" class="button" value="Quay lại" onclick="document.location = '/EInvoice/Index'">
            </div>
        </form>
    </div>
</div>



