﻿@model IEnumerable<Data.KHUVUC>

@{
    ViewBag.Title = "Báo cáo tổng hợp Hóa đơn tồn cuối kỳ";
}
@using (Html.BeginForm("ReportTonghopToncuoiky", "Report", FormMethod.Post))
{
    <table class="table table-bordered table-width-medium table-hover table-striped" id="tbl-lst-sms">
        <tr class="title">
            <th colspan="3">
                <h5><img src="~/Content/Images/lr_title_icon.png" />Báo cáo tổng hợp hóa đơn tồn cuối kỳ</h5>
            </th>
        </tr>        
        <tr>
            <td><span class="bluetext">Nhập Năm</span> @*@Html.DropDownList("nam", (SelectList)ViewBag.NamList, "Chọn năm", new { @class = "form-control" })*@
                @{
                    string currentYear = DateTime.Now.Year.ToString();
                }
                <input id="nam" name="nam" class="form-control" value="@currentYear" placeholder="Nhập năm" /> 
            </td>
            <td>
                <span class="bluetext">Chọn tháng</span>
                <select class="form-control" id="chuky" name="chuky">
                    <option value="0">Chọn tháng</option>
                </select>
            </td>
            <td>
                <span class="bluetext">Chọn khu vực</span>
                <select class="form-control" id="khuvuc" name="khuvuc">
                    <option value="01">Chọn khu vực</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="centertext"><button type="submit" class="btn btn-primary" >Xuất Report</button></td>
        </tr>
    </table>
}
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        function getChuky(nam) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("getChukybyNam","Report")',
                dataType: "json",
                data: { nam: nam },
                success: function (data) {
                    $("#chuky").html("");
                    $("#khuvuc").html("");
                    $("#chuky").append('<option value="0">Chọn tháng</option>');
                    $("#khuvuc").append('<option value="0">Chọn khu vực</option>');
                    $.each(data, function (i, data2) {
                        $("#chuky").append('<option value= "' + data2.CHUKY + '">' + data2.TENCHUKY + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }

        var nam = $("#nam").val().toString();
        getChuky(nam);

        $("#nam").keyup(function () {
            var nam = $("#nam").val().toString();
            getChuky(nam);
        });
        $("#chuky").change(function () {
            var chuky = $("#chuky").val().toString();
            $.ajax({
                type: "POST",
                url: '@Url.Action("getKhuvuc","Report")',
                dataType: "json",
                data: { chuky: chuky },
                success: function (data) {
                    $("#khuvuc").html("");
                    $("#khuvuc").append('<option value="0">Chọn khu vực</option>');
                    $.each(data, function (i, data2) {
                        $("#khuvuc").append('<option value= "' + data2.MAKHUVUC + '">' + data2.TENKHUVUC + '</option>');
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });
    });

</script>



