﻿@model IEnumerable<Data.KHUVUC>
@{
    ViewBag.Title = "Kết chuyển dữ liệu khách hàng";
}

@*@using (Html.BeginForm("Ketchuyen", "Ketchuyen", FormMethod.Post))*@
@*{*@
    <div class="title">
        <h5><img src="~/Content/Images/lr_title_icon.png" />Kết chuyển dữ liệu khách hàng</h5>
    </div>
    <table class="table table-hover table-striped table-bordered table-width-medium" id="tbl-lst-sms">
        @*<tr class="title">
            <th colspan="3">
                <h4><img src="~/Content/Images/lr_title_icon.png" />Kết chuyển dữ liệu khách hàng</h4>
            </th>
        </tr>*@
        <tr>
            <td>
                <span class="bluetext">Chọn khu vực</span>
                <select class="form-control" id="khuvuc" name="khuvuc">
                    <option>Chọn khu vực</option>
                    @foreach (var item in Model)
                    {
                        <option value='@item.MAKHUVUC'>@item.TENKHUVUC</option>
                    }
                </select>                
            </td>
            <td>
                <span class="bluetext">Thông tin</span>
                <input type="text" id="chuky" name="chuky" class="form-control" readonly />
            </td>
        </tr>        
        <tr>
            @*<td colspan="2" class="centertext"><input onclick=" return confirm('Bạn có chắc chắn muốn kết chuyển dữ liệu?') " type="submit" id="Submit" name="Submit" value="Kết chuyển dữ liệu" class="btn btn-primary" /></td>*@
            <td colspan="2" class="centertext"><button onclick="Ketchuyen()" class="btn btn-primary">Kết chuyển dữ liệu</button></td>
        </tr>
    </table>
@*}*@
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $("#khuvuc").change(function () {
            var khuvuc = $("#khuvuc").val().toString();
            $.ajax({
                type: "POST",
                url: '@Url.Action("getChuky","Ketchuyen")',
                dataType: "json",
                data: { khuvuc: khuvuc },
                success: function (data) {
                    $("#chuky").val("Hiện đã có dữ liệu đến tháng "+ data.substr(4,2)+"/"+ data.substr(0,4));
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#chuky").val("Chưa có dữ liệu");
                }
            });
        });
    });
    function Ketchuyen() {
        bootbox.confirm({
            title: "Xác nhận kết chuyển?",
            size: "small",
            message: "Bạn có chắc chắn muốn kết chuyển khu vực này sang chu kỳ mới?",
            callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                if (result) {
                    var khuvuc = $("#khuvuc").val().toString();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Ketchuyen","Ketchuyen")',
                        dataType: "json",
                        data: { khuvuc: khuvuc },
                        success: function (data) {
                            $.sweetModal({
                                content: 'Kết chuyển thành công!',
                                icon: $.sweetModal.ICON_SUCCESS
                            });
                            //window.location.reload();
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("getChuky","Ketchuyen")',
                                dataType: "json",
                                data: { khuvuc: khuvuc },
                                success: function (data) {
                                    $("#chuky").val("Hiện đã có dữ liệu đến tháng " + data.substr(4, 2) + "/" + data.substr(0, 4));
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    $("#chuky").val("Chưa có dữ liệu");
                                }
                            });
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $.sweetModal({
                                content: 'Xảy ra lỗi trong quá trình thực hiện!',
                                icon: $.sweetModal.ICON_ERROR
                            });
                            //alert(xhr.status);
                            //alert(thrownError);
                        }
                    });
                }
            }
        });
    }
</script>





