﻿@{
    ViewBag.Title = "Thêm tài khoản mới";
}

<div class="title">
    <h5><img src="~/Content/Images/lr_title_icon.png" />Thêm tài khoản mới</h5>
</div>

<table class="table table-bordered table-hover table-width-medium" id="tbl-lst-sms">
    <tr>
        <td class="required righttext">Tên đăng nhập</td>
        <td><input id="txt_tmtendangnhap" name="txt_tmtendangnhap" class="form-control" /></td>
    </tr>
    <tr>
        <td class="required righttext">Mật khẩu</td>
        <td><input id="txt_tmmatkhau" name="txt_tmmatkhau" class="form-control" type="password" /></td>
    </tr>
    <tr>
        <td class="required righttext">Nhập lại mật khẩu</td>
        <td><input id="txt_tmrematkhau" name="txt_tmrematkhau" class="form-control" type="password" /></td>
    </tr>
    <tr>
        <td class="bluetext righttext">Quyền</td>
        <td>
            <select id="quyen" name="quyen" class="form-control">
                <option value="Administrator">Người quản trị</option>
                <option value="User">Người dùng bình thường</option>
                <option value="ReadOnly">Chỉ xem</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="bluetext righttext">Họ tên</td>
        <td><input id="txt_tmhoten" name="txt_tmhoten" class="form-control" /></td>
    </tr>
    <tr>
        <td colspan="2" class="centertext">
            <button class="btn btn-primary" onclick="InsertNguoidung()">Thêm người dùng mới</button>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="alert alert-danger">
            <span class="required" id="message"></span>
        </td>
    </tr>  
</table>


<!--Script-->
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script>
    function InsertNguoidung() {
        var message = "";
        if (txt_tmtendangnhap.value == "") {
            message = "Thông tin tên đăng nhập không được trống. ";
        }
        if (txt_tmrematkhau.value == "" || txt_tmmatkhau == "")
        {
            message = message +  "Thông tin mật khẩu không được trống. ";
        }
        if (txt_tmrematkhau.value != txt_tmmatkhau.value)
        {
            message = message + "Hai mật khẩu mới không khớp nhau. ";
        }
        if (txt_tmhoten.value == "") {
            message = message + "Họ tên không được trống. ";
        }
        if (txt_tmhoten.value != "" && txt_tmtendangnhap.value != "" && txt_tmmatkhau.value != "" && txt_tmrematkhau.value != "")
        {
            $.ajax({
                url: '@Url.Action("InsertNguoidung","Account")',
                type: "POST",
                data: 'tendangnhap=' + txt_tmtendangnhap.value + '&hoten=' + txt_tmhoten.value + '&matkhau=' + txt_tmmatkhau.value + '&quyen=' + quyen.value,
                success: function (data) {
                    $.sweetModal({
                        content: 'Thêm mới người dùng thành công!',
                        icon: $.sweetModal.ICON_SUCCESS
                    });
                    $("#txt_tmtendangnhap").val("");
                    $("#txt_tmhoten").val("");
                    $("#txt_tmmatkhau").val("");
                    $("#txt_tmrematkhau").val("");
                    //window.location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $.sweetModal({
                        content: 'Xảy ra lỗi trong quá trình thực hiện!',
                        icon: $.sweetModal.ICON_ERROR
                    });
                }
            });
        }
        else {
            $.sweetModal({
                content: 'Vui lòng nhập hoặc chọn đầy đủ các thông tin bắt buộc (chữ đỏ)!',
                icon: $.sweetModal.ICON_ERROR
            });
        }
    }
</script>