﻿@model IEnumerable<Data.NGUOIDUNG>

@{
    ViewBag.Title = "Cập nhật thông tin tài khoản";
}
<div class="title">
    <h5><img src="~/Content/Images/lr_title_icon.png" />Cập nhật thông tin tài khoản</h5>
</div>
<table class="table table-bordered table-hover table-width-medium" id="tbl-lst-sms">

@foreach(var item in Model)
{
    <tr>
        <td class="bluetext righttext">Tên đăng nhập</td>
        <td><input id="txttendangnhap" name="txttendangnhap" class="form-control" value="@item.TENDANGNHAP" readonly /></td>
    </tr>
    <tr>
        <td class="required righttext">Mật khẩu cũ</td>
        <td>
            <input id="txtmatkhaucu" name="txtmatkhaucu" class="form-control" type="password"  />
            <input type="hidden" id="txtmatkhaucu_hash" name="txtmatkhaucu_hash" value="@item.MATKHAU" class="form-control" />
        </td>
    </tr>
    <tr>
        <td class="required righttext">Mật khẩu mới</td>
        <td><input id="txtmatkhaumoi" name="txtmatkhaumoi" class="form-control" type="password" /></td>
    </tr>
    <tr>
        <td class="required righttext">Nhắc lại Mật khẩu mới</td>
        <td><input id="txtrematkhaumoi" name="txtrematkhaumoi" class="form-control" type="password" /></td>
    </tr>
    <tr>
        <td class="bluetext righttext">Họ tên</td>
        <td><input id="txthoten" name="txthoten" class="form-control" value="@item.HOTEN" /></td>
    </tr>
    <tr>
        <td colspan="2" class="centertext">
            <button class="btn btn-primary" onclick="UpdateNguoidung()">Cập nhật</button>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="alert alert-danger">
            <span class="required"  id="message"></span>
        </td>
    </tr>
}

</table>

<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/md5.min.js" type="text/javascript"></script>
<script>
    function UpdateNguoidung()
    {
        var hoten = $("#txthoten").val();
        var matkhaucu = $("#txtmatkhaucu").val();
        var matkhaumoi = $("#txtmatkhaumoi").val();
        var rematkhaumoi = $("#txtrematkhaumoi").val();
        var tendangnhap = $("#txttendangnhap").val();
        var matkhaucu_hash = $("#txtmatkhaucu_hash").val();
        var nhapmatkhaucu_hash = md5(tendangnhap + matkhaucu);
        var message = "";
        if (nhapmatkhaucu_hash != matkhaucu_hash)
        {           
            message = "Nhập mật khẩu cũ không đúng. ";
        }
        if (matkhaumoi != rematkhaumoi)
        {
            message = message +  "Hai mật khẩu mới không khớp nhau. ";
        }
        document.getElementById("message").innerText = message;
        if (nhapmatkhaucu_hash == matkhaucu_hash && matkhaumoi == rematkhaumoi)
        {
            message = "";
            $.ajax({
                url: '@Url.Action("UpdateThongtinNguoidung", "Account")',
                type: "POST",
                dataType: "json",
                data: 'hoten=' + hoten + '&matkhau=' + matkhaumoi + '&tendangnhap=' + tendangnhap,
                success: function (data) {
                    /*var json = $.parseJSON(data); // create an object with the key of the array
                    alert(data);*/
                    $.sweetModal({
                        content: 'Cập nhật thông tin thành công!',
                        icon: $.sweetModal.ICON_SUCCESS
                    });
                    //window.location.reload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $.sweetModal({
                        content: 'Xảy ra lỗi trong quá trình thực hiện!',
                        icon: $.sweetModal.ICON_ERROR
                    });
                }
            });
        }
    }
</script>

