﻿@model IEnumerable<Data.NGUOIDUNG>

@{
    ViewBag.Title = "Thay đổi quyền người dùng";
}

<div class="title">
    <h5><img src="~/Content/Images/lr_title_icon.png" />Thay đổi quyền người dùng</h5>
</div>
 <table class="table table-hover table-striped table-bordered" id="tbl-lst-sms">
    <tr>
        <th class="bluetext centertext">Tên đăng nhập</th>
        <th class="bluetext centertext">Họ tên</th>
        <th class="bluetext centertext">Quyền</th>
        <th class="bluetext centertext">Trạng thái</th>
        <th class="bluetext centertext">Chức năng</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td class="centertext">@item.TENDANGNHAP</td>
            <td><input value="@item.HOTEN" id="hoten_@item.TENDANGNHAP" name="hoten_@item.TENDANGNHAP" class="form-control" /></td>
            <td>
                <select id="quyen_@item.TENDANGNHAP" name="quyen_@item.TENDANGNHAP" class="form-control">
                    @if(item.QUYEN == "Administrator")
                    {
                        <option selected value="Administrator">Người quản trị</option>
                    }
                    else
                    {
                        <option value="Administrator">Người quản trị</option>
                    }
                    @if (item.QUYEN == "User")
                    {
                        <option selected value="User">Người dùng bình thường</option>
                    }
                    else
                    {
                        <option value="User">Người dùng bình thường</option>
                    }
                    @if (item.QUYEN == "ReadOnly")
                    {
                        <option selected value="ReadOnly">Chỉ xem</option>
                    }
                    else
                    {
                        <option value="ReadOnly">Chỉ xem</option>
                    }
                </select>
            </td>
            <td>
                <select id="trangthai_@item.TENDANGNHAP" name="trangthai_@item.TENDANGNHAP" class="form-control">
                    @if (item.TRANGTHAI == false)
                    {
                        <option selected value="0">Đang khóa</option>
                    }
                    else
                    {
                        <option value="0">Đang khóa</option>
                    }
                    @if (item.TRANGTHAI == true)
                    {
                        <option selected value="1">Đang hoạt động</option>
                    }
                    else
                    {
                        <option value="1">Đang hoạt động</option>
                    }                        
                </select>
            </td>                
            <td class="centertext">
                <button class="btn btn-primary" type="button" onclick="save('@item.TENDANGNHAP')">Lưu</button>
            </td>
        </tr>
    }
</table>

<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script>
    function confirmSave()
    {
        //return confirm("Bạn có chắc chắn muốn lưu thay đổi?");
    }
    function save(tendangnhap) {
        bootbox.confirm({
            title: "Xác nhận thay đổi?",
            size: "small",
            message: "Bạn có chắc chắn muốn lưu thay đổi?",
            callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                if (result) {
                    $.ajax({
                        url: '@Url.Action("UpdateQuyenNguoidung","Account")',
                        type: "POST",
                        data: 'tendangnhap=' + tendangnhap + '&quyen=' + document.getElementById("quyen_" + tendangnhap).value + '&trangthai=' + document.getElementById("trangthai_" + tendangnhap).value + '&hoten=' + document.getElementById("hoten_" + tendangnhap).value,
                        success: function (data) {
                            $.sweetModal({
                                content: 'Cập nhật thành công!',
                                icon: $.sweetModal.ICON_SUCCESS
                            });
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            //alert(xhr.status);
                            //alert(thrownError);
                            $.sweetModal({
                                content: 'Xảy ra lỗi trong quá trình thực hiện!',
                                icon: $.sweetModal.ICON_ERROR
                            });
                        }
                    });
                }
            }
        });


        @*if (confirmSave())
        {
            $.ajax({
                url: '@Url.Action("UpdateQuyen","Account")',
                type: "POST",
                data: 'tendangnhap=' + tendangnhap + '&quyen=' + document.getElementById("quyen_" + tendangnhap).value + '&trangthai=' + document.getElementById("trangthai_" + tendangnhap).value + '&hoten=' + document.getElementById("hoten_" + tendangnhap).value,
                success: function (data) {
                    //window.location.reload();
                    alert("Lưu thành công");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }*@
    }
</script>
